2026/04/Etm_sj2t6HZbOlAZtErMq.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-13T16:19:07.675Z",
    "createdAt": "2026-04-13T16:18:57.846Z",
    "versionId": "75511060-234b-49d9-8f6e-ed519281a957",
    "workflowId": "Etm_sj2t6HZbOlAZtErMq",
    "nodes": [
      {
        "parameters": {
          "jsCode": "// Доступ к имени рабочего процесса осуществляется через _workflow.name\nconst workflow_name = $workflow.name; \n\n// Ожидаем имя типа \"DB_Initializer_Schema_HR\" \n\n// Есть ли в имени суффикс\nconst parsing = workflow_name.split('_');\n\nif (parsing.length < 2) {\n  throw new Error(\"Не указана схема для пользователя в названии процесса.\");\n}\n\n// Берем последний элемент массива (индекс длина минус 1)\nconst schema_name = parsing[parsing.length - 1];\n\nreturn [{ json: { scheme_name: schema_name } }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          320,
          240
        ],
        "id": "6244da38-9a84-4fd6-afac-0e7dc9ac2687",
        "name": "Определение клиента"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -96,
          32
        ],
        "id": "8c297269-ecf0-4a2a-930d-39d167530f13",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "campaign_id"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -96,
          240
        ],
        "id": "3c88bd64-5738-4da2-bf74-db3b014f2cb0",
        "name": "Подпрограмма"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c03b6225-8587-4d26-b2c1-57cbe905e523",
                "name": "campaign_id",
                "value": "1861388811707553",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          144,
          32
        ],
        "id": "d363ef63-89bf-4305-9169-c938c46b52fb",
        "name": "Тестовый id кампании"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          144,
          240
        ],
        "id": "7a5e3b77-6d35-4e23-9dbe-c3b4653fd189",
        "name": "Данные"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "RD4z38INjKYcoijD",
            "mode": "list",
            "cachedResultName": "Кампании",
            "cachedResultUrl": "/projects/ILcfmLBZn60jlfes/datatables/RD4z38INjKYcoijD"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "campaign_id",
                "keyValue": "={{ $('Данные').item.json.campaign_id }}"
              }
            ]
          },
          "limit": 1
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          496,
          240
        ],
        "id": "cb6e23f7-69a2-4b23-9693-e57af2920cec",
        "name": "О кампании"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "59bd49ca-6ec8-45ff-adb2-6e5787c0b51d",
                "name": "scheme_name",
                "value": "={{ $('Определение клиента').item.json.scheme_name }}",
                "type": "string"
              },
              {
                "id": "b608ead0-18b2-4733-afd8-6e01bf9ea2a1",
                "name": "campaign_id",
                "value": "={{ $json.campaign_id }}",
                "type": "string"
              },
              {
                "id": "b1e3f57f-7ceb-4b92-8d20-6c5389fcf270",
                "name": "daily_budget",
                "value": "={{ $json.daily_budget }}",
                "type": "number"
              },
              {
                "id": "aa227f61-a645-4202-8167-ffd4c14204e3",
                "name": "advertising_platform",
                "value": "={{ $json.advertising_platform }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          672,
          240
        ],
        "id": "353cf127-90d2-4dcb-89f0-3d750673e37a",
        "name": "Сводка данных"
      },
      {
        "parameters": {
          "content": "## 🛠 Sub-workflow: sub_сводный_отчет_по_кампании_gradki\n\n### 📥 Вход (Parameters)\n*   `campaign_id`: ID кампании\n\n### 📤 Выход (JSON)\n*   `campaign_name`: Название.\n*   `campaign_id`: ID.\n*   `daily_budget`: Текущий бюджет.\n*   `is_active`: Статус (true, если бюджет > 0).\n*   `start_date`: Дата первого расхода (МСК).\n*   `last_work_date`: Последний день работы (вчера, если работала сегодня).\n*   `active_days`: Дней с расходами.\n*   `total_spend`: Общие траты.\n*   `total_leads`: Всего лидов.\n*   `avg_leads_per_day`: Лидов в день (среднее).\n*   `avg_lead_price`: CPL (средняя цена лида).\n*   `platform`: Источник трафика.\n",
          "height": 560,
          "width": 416
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -112,
          -560
        ],
        "typeVersion": 1,
        "id": "8d1d94a4-8ef5-4db6-a7f5-7dcef1f11258",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "includeOtherFields": true,
          "options": {}
        },
        "id": "74ee16a3-2742-4a92-98ae-85312a497caa",
        "name": "Return",
        "type": "n8n-nodes-base.set",
        "position": [
          1328,
          240
        ],
        "typeVersion": 3.3
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    MIN(date) AS start_date,\n    MAX(date) AS last_work_date,\n    SUM(spend) AS total_spend,\n    COUNT(DISTINCT date) AS active_days\nFROM {{ String($('Сводка данных').item.json.scheme_name) }}.daily_spends\nWHERE campaign_id = '{{ String($('Сводка данных').item.json.campaign_id) }}'\n  AND date < (NOW() AT TIME ZONE 'Europe/Minsk')::DATE;\n",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          848,
          240
        ],
        "id": "717938d1-997c-4b42-8eb0-cb614c47d60c",
        "name": "Данные о кампании",
        "credentials": {
          "postgres": {
            "id": "xe5rl8ApMEn9rCCd",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    COUNT(*) AS total_leads\nFROM {{ $('Сводка данных').item.json.scheme_name }}.leads\nWHERE campaign_id = '{{ $('Сводка данных').item.json.campaign_id }}'\n  AND (created_at AT TIME ZONE 'Europe/Minsk')::DATE \n      BETWEEN '{{ new Date($json.start_date).toISOString().split('T')[0] }}'::DATE \n          AND '{{ new Date($json.last_work_date).toISOString().split('T')[0] }}'::DATE;\n",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1008,
          240
        ],
        "id": "3f0b0fec-06dc-4078-a50c-1483c6497603",
        "name": "Количество лидов",
        "executeOnce": true,
        "credentials": {
          "postgres": {
            "id": "xe5rl8ApMEn9rCCd",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Данные о лидах (из последней ноды)\nconst leadsData = $('Количество лидов').first().json;\n\n// Данные о тратах и датах\nconst campaignStats = $('Данные о кампании').first().json;\n\n// Общая информация о кампании\nconst campaignInfo = $('О кампании').first().json;\n\nconst totalLeads = parseInt(leadsData.total_leads) || 0;\nconst totalSpend = parseFloat(campaignStats.total_spend) || 0;\nconst activeDays = parseInt(campaignStats.active_days) || 0;\n\nreturn {\n  campaign_name: campaignInfo.campaign_name || \"Без названия\", \n  campaign_id: campaignInfo.campaign_id,\n  daily_budget: campaignInfo.daily_budget,\n  is_active: campaignInfo.daily_budget > 0,\n  start_date: campaignStats.start_date || \"Нет данных\",\n  last_work_date: campaignStats.last_work_date || \"Нет данных\",\n  active_days: activeDays,\n  total_spend: totalSpend,\n  total_leads: totalLeads,\n  avg_leads_per_day: activeDays > 0 ? +(totalLeads / activeDays).toFixed(2) : 0,\n  avg_lead_price: totalLeads > 0 ? +(totalSpend / totalLeads).toFixed(2) : 0,\n  platform: campaignInfo.advertising_platform\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1168,
          240
        ],
        "id": "1e8491a9-bcf0-4f2e-9b94-18036ce74ac8",
        "name": "Сборка"
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Тестовый id кампании",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Подпрограмма": {
        "main": [
          [
            {
              "node": "Данные",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Тестовый id кампании": {
        "main": [
          [
            {
              "node": "Данные",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Данные": {
        "main": [
          [
            {
              "node": "Определение клиента",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Определение клиента": {
        "main": [
          [
            {
              "node": "О кампании",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "О кампании": {
        "main": [
          [
            {
              "node": "Сводка данных",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Сводка данных": {
        "main": [
          [
            {
              "node": "Данные о кампании",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Данные о кампании": {
        "main": [
          [
            {
              "node": "Количество лидов",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Количество лидов": {
        "main": [
          [
            {
              "node": "Сборка",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Сборка": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Алексей К",
    "name": "Version 75511060",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "75511060-234b-49d9-8f6e-ed519281a957",
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Тестовый id кампании",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подпрограмма": {
      "main": [
        [
          {
            "node": "Данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тестовый id кампании": {
      "main": [
        [
          {
            "node": "Данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Данные": {
      "main": [
        [
          {
            "node": "Определение клиента",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Определение клиента": {
      "main": [
        [
          {
            "node": "О кампании",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "О кампании": {
      "main": [
        [
          {
            "node": "Сводка данных",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сводка данных": {
      "main": [
        [
          {
            "node": "Данные о кампании",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Данные о кампании": {
      "main": [
        [
          {
            "node": "Количество лидов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Количество лидов": {
      "main": [
        [
          {
            "node": "Сборка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сборка": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-12T16:04:21.372Z",
  "id": "Etm_sj2t6HZbOlAZtErMq",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "sub_отчет_по_кампании_gradki",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Доступ к имени рабочего процесса осуществляется через _workflow.name\nconst workflow_name = $workflow.name; \n\n// Ожидаем имя типа \"DB_Initializer_Schema_HR\" \n\n// Есть ли в имени суффикс\nconst parsing = workflow_name.split('_');\n\nif (parsing.length < 2) {\n  throw new Error(\"Не указана схема для пользователя в названии процесса.\");\n}\n\n// Берем последний элемент массива (индекс длина минус 1)\nconst schema_name = parsing[parsing.length - 1];\n\nreturn [{ json: { scheme_name: schema_name } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        240
      ],
      "id": "6244da38-9a84-4fd6-afac-0e7dc9ac2687",
      "name": "Определение клиента"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        32
      ],
      "id": "8c297269-ecf0-4a2a-930d-39d167530f13",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "campaign_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -96,
        240
      ],
      "id": "3c88bd64-5738-4da2-bf74-db3b014f2cb0",
      "name": "Подпрограмма"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c03b6225-8587-4d26-b2c1-57cbe905e523",
              "name": "campaign_id",
              "value": "1861388811707553",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        32
      ],
      "id": "d363ef63-89bf-4305-9169-c938c46b52fb",
      "name": "Тестовый id кампании"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        144,
        240
      ],
      "id": "7a5e3b77-6d35-4e23-9dbe-c3b4653fd189",
      "name": "Данные"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "RD4z38INjKYcoijD",
          "mode": "list",
          "cachedResultName": "Кампании",
          "cachedResultUrl": "/projects/ILcfmLBZn60jlfes/datatables/RD4z38INjKYcoijD"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "campaign_id",
              "keyValue": "={{ $('Данные').item.json.campaign_id }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        496,
        240
      ],
      "id": "cb6e23f7-69a2-4b23-9693-e57af2920cec",
      "name": "О кампании"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59bd49ca-6ec8-45ff-adb2-6e5787c0b51d",
              "name": "scheme_name",
              "value": "={{ $('Определение клиента').item.json.scheme_name }}",
              "type": "string"
            },
            {
              "id": "b608ead0-18b2-4733-afd8-6e01bf9ea2a1",
              "name": "campaign_id",
              "value": "={{ $json.campaign_id }}",
              "type": "string"
            },
            {
              "id": "b1e3f57f-7ceb-4b92-8d20-6c5389fcf270",
              "name": "daily_budget",
              "value": "={{ $json.daily_budget }}",
              "type": "number"
            },
            {
              "id": "aa227f61-a645-4202-8167-ffd4c14204e3",
              "name": "advertising_platform",
              "value": "={{ $json.advertising_platform }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        240
      ],
      "id": "353cf127-90d2-4dcb-89f0-3d750673e37a",
      "name": "Сводка данных"
    },
    {
      "parameters": {
        "content": "## 🛠 Sub-workflow: sub_сводный_отчет_по_кампании_gradki\n\n### 📥 Вход (Parameters)\n*   `campaign_id`: ID кампании\n\n### 📤 Выход (JSON)\n*   `campaign_name`: Название.\n*   `campaign_id`: ID.\n*   `daily_budget`: Текущий бюджет.\n*   `is_active`: Статус (true, если бюджет > 0).\n*   `start_date`: Дата первого расхода (МСК).\n*   `last_work_date`: Последний день работы (вчера, если работала сегодня).\n*   `active_days`: Дней с расходами.\n*   `total_spend`: Общие траты.\n*   `total_leads`: Всего лидов.\n*   `avg_leads_per_day`: Лидов в день (среднее).\n*   `avg_lead_price`: CPL (средняя цена лида).\n*   `platform`: Источник трафика.\n",
        "height": 560,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        -560
      ],
      "typeVersion": 1,
      "id": "8d1d94a4-8ef5-4db6-a7f5-7dcef1f11258",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "id": "74ee16a3-2742-4a92-98ae-85312a497caa",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        1328,
        240
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    MIN(date) AS start_date,\n    MAX(date) AS last_work_date,\n    SUM(spend) AS total_spend,\n    COUNT(DISTINCT date) AS active_days\nFROM {{ String($('Сводка данных').item.json.scheme_name) }}.daily_spends\nWHERE campaign_id = '{{ String($('Сводка данных').item.json.campaign_id) }}'\n  AND date < (NOW() AT TIME ZONE 'Europe/Minsk')::DATE;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        848,
        240
      ],
      "id": "717938d1-997c-4b42-8eb0-cb614c47d60c",
      "name": "Данные о кампании",
      "credentials": {
        "postgres": {
          "id": "xe5rl8ApMEn9rCCd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    COUNT(*) AS total_leads\nFROM {{ $('Сводка данных').item.json.scheme_name }}.leads\nWHERE campaign_id = '{{ $('Сводка данных').item.json.campaign_id }}'\n  AND (created_at AT TIME ZONE 'Europe/Minsk')::DATE \n      BETWEEN '{{ new Date($json.start_date).toISOString().split('T')[0] }}'::DATE \n          AND '{{ new Date($json.last_work_date).toISOString().split('T')[0] }}'::DATE;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1008,
        240
      ],
      "id": "3f0b0fec-06dc-4078-a50c-1483c6497603",
      "name": "Количество лидов",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "xe5rl8ApMEn9rCCd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Данные о лидах (из последней ноды)\nconst leadsData = $('Количество лидов').first().json;\n\n// Данные о тратах и датах\nconst campaignStats = $('Данные о кампании').first().json;\n\n// Общая информация о кампании\nconst campaignInfo = $('О кампании').first().json;\n\nconst totalLeads = parseInt(leadsData.total_leads) || 0;\nconst totalSpend = parseFloat(campaignStats.total_spend) || 0;\nconst activeDays = parseInt(campaignStats.active_days) || 0;\n\nreturn {\n  campaign_name: campaignInfo.campaign_name || \"Без названия\", \n  campaign_id: campaignInfo.campaign_id,\n  daily_budget: campaignInfo.daily_budget,\n  is_active: campaignInfo.daily_budget > 0,\n  start_date: campaignStats.start_date || \"Нет данных\",\n  last_work_date: campaignStats.last_work_date || \"Нет данных\",\n  active_days: activeDays,\n  total_spend: totalSpend,\n  total_leads: totalLeads,\n  avg_leads_per_day: activeDays > 0 ? +(totalLeads / activeDays).toFixed(2) : 0,\n  avg_lead_price: totalLeads > 0 ? +(totalSpend / totalLeads).toFixed(2) : 0,\n  platform: campaignInfo.advertising_platform\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        240
      ],
      "id": "1e8491a9-bcf0-4f2e-9b94-18036ce74ac8",
      "name": "Сборка"
    }
  ],
  "pinData": {},
  "repo_name": "N8N",
  "repo_owner": "avdivo",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Minsk",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-04-12T16:04:21.372Z",
      "createdAt": "2026-04-12T16:04:21.372Z",
      "role": "workflow:owner",
      "workflowId": "Etm_sj2t6HZbOlAZtErMq",
      "projectId": "ILcfmLBZn60jlfes"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-13T21:01:20.752Z",
  "versionId": "1460e21d-fbd0-4af1-905b-3cebf850520b"
}