2026/04/jhbBMtEYGMMEJX31OiM3-.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-18T20:14:28.752Z",
    "createdAt": "2026-04-18T19:39:13.188Z",
    "versionId": "1343fcbc-0724-4e8b-9b3f-33f396657a56",
    "workflowId": "jhbBMtEYGMMEJX31OiM3-",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "*"
          ],
          "additionalFields": {
            "chatIds": ""
          }
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -1008,
          1200
        ],
        "id": "5ddb6c40-6454-4508-ad2d-10ad25bcd749",
        "name": "Telegram Trigger",
        "webhookId": "903511e8-e3f0-43b7-937b-e47406a9734a",
        "credentials": {
          "telegramApi": {
            "id": "IQJLoP9sNTnsVVqS",
            "name": "AlexLenaBot"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "1c36bdfd-7a9a-4f5d-bd53-12ffc8c8f829",
                      "operator": {
                        "type": "string",
                        "operation": "exists",
                        "singleValue": true
                      },
                      "leftValue": "={{ $json.message.caption }}",
                      "rightValue": ""
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Attachmet+Message(Caption)"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "a0080ad2-7885-4485-ae57-0c4dea199483",
                      "operator": {
                        "type": "object",
                        "operation": "exists",
                        "singleValue": true
                      },
                      "leftValue": "={{ $json.message.document }}",
                      "rightValue": ""
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Attachment Only"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "df878dd1-7cc4-4632-9873-aeeab06f4032",
                      "leftValue": "={{ $json.callback_query.data }}",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "exists",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "inline_key"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "dd9f3c11-ba4b-4963-bc02-23cd7670bf94",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.message.text }}",
                      "rightValue": "📈 Отчеты"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "key"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "01ce11f5-1553-4366-af64-b031f9889a59",
                      "leftValue": "={{ $json.message.text }}",
                      "rightValue": "/",
                      "operator": {
                        "type": "string",
                        "operation": "startsWith"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "command"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "55a6c122-0bea-4867-95a1-957623bfeeb2",
                      "leftValue": "={{ $json.message.text }}",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "exists",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "text"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "6b97f270-151d-4fd6-9baa-7449816e5739",
                      "leftValue": "={{ $json.message.voice }}",
                      "rightValue": "",
                      "operator": {
                        "type": "object",
                        "operation": "exists",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "voice"
              }
            ]
          },
          "options": {}
        },
        "id": "4b9f3006-c6c3-4c37-b9f6-cf87997b0683",
        "name": "Switch",
        "type": "n8n-nodes-base.switch",
        "position": [
          -528,
          1120
        ],
        "typeVersion": 3.2
      },
      {
        "parameters": {},
        "id": "4ff299b9-a17f-4955-b917-6d8edc3e12ba",
        "name": "text",
        "type": "n8n-nodes-base.noOp",
        "position": [
          -176,
          1792
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "0f3c6f40-12d9-4418-88d4-1ec1d7f0cb37",
        "name": "voice",
        "type": "n8n-nodes-base.noOp",
        "position": [
          -176,
          1952
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.message.text }}",
                      "rightValue": "/start",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "174c5fce-a4ba-41fe-935a-b4d5541ed598"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "1f426258-186a-4c53-9910-62eef9e3c8da",
                      "leftValue": "={{ $json.message.text }}",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "exists",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -176,
          1568
        ],
        "id": "dfac9eef-3d66-46cf-b1b8-a469de629ade",
        "name": "Определение команды"
      },
      {
        "parameters": {
          "chatId": "={{ $json.message.from.id }}",
          "text": "Отчеты",
          "replyMarkup": "replyKeyboard",
          "replyKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "📈 Отчеты",
                      "additionalFields": {}
                    }
                  ]
                }
              }
            ]
          },
          "replyKeyboardOptions": {
            "resize_keyboard": true
          },
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          48,
          1552
        ],
        "id": "9921c103-b50d-4c99-a553-8ecd54a7ba14",
        "name": "start",
        "webhookId": "9f534039-81ba-4071-8ae9-5ccc323cdd0c",
        "credentials": {
          "telegramApi": {
            "id": "IQJLoP9sNTnsVVqS",
            "name": "AlexLenaBot"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.message.from.id }}",
          "text": "Выберите отчет",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "📅 Сегодняшние показатели",
                      "additionalFields": {
                        "callback_data": "today"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "📊 Отчет по всем кампаниям",
                      "additionalFields": {
                        "callback_data": "all_campaign"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -176,
          1376
        ],
        "id": "c473b797-ca66-4239-9f07-d092bea71e87",
        "name": "Вывод списка отчетов",
        "webhookId": "6b2d1573-159e-4030-8ee6-40ac53afaf30",
        "credentials": {
          "telegramApi": {
            "id": "IQJLoP9sNTnsVVqS",
            "name": "AlexLenaBot"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.callback_query.data }}",
                      "rightValue": "today",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "174c5fce-a4ba-41fe-935a-b4d5541ed598"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "today"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "1f426258-186a-4c53-9910-62eef9e3c8da",
                      "leftValue": "={{ $json.callback_query.data }}",
                      "rightValue": "all_campaign",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "all_campaign"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "20bf393f-20fb-43d3-b35b-085c7743c542",
                      "leftValue": "={{ $json.callback_query.data }}",
                      "rightValue": "cmpid-",
                      "operator": {
                        "type": "string",
                        "operation": "startsWith"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -176,
          1104
        ],
        "id": "43bea5e0-945a-456c-b861-bfdf657f6728",
        "name": "Вывод отчетов"
      },
      {
        "parameters": {
          "fieldToSplitOut": "message.document.file_id, message.document.file_name, message.caption",
          "options": {}
        },
        "id": "843757e6-790e-4239-98c9-d8b3dce15a20",
        "name": "Split Out",
        "type": "n8n-nodes-base.splitOut",
        "position": [
          -176,
          608
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "41cf616c-c640-4f61-a2ba-49715aa1bf2a",
                "name": "file_id",
                "type": "string",
                "value": "={{$json.message.document.file_id}}"
              },
              {
                "id": "22fcf53f-ebd5-4294-9fd8-7a485b8293f2",
                "name": "file_name",
                "type": "string",
                "value": "={{$json.message.document.file_name}}"
              }
            ]
          },
          "options": {}
        },
        "id": "832fea8f-f842-4287-8676-8b6a1e32e5c7",
        "name": "Get Attachment Only",
        "type": "n8n-nodes-base.set",
        "position": [
          -176,
          800
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "41cf616c-c640-4f61-a2ba-49715aa1bf2a",
                "name": "file_id",
                "type": "string",
                "value": "={{ $json['message.document.file_id'] }}"
              },
              {
                "id": "22fcf53f-ebd5-4294-9fd8-7a485b8293f2",
                "name": "file_name",
                "type": "string",
                "value": "={{ $json['message.document.file_name'] }}"
              }
            ]
          },
          "options": {}
        },
        "id": "e3f110f0-363f-42c3-a8e6-526800037fb2",
        "name": "Get Attachment",
        "type": "n8n-nodes-base.set",
        "position": [
          64,
          608
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {},
        "id": "5d083d07-aa70-4682-b952-8c06ba268726",
        "name": "Next Step !",
        "type": "n8n-nodes-base.noOp",
        "position": [
          272,
          416
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "e423e65e-9db3-49e3-bb50-b3f412f57f5c",
        "name": "Next Step !  ",
        "type": "n8n-nodes-base.noOp",
        "position": [
          272,
          800
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8de49002-38ba-43fe-ba48-18e8c85241a2",
                "name": "chat_message_content",
                "type": "string",
                "value": "={{ $json['message.caption'] }}"
              }
            ]
          },
          "options": {}
        },
        "id": "58984519-1e79-4674-ae75-33f97bdad031",
        "name": "Get Chat Message Content",
        "type": "n8n-nodes-base.set",
        "position": [
          64,
          416
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "ua8o0NobwwFYFU6qwMV_y",
            "mode": "list",
            "cachedResultUrl": "/workflow/ua8o0NobwwFYFU6qwMV_y",
            "cachedResultName": "sub_сводка_за_период_gradki"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "from_date": "={{ $now.toFormat('yyyy.MM.dd') }}",
              "to_date": "={{ $now.toFormat('yyyy.MM.dd') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "from_date",
                "displayName": "from_date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "to_date",
                "displayName": "to_date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          272,
          960
        ],
        "id": "26d9285c-bda0-436c-840e-e6c1e4499ae4",
        "name": "Дневной отчет",
        "executeOnce": true,
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "// Доступ к имени рабочего процесса осуществляется через _workflow.name\nconst workflow_name = $workflow.name;\n\n// Ожидаем имя типа \"DB_Initializer_Schema_HR\"\n\n// Есть ли в имени суффикс\nconst parsing = workflow_name.split('_');\nif (parsing.length < 2) {\n  throw new Error(\"Не указана схема для пользователя в названии процесса.\");\n}\n\nconst schema_name = parsing[1];\n\nreturn [{ json: { scheme_name: schema_name } }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -848,
          1200
        ],
        "id": "4b3acb7d-a012-4084-abb2-9c16a9781b83",
        "name": "Определение клиента"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    campaign_id,\n    campaign_name,\n    advertising_platform\nFROM {{ $('Определение клиента').item.json.scheme_name }}.daily_spends\nGROUP BY \n    campaign_id, \n    campaign_name,\n    advertising_platform;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          272,
          1120
        ],
        "id": "dae855a1-e906-45c9-a948-810f761dd7e4",
        "name": "Получаем все кмпании",
        "credentials": {
          "postgres": {
            "id": "xe5rl8ApMEn9rCCd",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Восстанавливаем оригинальные данные прямо из Telegram Trigger\nreturn $('Telegram Trigger').all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -688,
          1200
        ],
        "id": "acbc6ab0-4460-40c5-a230-d8de186df97a",
        "name": "Данные из ТГ"
      },
      {
        "parameters": {
          "jsCode": "// Получаем элементы из предыдущей ноды с кампаниями\nconst items = $input.all();\n\n// Формируем массив инлайн-кнопок\nconst keyboard = items.map(item => {\n  const name = item.json.campaign_name;\n  const platform = item.json.advertising_platform; // Источник\n  const id = item.json.campaign_id; // ID кампании\n  \n  return [\n    {\n      // Текст кнопки: \"Название (Источник)\"\n      \"text\": `📈 ${name} (${platform})`,          \n      // Колбэк: \"cmpid-[ID]\"\n      \"callback_data\": `cmpid-${id}`\n    }\n  ];\n});\n\n// Возвращаем готовую структуру для отправки\nreturn {\n  json: {\n    text: \"Выберите кампанию:\",\n    reply_markup: {\n      inline_keyboard: keyboard\n    }\n  }\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          464,
          1120
        ],
        "id": "435609f0-e909-480d-b316-5eae3c6b27a8",
        "name": "Подготовка кнопок"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://vault-n8n:8000/api/v1/secrets/single",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "key",
                "value": "Токен_telegram_AlexLenaBot"
              },
              {
                "name": "value"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -1024,
          704
        ],
        "id": "3e11fb3d-994a-4c16-ab62-c6014ffd4c8e",
        "name": "Добавить ключ тг",
        "alwaysOutputData": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "fYFnpIika2dCryN4",
            "name": "VaultN8N"
          }
        },
        "notes": "https://techcrunch.com/2026/01/22/anthropic-has-to-keep-revising-its-technical-interview-test-so-you-cant-cheat-on-it-with-claude/"
      },
      {
        "parameters": {
          "url": "http://vault-n8n:8000/api/v1/secrets",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "keys",
                "value": "*"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -784,
          704
        ],
        "id": "174b52bc-637e-45b1-b772-b330e83274a1",
        "name": "Показать все секреты",
        "alwaysOutputData": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "fYFnpIika2dCryN4",
            "name": "VaultN8N"
          }
        },
        "notes": "https://techcrunch.com/2026/01/22/anthropic-has-to-keep-revising-its-technical-interview-test-so-you-cant-cheat-on-it-with-claude/"
      },
      {
        "parameters": {
          "url": "http://vault-n8n:8000/api/v1/secrets",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "keys",
                "value": "Токен_telegram_AlexLenaBot"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          656,
          1120
        ],
        "id": "558e2e81-5a65-40d0-a2b2-db1724991b07",
        "name": "Получить токен бота",
        "alwaysOutputData": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "fYFnpIika2dCryN4",
            "name": "VaultN8N"
          }
        },
        "notes": "https://techcrunch.com/2026/01/22/anthropic-has-to-keep-revising-its-technical-interview-test-so-you-cant-cheat-on-it-with-claude/"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.telegram.org/bot{{ $json.value }}/sendMessage",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"chat_id\": \"{{ $('Вывод отчетов').first().json.callback_query.from.id }}\",\n  \"text\": \"{{ $('Подготовка кнопок').first().json.text }}\",\n  \"reply_markup\": {{ JSON.stringify($('Подготовка кнопок').first().json.reply_markup) }}\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          848,
          1120
        ],
        "id": "45f281d9-dea8-486b-8cd8-dc1f76dd4bfc",
        "name": "Клавиатура в тг"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "bb53Yk8vv40U1KsErMgWL",
            "mode": "list",
            "cachedResultUrl": "/workflow/bb53Yk8vv40U1KsErMgWL",
            "cachedResultName": "sub_отчет_по_кампании_с_аналитикой_gradki"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "campaign_id": "={{ $json.callback_query.data.split('-')[1] }}"
            },
            "matchingColumns": [
              "campaign_id"
            ],
            "schema": [
              {
                "id": "campaign_id",
                "displayName": "campaign_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          272,
          1296
        ],
        "id": "f975d2f2-7a7d-4179-84c2-7c4fbf51402f",
        "name": "Отчет по кампании с аналитикой",
        "executeOnce": true
      },
      {
        "parameters": {
          "chatId": "={{ $('Вывод отчетов').first().json.callback_query.from.id }}",
          "text": "={{ $json.tg_html }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          464,
          1296
        ],
        "id": "81c448fa-8029-4457-93a4-def935534684",
        "name": "Ответ",
        "webhookId": "7d5d0791-b540-4df3-a9e3-c0114ca33624",
        "credentials": {
          "telegramApi": {
            "id": "IQJLoP9sNTnsVVqS",
            "name": "AlexLenaBot"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Вывод отчетов').first().json.callback_query.from.id }}",
          "text": "={{ $json.report }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "Markdown"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          656,
          800
        ],
        "id": "b1b70d38-0732-49bf-95b7-d22da296cbd0",
        "name": "Ответ1",
        "webhookId": "7d5d0791-b540-4df3-a9e3-c0114ca33624",
        "credentials": {
          "telegramApi": {
            "id": "IQJLoP9sNTnsVVqS",
            "name": "AlexLenaBot"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "2f46cb8f-d4f7-4ca1-a1fa-9eb23307a475",
                "leftValue": "={{ $json.isEmpty() }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          480,
          960
        ],
        "id": "ca747ddb-468f-4a75-b5f2-0bc553596241",
        "name": "If"
      },
      {
        "parameters": {
          "chatId": "={{ $('Вывод отчетов').first().json.callback_query.from.id }}",
          "text": "=Сегодня лидов нет",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "Markdown"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          656,
          960
        ],
        "id": "e7a0d1c2-348f-4b0d-ac4b-26774297e484",
        "name": "Пустой ответ",
        "webhookId": "7d5d0791-b540-4df3-a9e3-c0114ca33624",
        "credentials": {
          "telegramApi": {
            "id": "IQJLoP9sNTnsVVqS",
            "name": "AlexLenaBot"
          }
        }
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Определение клиента",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get Attachment Only",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Вывод отчетов",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Вывод списка отчетов",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Определение команды",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "text",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "voice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Определение команды": {
        "main": [
          [
            {
              "node": "start",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Вывод отчетов": {
        "main": [
          [
            {
              "node": "Дневной отчет",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Получаем все кмпании",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Отчет по кампании с аналитикой",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Get Chat Message Content",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get Attachment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Attachment Only": {
        "main": [
          [
            {
              "node": "Next Step !  ",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Attachment": {
        "main": [
          [
            {
              "node": "Next Step !  ",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Chat Message Content": {
        "main": [
          [
            {
              "node": "Next Step !",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Дневной отчет": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Определение клиента": {
        "main": [
          [
            {
              "node": "Данные из ТГ",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Данные из ТГ": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Получаем все кмпании": {
        "main": [
          [
            {
              "node": "Подготовка кнопок",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Подготовка кнопок": {
        "main": [
          [
            {
              "node": "Получить токен бота",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Получить токен бота": {
        "main": [
          [
            {
              "node": "Клавиатура в тг",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Отчет по кампании с аналитикой": {
        "main": [
          [
            {
              "node": "Ответ",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Ответ1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Пустой ответ",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Алексей К",
    "name": "Version 1343fcbc",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "1343fcbc-0724-4e8b-9b3f-33f396657a56",
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Определение клиента",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Разделить (имя, подпись, id)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Получить только вложение",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Вывод отчетов",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Вывод списка отчетов",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Определение команды",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Определение команды": {
      "main": [
        [
          {
            "node": "start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Вывод отчетов": {
      "main": [
        [
          {
            "node": "Дневной отчет",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Получаем все кмпании",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отчет по кампании с аналитикой",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Дневной отчет": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Определение клиента": {
      "main": [
        [
          {
            "node": "Данные из ТГ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Данные из ТГ": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем все кмпании": {
      "main": [
        [
          {
            "node": "Подготовка кнопок",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовка кнопок": {
      "main": [
        [
          {
            "node": "Получить токен бота",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить токен бота": {
      "main": [
        [
          {
            "node": "Клавиатура в тг",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отчет по кампании с аналитикой": {
      "main": [
        [
          {
            "node": "Ответ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Ответ1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Пустой ответ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить только вложение": {
      "main": [
        [
          {
            "node": "Next Step !  ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить вложение": {
      "main": [
        [
          {
            "node": "Next Step !  ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подпись файла": {
      "main": [
        [
          {
            "node": "Next Step !",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разделить (имя, подпись, id)": {
      "main": [
        [
          {
            "node": "Подпись файла",
            "type": "main",
            "index": 0
          },
          {
            "node": "Получить вложение",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-16T22:05:51.648Z",
  "id": "jhbBMtEYGMMEJX31OiM3-",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ТГ Бот Аналитика_gradki",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {
          "chatIds": ""
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1008,
        1200
      ],
      "id": "5ddb6c40-6454-4508-ad2d-10ad25bcd749",
      "name": "Telegram Trigger",
      "webhookId": "903511e8-e3f0-43b7-937b-e47406a9734a",
      "credentials": {
        "telegramApi": {
          "id": "IQJLoP9sNTnsVVqS",
          "name": "AlexLenaBot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "1c36bdfd-7a9a-4f5d-bd53-12ffc8c8f829",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.caption }}",
                    "rightValue": ""
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Attachmet+Message(Caption)"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "a0080ad2-7885-4485-ae57-0c4dea199483",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.document }}",
                    "rightValue": ""
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Attachment Only"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "df878dd1-7cc4-4632-9873-aeeab06f4032",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "inline_key"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "dd9f3c11-ba4b-4963-bc02-23cd7670bf94",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "📈 Отчеты"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "key"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "01ce11f5-1553-4366-af64-b031f9889a59",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "command"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "55a6c122-0bea-4867-95a1-957623bfeeb2",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6b97f270-151d-4fd6-9baa-7449816e5739",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {}
      },
      "id": "4b9f3006-c6c3-4c37-b9f6-cf87997b0683",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        -528,
        1120
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {},
      "id": "4ff299b9-a17f-4955-b917-6d8edc3e12ba",
      "name": "text",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -176,
        1792
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "0f3c6f40-12d9-4418-88d4-1ec1d7f0cb37",
      "name": "voice",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -176,
        1952
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "174c5fce-a4ba-41fe-935a-b4d5541ed598"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1f426258-186a-4c53-9910-62eef9e3c8da",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -176,
        1568
      ],
      "id": "dfac9eef-3d66-46cf-b1b8-a469de629ade",
      "name": "Определение команды"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "Отчеты",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "📈 Отчеты",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        1552
      ],
      "id": "9921c103-b50d-4c99-a553-8ecd54a7ba14",
      "name": "start",
      "webhookId": "9f534039-81ba-4071-8ae9-5ccc323cdd0c",
      "credentials": {
        "telegramApi": {
          "id": "IQJLoP9sNTnsVVqS",
          "name": "AlexLenaBot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "Выберите отчет",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "📅 Сегодняшние показатели",
                    "additionalFields": {
                      "callback_data": "today"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "📊 Отчет по всем кампаниям",
                    "additionalFields": {
                      "callback_data": "all_campaign"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -176,
        1376
      ],
      "id": "c473b797-ca66-4239-9f07-d092bea71e87",
      "name": "Вывод списка отчетов",
      "webhookId": "6b2d1573-159e-4030-8ee6-40ac53afaf30",
      "credentials": {
        "telegramApi": {
          "id": "IQJLoP9sNTnsVVqS",
          "name": "AlexLenaBot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "today",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "174c5fce-a4ba-41fe-935a-b4d5541ed598"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "today"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1f426258-186a-4c53-9910-62eef9e3c8da",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "all_campaign",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "all_campaign"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "20bf393f-20fb-43d3-b35b-085c7743c542",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "cmpid-",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -176,
        1104
      ],
      "id": "43bea5e0-945a-456c-b861-bfdf657f6728",
      "name": "Вывод отчетов"
    },
    {
      "parameters": {},
      "id": "5d083d07-aa70-4682-b952-8c06ba268726",
      "name": "Next Step !",
      "type": "n8n-nodes-base.noOp",
      "position": [
        272,
        416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "e423e65e-9db3-49e3-bb50-b3f412f57f5c",
      "name": "Next Step !  ",
      "type": "n8n-nodes-base.noOp",
      "position": [
        272,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ua8o0NobwwFYFU6qwMV_y",
          "mode": "list",
          "cachedResultUrl": "/workflow/ua8o0NobwwFYFU6qwMV_y",
          "cachedResultName": "sub_сводка_за_период_gradki"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "from_date": "={{ $now.toFormat('yyyy.MM.dd') }}",
            "to_date": "={{ $now.toFormat('yyyy.MM.dd') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "from_date",
              "displayName": "from_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "to_date",
              "displayName": "to_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        272,
        960
      ],
      "id": "26d9285c-bda0-436c-840e-e6c1e4499ae4",
      "name": "Дневной отчет",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Доступ к имени рабочего процесса осуществляется через _workflow.name\nconst workflow_name = $workflow.name;\n\n// Ожидаем имя типа \"DB_Initializer_Schema_HR\"\n\n// Есть ли в имени суффикс\nconst parsing = workflow_name.split('_');\nif (parsing.length < 2) {\n  throw new Error(\"Не указана схема для пользователя в названии процесса.\");\n}\n\nconst schema_name = parsing[1];\n\nreturn [{ json: { scheme_name: schema_name } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        1200
      ],
      "id": "4b3acb7d-a012-4084-abb2-9c16a9781b83",
      "name": "Определение клиента"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    campaign_id,\n    campaign_name,\n    advertising_platform\nFROM {{ $('Определение клиента').item.json.scheme_name }}.daily_spends\nGROUP BY \n    campaign_id, \n    campaign_name,\n    advertising_platform;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        272,
        1120
      ],
      "id": "dae855a1-e906-45c9-a948-810f761dd7e4",
      "name": "Получаем все кмпании",
      "credentials": {
        "postgres": {
          "id": "xe5rl8ApMEn9rCCd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Восстанавливаем оригинальные данные прямо из Telegram Trigger\nreturn $('Telegram Trigger').all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        1200
      ],
      "id": "acbc6ab0-4460-40c5-a230-d8de186df97a",
      "name": "Данные из ТГ"
    },
    {
      "parameters": {
        "jsCode": "// Получаем элементы из предыдущей ноды с кампаниями\nconst items = $input.all();\n\n// Формируем массив инлайн-кнопок\nconst keyboard = items.map(item => {\n  const name = item.json.campaign_name;\n  const platform = item.json.advertising_platform; // Источник\n  const id = item.json.campaign_id; // ID кампании\n  \n  return [\n    {\n      // Текст кнопки: \"Название (Источник)\"\n      \"text\": `📈 ${name} (${platform})`,          \n      // Колбэк: \"cmpid-[ID]\"\n      \"callback_data\": `cmpid-${id}`\n    }\n  ];\n});\n\n// Возвращаем готовую структуру для отправки\nreturn {\n  json: {\n    text: \"Выберите кампанию:\",\n    reply_markup: {\n      inline_keyboard: keyboard\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        1120
      ],
      "id": "435609f0-e909-480d-b316-5eae3c6b27a8",
      "name": "Подготовка кнопок"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://vault-n8n:8000/api/v1/secrets/single",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "Токен_telegram_AlexLenaBot"
            },
            {
              "name": "value"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1024,
        704
      ],
      "id": "3e11fb3d-994a-4c16-ab62-c6014ffd4c8e",
      "name": "Добавить ключ тг",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "fYFnpIika2dCryN4",
          "name": "VaultN8N"
        }
      },
      "notes": "https://techcrunch.com/2026/01/22/anthropic-has-to-keep-revising-its-technical-interview-test-so-you-cant-cheat-on-it-with-claude/"
    },
    {
      "parameters": {
        "url": "http://vault-n8n:8000/api/v1/secrets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "keys",
              "value": "*"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -784,
        704
      ],
      "id": "174b52bc-637e-45b1-b772-b330e83274a1",
      "name": "Показать все секреты",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "fYFnpIika2dCryN4",
          "name": "VaultN8N"
        }
      },
      "notes": "https://techcrunch.com/2026/01/22/anthropic-has-to-keep-revising-its-technical-interview-test-so-you-cant-cheat-on-it-with-claude/"
    },
    {
      "parameters": {
        "url": "http://vault-n8n:8000/api/v1/secrets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "keys",
              "value": "Токен_telegram_AlexLenaBot"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        656,
        1120
      ],
      "id": "558e2e81-5a65-40d0-a2b2-db1724991b07",
      "name": "Получить токен бота",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "fYFnpIika2dCryN4",
          "name": "VaultN8N"
        }
      },
      "notes": "https://techcrunch.com/2026/01/22/anthropic-has-to-keep-revising-its-technical-interview-test-so-you-cant-cheat-on-it-with-claude/"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $json.value }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $('Вывод отчетов').first().json.callback_query.from.id }}\",\n  \"text\": \"{{ $('Подготовка кнопок').first().json.text }}\",\n  \"reply_markup\": {{ JSON.stringify($('Подготовка кнопок').first().json.reply_markup) }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        848,
        1120
      ],
      "id": "45f281d9-dea8-486b-8cd8-dc1f76dd4bfc",
      "name": "Клавиатура в тг"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bb53Yk8vv40U1KsErMgWL",
          "mode": "list",
          "cachedResultUrl": "/workflow/bb53Yk8vv40U1KsErMgWL",
          "cachedResultName": "sub_отчет_по_кампании_с_аналитикой_gradki"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "campaign_id": "={{ $json.callback_query.data.split('-')[1] }}"
          },
          "matchingColumns": [
            "campaign_id"
          ],
          "schema": [
            {
              "id": "campaign_id",
              "displayName": "campaign_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        272,
        1296
      ],
      "id": "f975d2f2-7a7d-4179-84c2-7c4fbf51402f",
      "name": "Отчет по кампании с аналитикой",
      "executeOnce": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Вывод отчетов').first().json.callback_query.from.id }}",
        "text": "={{ $json.tg_html }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        1296
      ],
      "id": "81c448fa-8029-4457-93a4-def935534684",
      "name": "Ответ",
      "webhookId": "7d5d0791-b540-4df3-a9e3-c0114ca33624",
      "credentials": {
        "telegramApi": {
          "id": "IQJLoP9sNTnsVVqS",
          "name": "AlexLenaBot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Вывод отчетов').first().json.callback_query.from.id }}",
        "text": "={{ $json.report }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        800
      ],
      "id": "b1b70d38-0732-49bf-95b7-d22da296cbd0",
      "name": "Ответ1",
      "webhookId": "7d5d0791-b540-4df3-a9e3-c0114ca33624",
      "credentials": {
        "telegramApi": {
          "id": "IQJLoP9sNTnsVVqS",
          "name": "AlexLenaBot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2f46cb8f-d4f7-4ca1-a1fa-9eb23307a475",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        960
      ],
      "id": "ca747ddb-468f-4a75-b5f2-0bc553596241",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Вывод отчетов').first().json.callback_query.from.id }}",
        "text": "=Сегодня лидов нет",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        960
      ],
      "id": "e7a0d1c2-348f-4b0d-ac4b-26774297e484",
      "name": "Пустой ответ",
      "webhookId": "7d5d0791-b540-4df3-a9e3-c0114ca33624",
      "credentials": {
        "telegramApi": {
          "id": "IQJLoP9sNTnsVVqS",
          "name": "AlexLenaBot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41cf616c-c640-4f61-a2ba-49715aa1bf2a",
              "name": "file_id",
              "type": "string",
              "value": "={{$json.message.document.file_id}}"
            },
            {
              "id": "22fcf53f-ebd5-4294-9fd8-7a485b8293f2",
              "name": "file_name",
              "type": "string",
              "value": "={{$json.message.document.file_name}}"
            }
          ]
        },
        "options": {}
      },
      "id": "832fea8f-f842-4287-8676-8b6a1e32e5c7",
      "name": "Получить только вложение",
      "type": "n8n-nodes-base.set",
      "position": [
        64,
        800
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41cf616c-c640-4f61-a2ba-49715aa1bf2a",
              "name": "file_id",
              "type": "string",
              "value": "={{ $json['message.document.file_id'] }}"
            },
            {
              "id": "22fcf53f-ebd5-4294-9fd8-7a485b8293f2",
              "name": "file_name",
              "type": "string",
              "value": "={{ $json['message.document.file_name'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e3f110f0-363f-42c3-a8e6-526800037fb2",
      "name": "Получить вложение",
      "type": "n8n-nodes-base.set",
      "position": [
        64,
        608
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8de49002-38ba-43fe-ba48-18e8c85241a2",
              "name": "chat_message_content",
              "type": "string",
              "value": "={{ $json['message.caption'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "58984519-1e79-4674-ae75-33f97bdad031",
      "name": "Подпись файла",
      "type": "n8n-nodes-base.set",
      "position": [
        64,
        416
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.document.file_id, message.document.file_name, message.caption",
        "options": {}
      },
      "id": "843757e6-790e-4239-98c9-d8b3dce15a20",
      "name": "Разделить (имя, подпись, id)",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -176,
        608
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "repo_name": "N8N",
  "repo_owner": "avdivo",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Minsk",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-04-16T22:05:51.648Z",
      "createdAt": "2026-04-16T22:05:51.648Z",
      "role": "workflow:owner",
      "workflowId": "jhbBMtEYGMMEJX31OiM3-",
      "projectId": "ILcfmLBZn60jlfes"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-19T13:30:59.582Z",
  "versionId": "5739c618-8edb-42e1-9971-98d7b6d3970e"
}