2026/03/-Q5ixI3vQRd_VIrMvnFUR.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-17T16:48:50.180Z",
    "createdAt": "2026-04-17T16:48:21.209Z",
    "versionId": "628b1d73-e7e0-4fae-80b8-fb650beae7d6",
    "workflowId": "-Q5ixI3vQRd_VIrMvnFUR",
    "nodes": [
      {
        "parameters": {},
        "id": "ae2689f7-15a2-4926-9e1c-54abd06fe066",
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          512,
          96
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Subworkflow",
          "height": 731.7039821513649,
          "width": 1910.7813046051347,
          "color": 6
        },
        "id": "8bb49b60-da84-4ca7-afe8-588b5cbe6576",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          32,
          480
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "9d3cdd45-fb9a-467e-bf11-7fb172a87747",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          96,
          864
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "id": "aacca598-7d4e-446c-b81e-3180fd0fea18",
        "name": "n8n",
        "type": "n8n-nodes-base.n8n",
        "position": [
          960,
          192
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "kFRzLULhlmQrVVsU",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
                "name": "Done",
                "type": "boolean",
                "value": true
              }
            ]
          },
          "options": {}
        },
        "id": "5f8892de-37fa-4c95-aee5-5961cbab1ce4",
        "name": "Return",
        "type": "n8n-nodes-base.set",
        "position": [
          1760,
          688
        ],
        "typeVersion": 3.3
      },
      {
        "parameters": {
          "url": "={{ $json.download_url }}",
          "options": {}
        },
        "id": "da8d9097-a99a-4a94-b922-1f3f2add8614",
        "name": "Get File",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          720,
          560
        ],
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                },
                "leftValue": "={{ $json.content }}",
                "rightValue": ""
              },
              {
                "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
                "operator": {
                  "type": "string",
                  "operation": "notExists",
                  "singleValue": true
                },
                "leftValue": "={{ $json.error }}",
                "rightValue": ""
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "5fd89df3-e07e-4565-bbfb-efe5eb60e8aa",
        "name": "If file too large",
        "type": "n8n-nodes-base.if",
        "position": [
          480,
          576
        ],
        "typeVersion": 2
      },
      {
        "parameters": {},
        "id": "b0b36c27-4584-43e2-b9c1-80576cdac056",
        "name": "Merge Items",
        "type": "n8n-nodes-base.merge",
        "position": [
          480,
          848
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"
        },
        "id": "9ada1971-503e-46d5-919d-48d78976982c",
        "name": "isDiffOrNew",
        "type": "n8n-nodes-base.code",
        "position": [
          672,
          848
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "dataType": "string",
          "value1": "={{$json.github_status}}",
          "rules": {
            "rules": [
              {
                "value2": "same"
              },
              {
                "value2": "different",
                "output": 1
              },
              {
                "value2": "new",
                "output": 2
              }
            ]
          }
        },
        "id": "4bbab115-ca31-4e81-a2b9-3b4b268819fc",
        "name": "Check Status",
        "type": "n8n-nodes-base.switch",
        "position": [
          1072,
          848
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "39f7618f-d74e-4a07-8b05-10a092415cb2",
        "name": "Same file - Do nothing",
        "type": "n8n-nodes-base.noOp",
        "position": [
          1296,
          688
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "e359aa10-73a1-47d8-ace6-ef382a0914f9",
        "name": "File is different",
        "type": "n8n-nodes-base.noOp",
        "position": [
          1296,
          848
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "15814eec-613f-4be8-8287-7274441178ab",
        "name": "File is new",
        "type": "n8n-nodes-base.noOp",
        "position": [
          1296,
          1040
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "={{ $('Config').first().json.repo_owner }}",
            "mode": ""
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Config').first().json.repo_name }}",
            "mode": ""
          },
          "filePath": "={{ $('Config').first().json.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json",
          "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
          "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
        },
        "id": "e075fa1b-8fa9-4aba-b291-66f7da8c314f",
        "name": "Create new file",
        "type": "n8n-nodes-base.github",
        "position": [
          1520,
          1040
        ],
        "typeVersion": 1,
        "webhookId": "56b371f3-db00-461b-9bcd-1e75730f0ff9",
        "credentials": {
          "githubApi": {
            "id": "x2GsQZRMMzVjar1Q",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "={{ $('Config').first().json.repo_owner }}",
            "mode": ""
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Config').first().json.repo_name }}",
            "mode": ""
          },
          "filePath": "={{ $('Config').first().json.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json",
          "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
          "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
        },
        "id": "ef42dd28-507c-44e2-a52e-dbedcddb27b0",
        "name": "Edit existing file",
        "type": "n8n-nodes-base.github",
        "position": [
          1520,
          848
        ],
        "typeVersion": 1,
        "webhookId": "eb12e26e-f150-4558-b9f7-8ac2a5013b52",
        "credentials": {
          "githubApi": {
            "id": "x2GsQZRMMzVjar1Q",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "36f703d6-1962-47a9-8639-996e16eb02a8",
        "name": "Loop Over Items",
        "type": "n8n-nodes-base.splitInBatches",
        "position": [
          1168,
          192
        ],
        "typeVersion": 3
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 1,
                "triggerAtMinute": 33
              }
            ]
          }
        },
        "id": "247b4356-ad0a-4c17-9ff2-7d2d865eeb90",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          512,
          304
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "dae43d3b-56e5-4098-b602-862ebf5cd073",
                "name": "subPath",
                "type": "string",
                "value": "={{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "d57ef849-9a5f-4afe-9777-54f99fb68da9",
        "name": "Create sub path",
        "type": "n8n-nodes-base.set",
        "position": [
          880,
          848
        ],
        "typeVersion": 3.3
      },
      {
        "parameters": {
          "content": "## Резервное копирование в GitHub\nЭтот рабочий процесс будет создавать резервные копии всех рабочих процессов экземпляра в GitHub каждые 24 часа.\n\nФайлы сохраняются в папки, используя `YYYY/MM/` в качестве пути к каталогу и `ID.json` в качестве имени файла.\n\nВладелец репозитория, имя репозитория и основная папка задаются с помощью функции **Переменные**, но могут быть заменены узлом `Config` в подпроцессе.\n\nРабочий процесс запускает сам себя, чтобы уменьшить использование памяти. После завершения рабочего процесса он отправит необязательное уведомление в Slack.\n\n### Время выполнения\nПротестировано на 1423 рабочих процессах в версии `1.44.1`. Первый запуск занял менее 30 минут, а после завершения первоначального запуска — менее 12 минут.",
          "height": 417,
          "width": 385,
          "color": 4
        },
        "id": "df942e4d-0112-4075-af00-d7bc668926ac",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Main workflow loop",
          "height": 416,
          "width": 1401,
          "color": 7
        },
        "id": "4a26ba13-a0fd-4c81-965d-1d527418f349",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          480,
          16
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "mode": "name",
            "value": "#notifications"
          },
          "text": "=:information_source:  Starting Workflow Backup [{{ $execution.id }}]",
          "otherOptions": {
            "includeLinkToWorkflow": false
          }
        },
        "id": "9070ffb1-b12e-472c-b024-75612a8baced",
        "name": "Starting Message",
        "type": "n8n-nodes-base.slack",
        "position": [
          800,
          192
        ],
        "webhookId": "c02eb407-5547-4aa0-9ebf-46dab67b63b6",
        "typeVersion": 2.2,
        "disabled": true
      },
      {
        "parameters": {
          "workflowId": "={{ $workflow.id }}",
          "mode": "each",
          "options": {}
        },
        "id": "717cfddd-d709-4789-ab60-573b321f5993",
        "name": "Execute Workflow",
        "type": "n8n-nodes-base.executeWorkflow",
        "position": [
          1392,
          208
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "mode": "name",
            "value": "#notifications"
          },
          "text": "=✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.",
          "otherOptions": {}
        },
        "id": "807bc898-a804-4d7a-bf7b-c7b91ed0e040",
        "name": "Completed Notification",
        "type": "n8n-nodes-base.slack",
        "position": [
          1392,
          32
        ],
        "webhookId": "a0c6e8c8-5d71-40fa-b02b-63a7ed5726c4",
        "executeOnce": true,
        "typeVersion": 2.2,
        "disabled": true
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "mode": "name",
            "value": "#notifications"
          },
          "text": "=:x: Failed to backup {{ $('Loop Over Items').item.json.id }}",
          "otherOptions": {
            "includeLinkToWorkflow": false
          }
        },
        "id": "81e558d7-4b8e-4083-a22d-b0f9252ca684",
        "name": "Failed Flows",
        "type": "n8n-nodes-base.slack",
        "position": [
          1584,
          224
        ],
        "webhookId": "2a092edb-de12-490f-931b-34d70e7d7696",
        "typeVersion": 2.2,
        "disabled": true
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "={{ $('Config').first().json.repo_owner }}",
            "mode": ""
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Config').first().json.repo_name }}",
            "mode": ""
          },
          "filePath": "={{ $('Config').first().json.repo_path }}{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/{{$json.id}}.json",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "id": "5cb8048f-0656-47f3-8007-dbfc39e067d8",
        "name": "Get file data",
        "type": "n8n-nodes-base.github",
        "position": [
          272,
          576
        ],
        "typeVersion": 1,
        "alwaysOutputData": true,
        "webhookId": "29f2e095-9bc1-4a12-9442-255a8dfd2ac1",
        "credentials": {
          "githubApi": {
            "id": "x2GsQZRMMzVjar1Q",
            "name": "GitHub account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8f6d1741-772f-462a-811f-4c334185e4f0",
                "name": "repo_owner",
                "type": "string",
                "value": "=avdivo"
              },
              {
                "id": "8cac215c-4fd7-422f-9fd2-6b2d1e5e0383",
                "name": "repo_name",
                "type": "string",
                "value": "=N8N"
              },
              {
                "id": "eee305e9-4164-462a-86bd-80f0d58a31ae",
                "name": "repo_path",
                "type": "string",
                "value": ""
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "c5d4aa23-14b8-461a-8063-4c46321c4996",
        "name": "Config",
        "type": "n8n-nodes-base.set",
        "position": [
          272,
          864
        ],
        "typeVersion": 3.4
      }
    ],
    "connections": {
      "n8n": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Config": {
        "main": [
          [
            {
              "node": "Get file data",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge Items",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Get File": {
        "main": [
          [
            {
              "node": "Merge Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File is new": {
        "main": [
          [
            {
              "node": "Create new file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Items": {
        "main": [
          [
            {
              "node": "isDiffOrNew",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "isDiffOrNew": {
        "main": [
          [
            {
              "node": "Create sub path",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Status": {
        "main": [
          [
            {
              "node": "Same file - Do nothing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "File is different",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "File is new",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Failed Flows": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get file data": {
        "main": [
          [
            {
              "node": "If file too large",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create new file": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create sub path": {
        "main": [
          [
            {
              "node": "Check Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Completed Notification",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Execute Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Starting Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Starting Message": {
        "main": [
          [
            {
              "node": "n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File is different": {
        "main": [
          [
            {
              "node": "Edit existing file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If file too large": {
        "main": [
          [
            {
              "node": "Get File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit existing file": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Starting Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Same file - Do nothing": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Алексей К",
    "name": "Version 628b1d73",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "628b1d73-e7e0-4fae-80b8-fb650beae7d6",
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Get file data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Items",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is new": {
      "main": [
        [
          {
            "node": "Create new file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Items": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "Create sub path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Same file - Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Failed Flows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file data": {
      "main": [
        [
          {
            "node": "If file too large",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create sub path": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Completed Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Starting Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Starting Message": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is different": {
      "main": [
        [
          {
            "node": "Edit existing file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file too large": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit existing file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Starting Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Same file - Do nothing": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-21T15:32:05.804Z",
  "id": "-Q5ixI3vQRd_VIrMvnFUR",
  "isArchived": false,
  "meta": null,
  "name": "Архивирование репозиториев на GitHub",
  "nodes": [
    {
      "parameters": {},
      "id": "ae2689f7-15a2-4926-9e1c-54abd06fe066",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        512,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Subworkflow",
        "height": 731.7039821513649,
        "width": 1910.7813046051347,
        "color": 6
      },
      "id": "8bb49b60-da84-4ca7-afe8-588b5cbe6576",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "9d3cdd45-fb9a-467e-bf11-7fb172a87747",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        96,
        864
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "aacca598-7d4e-446c-b81e-3180fd0fea18",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        960,
        192
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "kFRzLULhlmQrVVsU",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "5f8892de-37fa-4c95-aee5-5961cbab1ce4",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        1760,
        688
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "da8d9097-a99a-4a94-b922-1f3f2add8614",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        720,
        560
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": ""
            },
            {
              "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5fd89df3-e07e-4565-bbfb-efe5eb60e8aa",
      "name": "If file too large",
      "type": "n8n-nodes-base.if",
      "position": [
        480,
        576
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "b0b36c27-4584-43e2-b9c1-80576cdac056",
      "name": "Merge Items",
      "type": "n8n-nodes-base.merge",
      "position": [
        480,
        848
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"
      },
      "id": "9ada1971-503e-46d5-919d-48d78976982c",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        672,
        848
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.github_status}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "4bbab115-ca31-4e81-a2b9-3b4b268819fc",
      "name": "Check Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        1072,
        848
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "39f7618f-d74e-4a07-8b05-10a092415cb2",
      "name": "Same file - Do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1296,
        688
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "e359aa10-73a1-47d8-ace6-ef382a0914f9",
      "name": "File is different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1296,
        848
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "15814eec-613f-4be8-8287-7274441178ab",
      "name": "File is new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1296,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('Config').first().json.repo_owner }}",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Config').first().json.repo_name }}",
          "mode": ""
        },
        "filePath": "={{ $('Config').first().json.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "e075fa1b-8fa9-4aba-b291-66f7da8c314f",
      "name": "Create new file",
      "type": "n8n-nodes-base.github",
      "position": [
        1520,
        1040
      ],
      "typeVersion": 1,
      "webhookId": "56b371f3-db00-461b-9bcd-1e75730f0ff9",
      "credentials": {
        "githubApi": {
          "id": "x2GsQZRMMzVjar1Q",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('Config').first().json.repo_owner }}",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Config').first().json.repo_name }}",
          "mode": ""
        },
        "filePath": "={{ $('Config').first().json.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "ef42dd28-507c-44e2-a52e-dbedcddb27b0",
      "name": "Edit existing file",
      "type": "n8n-nodes-base.github",
      "position": [
        1520,
        848
      ],
      "typeVersion": 1,
      "webhookId": "eb12e26e-f150-4558-b9f7-8ac2a5013b52",
      "credentials": {
        "githubApi": {
          "id": "x2GsQZRMMzVjar1Q",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "36f703d6-1962-47a9-8639-996e16eb02a8",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1168,
        192
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1,
              "triggerAtMinute": 33
            }
          ]
        }
      },
      "id": "247b4356-ad0a-4c17-9ff2-7d2d865eeb90",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        512,
        304
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dae43d3b-56e5-4098-b602-862ebf5cd073",
              "name": "subPath",
              "type": "string",
              "value": "={{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "d57ef849-9a5f-4afe-9777-54f99fb68da9",
      "name": "Create sub path",
      "type": "n8n-nodes-base.set",
      "position": [
        880,
        848
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "content": "## Резервное копирование в GitHub\nЭтот рабочий процесс будет создавать резервные копии всех рабочих процессов экземпляра в GitHub каждые 24 часа.\n\nФайлы сохраняются в папки, используя `YYYY/MM/` в качестве пути к каталогу и `ID.json` в качестве имени файла.\n\nВладелец репозитория, имя репозитория и основная папка задаются с помощью функции **Переменные**, но могут быть заменены узлом `Config` в подпроцессе.\n\nРабочий процесс запускает сам себя, чтобы уменьшить использование памяти. После завершения рабочего процесса он отправит необязательное уведомление в Slack.\n\n### Время выполнения\nПротестировано на 1423 рабочих процессах в версии `1.44.1`. Первый запуск занял менее 30 минут, а после завершения первоначального запуска — менее 12 минут.",
        "height": 417,
        "width": 385,
        "color": 4
      },
      "id": "df942e4d-0112-4075-af00-d7bc668926ac",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Main workflow loop",
        "height": 416,
        "width": 1401,
        "color": 7
      },
      "id": "4a26ba13-a0fd-4c81-965d-1d527418f349",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#notifications"
        },
        "text": "=:information_source:  Starting Workflow Backup [{{ $execution.id }}]",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "9070ffb1-b12e-472c-b024-75612a8baced",
      "name": "Starting Message",
      "type": "n8n-nodes-base.slack",
      "position": [
        800,
        192
      ],
      "webhookId": "c02eb407-5547-4aa0-9ebf-46dab67b63b6",
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.id }}",
        "mode": "each",
        "options": {}
      },
      "id": "717cfddd-d709-4789-ab60-573b321f5993",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1392,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#notifications"
        },
        "text": "=✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.",
        "otherOptions": {}
      },
      "id": "807bc898-a804-4d7a-bf7b-c7b91ed0e040",
      "name": "Completed Notification",
      "type": "n8n-nodes-base.slack",
      "position": [
        1392,
        32
      ],
      "webhookId": "a0c6e8c8-5d71-40fa-b02b-63a7ed5726c4",
      "executeOnce": true,
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#notifications"
        },
        "text": "=:x: Failed to backup {{ $('Loop Over Items').item.json.id }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "81e558d7-4b8e-4083-a22d-b0f9252ca684",
      "name": "Failed Flows",
      "type": "n8n-nodes-base.slack",
      "position": [
        1584,
        224
      ],
      "webhookId": "2a092edb-de12-490f-931b-34d70e7d7696",
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Config').first().json.repo_owner }}",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Config').first().json.repo_name }}",
          "mode": ""
        },
        "filePath": "={{ $('Config').first().json.repo_path }}{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/{{$json.id}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "5cb8048f-0656-47f3-8007-dbfc39e067d8",
      "name": "Get file data",
      "type": "n8n-nodes-base.github",
      "position": [
        272,
        576
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "29f2e095-9bc1-4a12-9442-255a8dfd2ac1",
      "credentials": {
        "githubApi": {
          "id": "x2GsQZRMMzVjar1Q",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f6d1741-772f-462a-811f-4c334185e4f0",
              "name": "repo_owner",
              "type": "string",
              "value": "=avdivo"
            },
            {
              "id": "8cac215c-4fd7-422f-9fd2-6b2d1e5e0383",
              "name": "repo_name",
              "type": "string",
              "value": "=N8N"
            },
            {
              "id": "eee305e9-4164-462a-86bd-80f0d58a31ae",
              "name": "repo_path",
              "type": "string",
              "value": ""
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "c5d4aa23-14b8-461a-8063-4c46321c4996",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [
        272,
        864
      ],
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "repo_name": "N8N",
  "repo_owner": "avdivo",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-21T15:32:05.804Z",
      "createdAt": "2026-03-21T15:32:05.804Z",
      "role": "workflow:owner",
      "workflowId": "-Q5ixI3vQRd_VIrMvnFUR",
      "projectId": "ILcfmLBZn60jlfes"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-17T16:48:21.206Z",
  "versionId": "628b1d73-e7e0-4fae-80b8-fb650beae7d6"
}