2026/05/4NBpOUrsoYJ0Qmlkgz8W6.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Тип сообщения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Бот назначен Админом канала": {
      "main": [
        [
          {
            "node": "Получение разрешений",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тип сообщения": {
      "main": [
        [
          {
            "node": "Тип чата",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [
          {
            "node": "Бот назначен Админом канала",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Все админы канала": {
      "main": [
        [
          {
            "node": "Формирование записи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Формирование записи": {
      "main": [
        [
          {
            "node": "Добавление канала в БД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тип чата": {
      "main": [
        [
          {
            "node": "Личное сообщение",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Личное сообщение": {
      "main": [
        [
          {
            "node": "/start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовка полей записи лога": {
      "main": [
        [
          {
            "node": "Лид?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Лид?": {
      "main": [
        [
          {
            "node": "Поиск канала",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Добавление админа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Поиск канала": {
      "main": [
        [
          {
            "node": "Поиск слова",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/start": {
      "main": [
        [
          {
            "node": "Подготовка полей записи лога",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Админ допущен",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Добавление админа": {
      "main": [
        [
          {
            "node": "Подготовка приветствия",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовка приветствия": {
      "main": [
        [
          {
            "node": "Приветствие",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение разрешений": {
      "main": [
        [
          {
            "node": "Админ с правами?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Админ с правами?": {
      "main": [
        [
          {
            "node": "Канал разблокирован?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Админ не имеет прав",
            "type": "main",
            "index": 0
          },
          {
            "node": "Удаление бота из канала",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Канал разблокирован?": {
      "main": [
        [
          {
            "node": "Все админы канала",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Канал заблокирован",
            "type": "main",
            "index": 0
          },
          {
            "node": "Удаление бота из канала",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Добавление канала в БД": {
      "main": [
        [
          {
            "node": "Бот добавлен в канал",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Админ допущен": {
      "main": [
        [
          {
            "node": "Есть права?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть права?": {
      "main": [
        [
          {
            "node": "Определение команды",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Нет допуска",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Определение команды": {
      "main": [
        [],
        [
          {
            "node": "Проверка команды",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка команды": {
      "main": [
        [
          {
            "node": "Проверка разрешений",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ошибка команды",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка разрешений": {
      "main": [
        [
          {
            "node": "Канал зарегистрирован?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Канал зарегистрирован?": {
      "main": [
        [
          {
            "node": "Канал активен?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Канал не зарегистрирован",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Канал активен?": {
      "main": [
        [
          {
            "node": "Бот в канале?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Канал заблокирован1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Бот в канале?": {
      "main": [
        [
          {
            "node": "Пользователь админ канала?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Бот не в канале",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Пользователь админ канала?": {
      "main": [
        [
          {
            "node": "Данные",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Пользователь не админ канала",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Данные": {
      "main": [
        [
          {
            "node": "Добавление цели",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Добавление цели": {
      "main": [
        [
          {
            "node": "Сообщение со ссылкой",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-05T10:18:50.424Z",
  "id": "4NBpOUrsoYJ0Qmlkgz8W6",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Привратник Телеграм канала",
  "nodes": [
    {
      "parameters": {
        "content": "## Бот Привратник\nПока не реализованы права на доступ. Любой, кто добавит бота в канал может использовать его.\n\n### Функции\n- Один бот для всех каналов и пользователей\n- Проверяет подписку в канале\n- Регистрирует подписчика в канале, если он не зарегистрирован\n- Отправляет подписчика на нужный пост в канале\n- При входе принимает параметр *Start*,  который определяет пост на который будет отправлен подписчик\n- Записывает данные подписчиков в БД\n\n\\* Пользователь - владелец канала, для кого работает программа\n\\* Подписчик - клиент пользователя",
        "height": 368,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -1456
      ],
      "typeVersion": 1,
      "id": "59e08ed6-1df5-4db1-ac85-baa652fa0924",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Устройство\n\n### Каналы\n- `AtGateChannel` в схеме `atgate`. В ней переписаны все каналы для которых работает бот:\n  - **channel_name** - произвольное название канала\n  - **channel_id** - идентификатор канала (уникальное)\n  - **admins** - список администраторов канала (JSONB)\n  - **is_blocked** - заблокирован (по умолчанию FALSE)\n\n### Администраторы\n- `AtGateAdmins` в схеме `atgate`. Пользователи которым разрешено управлять регистрацией каналов и подарками\n  - **user_id** - идентификатор пользователя в ТГ (уникальное)\n  - **username** - логин в ТГ\n  - **status** - текущее состояние. Поле в формате JSONB\n  - **is_blocked** - заблокирован (по умолчанию TRUE)\n\n### Пользователи\n- `AtGateUser` в схеме `atgate`. Содержит данные пользователей вошедших в бота:\n  - **user_id** - идентификатор пользователя в ТГ (уникальное)\n  - **username** - логин\n  - **first_name** - имя\n  - **last_name** - фамилия\n  - **toDateTime** - когда пришел\n\n### Взаимодействия\n- `AtGateInteraction` в схеме `atgate`. Одна запись о каждом посещении бота пользователем. Указывает на каком этапе пользователь и параметры сервиса откуда пришел и его цель: \n  - **id** - идентификатор записи о взаимодействии\n  - **user_id** - связь с таблицей `AtGateUser`\n  - **source** - параметры источника - набор полей в JSONB (например user id Инстаграмм)\n  - **report** - отчет о достижении цели в формате JSONB. Включает поля сопоставленной цели и поле invite_link ссылка-заявка в канал по которой можно искать взаимодействие.\n  - **status** - текущее состояние JSONB\n  - **updated_at** - дата и время взаимодействия (обновляется при изменении)\n\n### Цели\n- `AtGateTarget` в схеме `atgate`. Сопоставление кодового слова с лид-магнитом (подарком):\n  - **channel_id** - связь с таблицей `AtGateChannel`\n  - **type_target** - тип цели (сейчас: \"подписка на тг канал\")\n  - **parameters** - параметры - набор полей в JSONB\n  - **code_word** - слово, по которому пользователь получает подарок в инсте\n  - **code** - код для стартового параметра бота (уникальное)\n  - **link_target** - ссылка на пост в канале с нужным подарком",
        "height": 1088,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -960
      ],
      "typeVersion": 1,
      "id": "b8cca60c-ee4d-49ce-b016-01b6ace4c4a4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Схема работы\n\n### Инстаграм\n- Пользователь пишет в комментарии кодовое слово\n- Платформа автоматизации (например `chatplace`) проверяет подписку в Инстаграмм и выдает пользователю ссылку на подарок по кодовому слову. Или заставляет подписаться.\n- Подарок нужно забрать в ТГ канале, куда и ведет ссылка вида: https://t.me/bot?start=n_word\n  - https://t.me/bot - ссылка на бота\n  - `n` - номер канала в таблице `AtGateChannel`\n  - `word` - кодовое слово сопоставленное с постом в канале.\n\n`Кодовое слово которое набирает пользователь в Инстаграмм не то что передается тут. Оно переводится в латиницу и в нем остаются только буквы, цыфры, тире.`\n\n\n### Бот (новый Лид)\nКоманда `/start` с параметром.\n- переданный параметр разбирается на составные части разделенные \"_\" - `n` и `word`\n- `n` - это id в таблице `AtGateChannel`, извлекаем эти данные и продолжаем, если канал не заблокирован\n- `word` - это кодовое слово по которому пришел пользователь\n- используя эти данные и данные тг проверяем есть ли пользователь `AtGateUser` и если нет - добавляем\n- проверяем, подписан ли пользователь на канал, если нет просим подать заявку (отправляем сообщение с кнопкой), запоминаем ссылку и\n- добавляем в таблицу `AtGateInteraction` новое взаимодействие пользователя, в поле `report` добавляем параметр `invite_link` со ссылкой на заявку (она уникальная, по ней находим взаимодействие после подписки пользователя на канал)\n- автоматически подтверждаем заявку на вступление в канал, если он еще не в канале, если в канале - продолжаем\n- после подтверждения подписки находим нужное взаимодействие по ссылке\n- предлагаем пользователю перейти по ссылке, чтобы получить подарок. Для нахождения цели используем кодовое слово\n\n## Путь лида (состояния)\n\nПри входе клиента в бота (рестарт бота с параметром) в таблицу `AtGateInteraction`  добавляется новое взаимодействие - запись с текущим состоянием. Сам клиент добавляется в таблицу `AtGateUser`, если его там не было.\n\n### Состояния\n- `ожидание_подачи_заявки` - клиенту выдана ссылка на подачу заявки на подписку на канал, когда он не подписан, во взаимодействие добавлена эта ссылка\n- `подарок_выдан` - клиенту выдана ссылка на лид магнит (подарок), он подписан или подписался",
        "height": 1120,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1392,
        -1024
      ],
      "typeVersion": 1,
      "id": "d0f2be06-1c42-4eb5-b072-b9667aee810b",
      "name": "Sticky Note2",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Добавление администратора \nКоманда `/start` без параметров.\nЛюбой пользователь стартонувший личный чат с ботом добавляется в таблицу администраторов `AtGateAdmins`. По умолчанию он заблокирован и никаких действий выполнять не может. Разблокировать его может суперадминистратор, установив поле `is_blocked` = false.\nПри выходе он не удаляется, поэтому при повторном добавлении очищается поле `status`, обновляется `username`.\n\n## Действия администратора\n### Добавление канала\n- бота может добавить в канал его админ через стандартный интерфейс ТГ, при этом должны быть соблюдены условия: \n  - канала нет в списке `AtGateChannel`, а если есть он не заблокирован.\n  - админ канала зарегистрирован в боте и разблокирован\n  - если любое условие не соблюдается - бот отписывается от канала\n- при добавлении бота в канал администратором, бот автоматически регистрирует себя привратником этого канала, создавая новую запись в таблице `AtGateChannel`\n- получает всех администраторов канала и добавляет их в список управляющих привратником\n- список обновляется при добавлении бота в канал, поэтому для обновления списка нужно удалить бота из канала и добавить снова\n- при удалении бота из канала он не удаляется из списка\n\n### Просмотр акций (подарков)\n Команда `/channels` \n- это делается админом (не заблокированным, с проверкой прав админа в канале) в личном чате с ботом\n- команда `/channels` выводит список каналов (в виде инлин кнопок) добавленных в систему и админом которых является пользователь и которые не заблокированы\n- выбрав канал пользователь получает список: кодовое слово - ссылка на пост\n- в поле `status` админа в таблице `AtGateAdmins` добавляется параметр `last_channel` с `channel_id` канала \n\n### Добавление акции (подарка)\nКоманда `/add`\n- команда для добавления: `/add word link`\n  -  `word` - кодовое слово любые буквы, тире, цифры\n  - `link` - ссылка на пост (в контекстном меню поста выбрать Копировать ссылку на сообщение\n- создаем уникальный код из 5 латинских букв и цифр, убеждаемся что его нет в таблице `AtGateTarget` в поле `code`\n- получаем идентификатор канала из ссылки `link`. Пример: https://t.me/c/3411040779/29\n  - \"-100\" + \"3411040779\" = \"-1003411040779\" - это он и есть\n- проверяем, чтобы канал был в системе, не был заблокирован, пользователь приславший ссылку был активен и был админом канала\n- добавляем новую запись в таблицу `AtGateTarget`\n- возвращаем сообщение о добавлении слова и ссылку на тг бот в кодом в параметре старта",
        "height": 1136,
        "width": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        -1040
      ],
      "typeVersion": 1,
      "id": "1b09d792-528a-4106-90f3-58ddad94104c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        48,
        1120
      ],
      "id": "a4f36631-ff6e-4927-9201-b21c744b2043",
      "name": "Telegram Trigger",
      "webhookId": "878e64d4-bc00-4234-9162-9eed07f37e0c",
      "credentials": {
        "telegramApi": {
          "id": "65F3OXZ2S5RJpd8j",
          "name": "Превратник"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ffde17fd-17aa-4155-a8fa-0ff4052dc2a3",
              "leftValue": "={{ $json[\"my_chat_member\"][\"old_chat_member\"][\"status\"] }}",
              "rightValue": "left",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "0224f14e-5b8a-490c-86b9-3aba934accd9",
              "leftValue": "={{ $json[\"my_chat_member\"][\"new_chat_member\"][\"status\"] }}",
              "rightValue": "administrator",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        1296
      ],
      "id": "4c98938a-197d-4441-bc38-a33ab8f3fb68",
      "name": "Бот назначен Админом канала"
    },
    {
      "parameters": {
        "content": "## Подготовка БД\nВоркфлоу подготовки проверяет и создает в случае их отсутствия:\n- папку channels в корне выбранного гугл диска\n- таблицы в БД в схеме Public:\n  - AtGateChannel\n  - AtGateUser",
        "height": 208,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        464
      ],
      "typeVersion": 1,
      "id": "604b67aa-0f7e-4cf5-838b-2084d5a98f1d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ Object.keys($json).find(key => key !== 'update_id') }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "98510581-4624-4e4f-a6f3-9093413ae133"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Обычное сообщение"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f8d8c04c-88ea-4e14-9558-d81dce3441ea",
                    "leftValue": "={{ Object.keys($json).find(key => key !== 'update_id') }}",
                    "rightValue": "callback_query",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Нажатие кнопок"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "28249f35-9dc3-4395-9060-0255fb96b447",
                    "leftValue": "={{ Object.keys($json).find(key => key !== 'update_id') }}",
                    "rightValue": "channel_post",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Посты в каналах"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "da3ce845-6190-49bd-9b28-657c2713c1bb",
                    "leftValue": "={{ Object.keys($json).find(key => key !== 'update_id') }}",
                    "rightValue": "my_chat_member",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Права бота"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        256,
        1088
      ],
      "id": "cdf2485c-4eba-4f50-a9f2-c87c2285c810",
      "name": "Тип сообщения"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.chat.type }}",
                    "rightValue": "private",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0ba0db0e-9b06-4f8e-8b9a-2ec6e3ec82ee"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Личные сообщения"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "19c98bab-f8d0-4031-ae32-f5bfe48beac7",
                    "leftValue": "={{ $json.message.chat.type }}",
                    "rightValue": "channel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Сообщения в каналах"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b73348cf-fce4-48d0-9fed-3e506b4c73b1",
                    "leftValue": "={{ $json.message.chat.type }}",
                    "rightValue": "group",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Сообщения в группах"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "670681f4-5b35-4621-8f32-f27688dec21e",
                    "leftValue": "={{ $json.message.chat.type }}",
                    "rightValue": "supergroup",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Сообщения в супергруппах"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        528,
        864
      ],
      "id": "dea6c7ea-2afe-46a1-b0ea-02025e951440",
      "name": "Тип чата"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- 1. Настройка схемы\nCREATE SCHEMA IF NOT EXISTS atgate;\nSET search_path TO atgate;\n\n-- 2. Таблица Каналы\nCREATE TABLE IF NOT EXISTS \"AtGateChannel\" (\n    channel_id BIGINT PRIMARY KEY,\n    channel_name TEXT NOT NULL,\n    admins JSONB DEFAULT '[]',\n    is_blocked BOOLEAN DEFAULT FALSE\n);\n\n-- 3. Таблица Администраторы\nCREATE TABLE IF NOT EXISTS \"AtGateAdmins\" (\n    user_id BIGINT PRIMARY KEY,\n    username TEXT,\n    status JSONB DEFAULT '{}',\n    is_blocked BOOLEAN DEFAULT TRUE\n);\n\n-- 4. Таблица Пользователи\nCREATE TABLE IF NOT EXISTS \"AtGateUser\" (\n    user_id BIGINT PRIMARY KEY,\n    username TEXT,\n    first_name TEXT,\n    last_name TEXT,\n    \"toDateTime\" TIMESTAMPTZ DEFAULT CURRENT_TIMESTAMP\n);\n\n-- 5. Таблица Взаимодействия\nCREATE TABLE IF NOT EXISTS \"AtGateInteraction\" (\n    id SERIAL PRIMARY KEY,\n    user_id BIGINT REFERENCES \"AtGateUser\"(user_id) ON DELETE CASCADE,\n    source JSONB DEFAULT '{}',\n    report JSONB DEFAULT '{}',\n    status JSONB DEFAULT '{}',\n    updated_at TIMESTAMPTZ DEFAULT CURRENT_TIMESTAMP\n);\n\n-- 6. Таблица Цели\nCREATE TABLE IF NOT EXISTS atgate.\"AtGateTarget\" (\n    channel_id BIGINT REFERENCES atgate.\"AtGateChannel\"(channel_id) ON DELETE CASCADE,\n    type_target TEXT DEFAULT 'подписка на тг канал',\n    parameters JSONB DEFAULT '{}',\n    code_word TEXT NOT NULL,\n    code CHAR(5) NOT NULL UNIQUE, -- Строго 5 символов, весит минимум, ищется мгновенно\n    link_target TEXT NOT NULL\n);\n\n\n-- 7. Индексы для оптимизации поиска и n8n-воркфлоу\nCREATE INDEX IF NOT EXISTS idx_interaction_user ON \"AtGateInteraction\"(user_id);\nCREATE INDEX IF NOT EXISTS idx_interaction_report_link ON \"AtGateInteraction\" USING gin (report);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        432,
        464
      ],
      "id": "9d6a7ab1-48b6-495c-a162-4280879f57b2",
      "name": "Подготовка БД",
      "retryOnFail": true,
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "xe5rl8ApMEn9rCCd",
          "name": "Postgres account"
        }
      },
      "notes": "Создает схему для пользователя, если ее нет и добавляет таблицы в БД для работы форкфлоу."
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "atgate",
          "mode": "list",
          "cachedResultName": "atgate"
        },
        "table": {
          "__rl": true,
          "value": "AtGateChannel",
          "mode": "list",
          "cachedResultName": "AtGateChannel"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "is_blocked": false
          },
          "matchingColumns": [
            "channel_id"
          ],
          "schema": [
            {
              "id": "channel_id",
              "displayName": "channel_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "channel_name",
              "displayName": "channel_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "admins",
              "displayName": "admins",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "is_blocked",
              "displayName": "is_blocked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1824,
        1296
      ],
      "id": "52f0f3ff-a247-40b8-b556-5f2be0e2733d",
      "name": "Добавление канала в БД",
      "credentials": {
        "postgres": {
          "id": "xe5rl8ApMEn9rCCd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "administrators",
        "chatId": "={{ $('Бот назначен Админом канала').item.json.my_chat_member.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        1296
      ],
      "id": "a82650b7-8b41-48ef-995c-c0f15183ff6b",
      "name": "Все админы канала",
      "webhookId": "e0a301f6-5305-4db6-8e57-590b9d0daf2e",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "65F3OXZ2S5RJpd8j",
          "name": "Превратник"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Получаем массив всех админов из конкретной ноды\nconst adminsArray = $('Все админы канала').all();\n\n// 2. Получаем данные о канале из триггерной ноды\nconst channelInfo = $('Бот назначен Админом канала').first().json.my_chat_member;\n\n// 3. Собираем ID только людей (не ботов)\nconst adminIds = adminsArray\n  .filter(item => !item.json.user.is_bot)\n  .map(item => item.json.user.id);\n\n// 4. Итоговый объект для Postgres\nreturn {\n  channel_name: channelInfo.chat.title,\n  channel_id: channelInfo.chat.id,\n  admins: JSON.stringify(adminIds)\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        1296
      ],
      "id": "4ac273ff-7d3e-4e3a-a18e-7600888d67d0",
      "name": "Формирование записи"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "c9a8aa38-5e7f-43d8-a8d6-fab00c531db9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Команда"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        832,
        640
      ],
      "id": "4f2f911a-c315-4a3a-a058-cbecbb5ff6eb",
      "name": "Личное сообщение"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Личное сообщение').item.json.message.text }}",
                    "rightValue": "/c",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "9e45e50c-4055-4791-9801-7edba851ce7f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Выбор канала"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3a7b795c-45b9-45a8-8297-c78e540583e7",
                    "leftValue": "={{ $('Личное сообщение').item.json.message.text }}",
                    "rightValue": "/a",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Добавить подарок"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "29872fb1-a0e5-45ef-87c3-098ebfb68d15",
                    "leftValue": "={{ $('Личное сообщение').item.json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Старт"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1696,
        512
      ],
      "id": "8fb5c1e1-8d9f-4ec1-8655-0f2d508c25df",
      "name": "Определение команды"
    },
    {
      "parameters": {
        "jsCode": "const msg = $(\"Личное сообщение\").first().json.message;\nconst text = msg.text || \"\";\nconst parts = text.split(\" \");\n\nlet channel_id = 0;\nlet invite = null;\n\n// Если после /start что-то есть\nif (parts.length > 1) {\n  const param = parts[1]; // берем n_word\n  \n  // Регулярка: число, потом подчеркивание, потом слово (буквы, цифры, тире)\n  const match = param.match(/^(\\d+)_([a-zA-Z0-9-]+)$/);\n  \n  if (match) {\n    channel_id = parseInt(match[1], 10);\n    invite = match[2];\n  } else {\n    // Если параметр есть, но не по формату — вызываем ошибку\n    throw new Error(`Invalid start parameter format: ${param}. Expected n_word (eПоиск канала1.g. 123_promo-code)`);\n  }\n}\n\nreturn {\n  channel_id: channel_id,\n  user_id: msg.from.id,\n  username: msg.from.username || \"\",\n  first_name: msg.from.first_name || \"\",\n  last_name: msg.from.last_name || \"\",\n  invite: invite || \"\",\n  state: {} // для JSONB в PostgreSQL\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        336
      ],
      "id": "6965071a-c6c4-47cd-a33d-dec5c3fb632d",
      "name": "Подготовка полей записи лога",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "atgate",
          "mode": "list",
          "cachedResultName": "atgate"
        },
        "table": {
          "__rl": true,
          "value": "Channel",
          "mode": "list",
          "cachedResultName": "Channel"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.channel_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2096,
        32
      ],
      "id": "f58102bd-eb2d-40f3-a411-d6acd3b6a9f8",
      "name": "Поиск канала",
      "credentials": {
        "postgres": {
          "id": "xe5rl8ApMEn9rCCd",
          "name": "Postgres account"
        }
      },
      "notes": "Если канала не найден - выполнение прекратится"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "41d0d882-3765-45a0-a7d4-4f373cc2b1b3",
              "leftValue": "={{ $json.channel_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1696,
        320
      ],
      "id": "7fc382cc-5cd1-4c5f-9c9f-017a4b0b72eb",
      "name": "Лид?",
      "notes": "Тут лидом считаем того, кто пришел из соцсети по ссылке в канал. Для него будет указан id канала в системе"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "atgate",
          "mode": "list",
          "cachedResultName": "atgate"
        },
        "table": {
          "__rl": true,
          "value": "AtGateLinks",
          "mode": "list",
          "cachedResultName": "AtGateLinks"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "code_word",
              "value": "={{ $('Лид?').item.json.invite }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2272,
        32
      ],
      "id": "687c4555-59a2-4701-b1a7-e92cfcd65bda",
      "name": "Поиск слова",
      "credentials": {
        "postgres": {
          "id": "xe5rl8ApMEn9rCCd",
          "name": "Postgres account"
        }
      },
      "notes": "Если кодовое слово не найдено - выполнение прекратится"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8971d2d9-ca02-40f8-9908-d57dd0637b95",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        448
      ],
      "id": "f8904ebd-89cc-494d-a3ed-2a87fd48351f",
      "name": "/start"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "atgate",
          "mode": "list",
          "cachedResultName": "atgate"
        },
        "table": {
          "__rl": true,
          "value": "AtGateAdmins",
          "mode": "list",
          "cachedResultName": "AtGateAdmins"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.user_id }}",
            "username": "={{ $json.username }}",
            "status": "{}"
          },
          "matchingColumns": [
            "user_id"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "is_blocked",
              "displayName": "is_blocked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2096,
        192
      ],
      "id": "f50a5482-5b0f-4281-9cb2-86f51eae0dbb",
      "name": "Добавление админа",
      "credentials": {
        "postgres": {
          "id": "xe5rl8ApMEn9rCCd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Добавление админа').item.json.user_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2448,
        192
      ],
      "id": "72d0803a-a952-44b0-97d0-d85da7604532",
      "name": "Приветствие",
      "webhookId": "b1a111c9-c787-45b9-ab43-1bca05294865",
      "credentials": {
        "telegramApi": {
          "id": "65F3OXZ2S5RJpd8j",
          "name": "Превратник"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем значение поля is_blocked из входящего элемента\nconst isBlocked = $input.first().json.is_blocked;\nlet message = \"\";\n\nif (isBlocked === true) {\n  // Текст, если пользователь НЕ заблокирован\n  message = `🔑 Вы запросили права на управление ботом **Привратником**.\n⏳ После одобрения администратором, вы сможете добавлять бота в 📢 каналы и создавать 📝 задания.`;\n} else {\n  // Текст, если пользователь заблокирован (is_blocked равен true или поле отсутствует)\n  message = `🔑 Вы можете управление ботом Привратником.`;\n}\n\n// Возвращаем результат в формате n8n\nreturn {\n  json: {\n    text: message\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        192
      ],
      "id": "5978a58c-ea1f-413c-95b2-69640a10bc71",
      "name": "Подготовка приветствия"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "XKAoEAKfto_5tIo2bZb5s",
          "mode": "list",
          "cachedResultUrl": "/workflow/XKAoEAKfto_5tIo2bZb5s",
          "cachedResultName": "sub_проверка прав"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user": "={{ $json.my_chat_member.from.id.toString()}}",
            "channel": "={{ $json.my_chat_member.chat.id.toString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "bot",
              "displayName": "bot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        784,
        1296
      ],
      "id": "37131a4e-a03a-4874-b58d-4a259be565ec",
      "name": "Получение разрешений"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cb4881e7-5629-4dc2-a676-28166ddd7533",
              "leftValue": "={{ $json[\"check:user_is_active\"] }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        992,
        1296
      ],
      "id": "aaec184a-61a4-41eb-8da2-04c417f32f07",
      "name": "Админ с правами?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.my_chat_member.from.id }}",
        "text": "=❌ У вас нет прав для добавления бота в канал! Обратитесь к администратору.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        1456
      ],
      "id": "f430457e-b58e-4ec7-a02f-a397024ee8dc",
      "name": "Админ не имеет прав",
      "webhookId": "b1a111c9-c787-45b9-ab43-1bca05294865",
      "retryOnFail": false,
      "credentials": {
        "telegramApi": {
          "id": "65F3OXZ2S5RJpd8j",
          "name": "Превратник"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "leave",
        "chatId": "={{ $('Telegram Trigger').item.json.my_chat_member.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        1616
      ],
      "id": "e299b0a5-ae74-4a5c-9835-fc6c8467cb08",
      "name": "Удаление бота из канала",
      "webhookId": "a1da5cf4-3fc7-4288-b2a4-5b43ee2cbff0",
      "retryOnFail": false,
      "credentials": {
        "telegramApi": {
          "id": "65F3OXZ2S5RJpd8j",
          "name": "Превратник"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "47fc9bcc-4171-4d41-b36b-84bd34cdd79b",
              "leftValue": "={{ $json[\"check:channel_is_active\"] }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "e6e07432-254c-4aed-88df-29395e5ad2a3",
              "leftValue": "={{ $json[\"check:channel_found\"] }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1200,
        1296
      ],
      "id": "5ddb74b8-11ba-4ddf-b05f-daa5a724f41e",
      "name": "Канал разблокирован?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.my_chat_member.from.id }}",
        "text": "=❌ Канал заблокирован, обратитесь к администратору.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        1456
      ],
      "id": "53ebea50-924e-4091-9988-7d882231a45d",
      "name": "Канал заблокирован",
      "webhookId": "b1a111c9-c787-45b9-ab43-1bca05294865",
      "retryOnFail": false,
      "credentials": {
        "telegramApi": {
          "id": "65F3OXZ2S5RJpd8j",
          "name": "Превратник"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.my_chat_member.from.id }}",
        "text": "=🤖🚪 Бот-привратник добавлен в канал {{ $('Telegram Trigger').first().json.my_chat_member.chat.title }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2016,
        1296
      ],
      "id": "dadce432-586e-44b0-8837-2fe0b6ee8a1d",
      "name": "Бот добавлен в канал",
      "webhookId": "b1a111c9-c787-45b9-ab43-1bca05294865",
      "retryOnFail": false,
      "credentials": {
        "telegramApi": {
          "id": "65F3OXZ2S5RJpd8j",
          "name": "Превратник"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n    SELECT 1 \n    FROM atgate.\"AtGateAdmins\" \n    WHERE user_id = {{ $json.message.from.id }} AND NOT is_blocked\n) AS is_ok;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1328,
        560
      ],
      "id": "af7c3fde-0b64-41e1-a292-a6c940141bd3",
      "name": "Админ допущен",
      "credentials": {
        "postgres": {
          "id": "xe5rl8ApMEn9rCCd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('/start').item.json.message.chat.id }}",
        "text": "=❌ У вас нет прав для на управление ботом! Обратитесь к администратору.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1696,
        752
      ],
      "id": "05e3bbe1-a5c0-4212-a890-1bb390894a90",
      "name": "Нет допуска",
      "webhookId": "b1a111c9-c787-45b9-ab43-1bca05294865",
      "credentials": {
        "telegramApi": {
          "id": "65F3OXZ2S5RJpd8j",
          "name": "Превратник"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b0d4a18b-e192-4c64-9a86-eb124e0ef5fc",
              "leftValue": "={{ $json.is_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1472,
        560
      ],
      "id": "3a16cbb0-ed10-4f5d-857a-f54dc0fb811b",
      "name": "Есть права?"
    },
    {
      "parameters": {
        "jsCode": "const input = $('/start').first().json.message.text || \"\";\n// Код для Code node в n8n\n\n// 1. Парсинг команды\nconst commandMatch = input.match(/^\\/(add|a)\\s+([^\\s]+)\\s+([^\\s]+)$/i);\nif (!commandMatch) {\n  return { json: { error: '❌ Не правильный формат команды' } };\n}\n\nconst [, , codeWord, link] = commandMatch;\n\n// 2. Валидация code_word\nif (!/^[a-zA-Zа-яА-ЯёЁ0-9-]+$/.test(codeWord)) {\n  return { json: { error: '❌ Не правильное кодовое слово' } };\n}\n\n// 3. Валидация ссылки\nconst linkRegex = /^https:\\/\\/t\\.me\\/c\\/(\\d+)\\/\\d+$/;\nif (!linkRegex.test(link)) {\n  return { json: { error: '❌ Не правильный формат ссылки' } };\n}\n\n// 4. Сборка channel_id\nconst channelId = `-100${link.match(linkRegex)[1]}`;\n\n// 5. Успешный результат\nreturn {\n  json: {\n    channel_id: channelId,\n    type_target: 'подписка на тг канал',\n    parameters: {},\n    code_word: codeWord,\n    link_target: link\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        528
      ],
      "id": "d4d25458-1df0-441a-ae19-d4efd0a43fce",
      "name": "Проверка команды",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('/start').item.json.message.chat.id }}",
        "text": "={{ $json.error }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2272,
        688
      ],
      "id": "1678cbb7-047b-490e-8568-2f601cbd9734",
      "name": "Ошибка команды",
      "webhookId": "b1a111c9-c787-45b9-ab43-1bca05294865",
      "credentials": {
        "telegramApi": {
          "id": "65F3OXZ2S5RJpd8j",
          "name": "Превратник"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "XKAoEAKfto_5tIo2bZb5s",
          "mode": "list",
          "cachedResultUrl": "/workflow/XKAoEAKfto_5tIo2bZb5s",
          "cachedResultName": "sub_проверка прав"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user": "={{ $('/start').item.json.message.from.id.toString() }}",
            "channel": "={{ $json.channel_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "bot",
              "displayName": "bot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2272,
        528
      ],
      "id": "7d0014a0-0866-4066-8248-fbfec0f073a9",
      "name": "Проверка разрешений"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "47fc9bcc-4171-4d41-b36b-84bd34cdd79b",
              "leftValue": "={{ $json[\"check:channel_found\"] }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2464,
        528
      ],
      "id": "6877590f-3217-45dd-9d2f-1843a0cdb1bf",
      "name": "Канал зарегистрирован?"
    },
    {
      "parameters": {
        "chatId": "={{ $('/start').item.json.message.chat.id }}",
        "text": "=❌ Канал не зарегистрирован или бот не добавлен в канал.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2656,
        688
      ],
      "id": "7c20a6b8-215a-4a09-8cfa-2f25e6e7cda1",
      "name": "Канал не зарегистрирован",
      "webhookId": "b1a111c9-c787-45b9-ab43-1bca05294865",
      "credentials": {
        "telegramApi": {
          "id": "65F3OXZ2S5RJpd8j",
          "name": "Превратник"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "84e21b0a-7a30-4329-8f71-b0410853e601",
              "leftValue": "={{ $json[\"check:channel_is_active\"] }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2656,
        528
      ],
      "id": "1dddc274-22b0-4928-a853-0ebb6083ddc1",
      "name": "Канал активен?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "84e21b0a-7a30-4329-8f71-b0410853e601",
              "leftValue": "={{ $json[\"check:bot_is_member\"] }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2864,
        528
      ],
      "id": "a6fadf64-d1a0-4644-b412-00523d0b98e9",
      "name": "Бот в канале?"
    },
    {
      "parameters": {
        "chatId": "={{ $('/start').item.json.message.chat.id }}",
        "text": "=❌ Ббот не добавлен в канал.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3072,
        688
      ],
      "id": "c9116d3c-0581-4c20-a496-ecfc6ad717a8",
      "name": "Бот не в канале",
      "webhookId": "b1a111c9-c787-45b9-ab43-1bca05294865",
      "credentials": {
        "telegramApi": {
          "id": "65F3OXZ2S5RJpd8j",
          "name": "Превратник"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "84e21b0a-7a30-4329-8f71-b0410853e601",
              "leftValue": "={{ $json[\"check:user_is_channel_admin\"] }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3072,
        528
      ],
      "id": "11245fac-0382-48ba-83e2-bc5735dfffe1",
      "name": "Пользователь админ канала?"
    },
    {
      "parameters": {
        "chatId": "={{ $('/start').item.json.message.chat.id }}",
        "text": "=❌ Вы не являетесь администратором канала в данный момент.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3280,
        688
      ],
      "id": "f77e6ed4-b588-47f8-9316-a1db2bb37228",
      "name": "Пользователь не админ канала",
      "webhookId": "b1a111c9-c787-45b9-ab43-1bca05294865",
      "credentials": {
        "telegramApi": {
          "id": "65F3OXZ2S5RJpd8j",
          "name": "Превратник"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('/start').item.json.message.chat.id }}",
        "text": "=❌ Канал Заблокирован. Обратитесь к администратору.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2864,
        688
      ],
      "id": "e0ae73b1-e326-435b-8937-9e0a2c953920",
      "name": "Канал заблокирован1",
      "webhookId": "b1a111c9-c787-45b9-ab43-1bca05294865",
      "credentials": {
        "telegramApi": {
          "id": "65F3OXZ2S5RJpd8j",
          "name": "Превратник"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Передача данных и генерация уникального кода\nreturn $('Проверка команды').all().map(item => {\n  item.json.code = Math.random().toString(36).substring(2, 7);\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3440,
        512
      ],
      "id": "a6fa7e26-7b4d-4147-8df6-d42c5dcf8e2b",
      "name": "Данные"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "atgate",
          "mode": "list",
          "cachedResultName": "atgate"
        },
        "table": {
          "__rl": true,
          "value": "AtGateTarget",
          "mode": "list",
          "cachedResultName": "AtGateTarget"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "channel_id": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "channel_id",
              "displayName": "channel_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "type_target",
              "displayName": "type_target",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "parameters",
              "displayName": "parameters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "code_word",
              "displayName": "code_word",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "code",
              "displayName": "code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link_target",
              "displayName": "link_target",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3584,
        512
      ],
      "id": "992f631e-e839-421a-8425-8ac160440809",
      "name": "Добавление цели",
      "retryOnFail": false,
      "credentials": {
        "postgres": {
          "id": "xe5rl8ApMEn9rCCd",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Таблица транслитерации\n\nGOST_TG_MAP = {\n    'а': 'a',   'б': 'b',   'в': 'v',   'г': 'g',   'д': 'd', \n    'е': 'e',   'ё': 'yo',  'ж': 'zh',  'з': 'z',   'и': 'i', \n    'й': 'j',   'к': 'k',   'л': 'l',   'м': 'm',   'н': 'n', \n    'о': 'o',   'п': 'p',   'р': 'r',   'с': 's',   'т': 't', \n    'у': 'u',   'ф': 'f',   'х': 'h',   'ц': 'cz',  'ч': 'ch', \n    'ш': 'sh',  'щ': 'shch', 'ы': 'y',\n    \n    # Нюансы адаптации знаков под правила Telegram:\n    'ъ': '--',  # В ГОСТе `` -> заменено на двойной дефис\n    'ь': '-',   # В ГОСТе `  -> заменено на одиночный дефис\n    'э': 'e-',  # В ГОСТе e` -> заменено на e- (четкое отличие от 'е')\n  \n}\n",
        "height": 368,
        "width": 704,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1248,
        -1488
      ],
      "typeVersion": 1,
      "id": "7caca661-55fc-4377-82f2-c9c9f581c3f1",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "chatId": "={{ $('/start').item.json.message.chat.id }}",
        "text": "=🎉 Ваша ссылка для выдачи подарка готова. \n\nСкопируйте её и отправьте пользователю:\n<code>t.me/AtGate_bot?start={{ $json.code }}</code>\n\n🔗 При переходе по ссылке бот автоматически поймет, что нужно выдать подарок за слово «{{ $json.code_word }}».\n",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3808,
        512
      ],
      "id": "5f99c4c0-dde2-4221-8fb3-16149d52a753",
      "name": "Сообщение со ссылкой",
      "webhookId": "b1a111c9-c787-45b9-ab43-1bca05294865",
      "credentials": {
        "telegramApi": {
          "id": "65F3OXZ2S5RJpd8j",
          "name": "Превратник"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "N8N",
  "repo_owner": "avdivo",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-05-05T10:18:50.424Z",
      "createdAt": "2026-05-05T10:18:50.424Z",
      "role": "workflow:owner",
      "workflowId": "4NBpOUrsoYJ0Qmlkgz8W6",
      "projectId": "ILcfmLBZn60jlfes"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-20T22:33:01.006Z",
  "versionId": "4775e829-4683-4880-96d6-4dc9d91f8ff2"
}