2026/05/fW6Rio93zY9ttrGuzipKI.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Функция": {
      "main": [
        [
          {
            "node": "Вход",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Вход",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Вход": {
      "main": [
        [
          {
            "node": "Активные каналы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Активные каналы": {
      "main": [
        [
          {
            "node": "Цикл по каналам",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Цикл по каналам": {
      "main": [
        [
          {
            "node": "Только админы",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Статус пользователя в канале",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return": {
      "main": [
        []
      ]
    },
    "Только админы": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Статус пользователя в канале": {
      "main": [
        [
          {
            "node": "Подготовка ответа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовка ответа": {
      "main": [
        [
          {
            "node": "Цикл по каналам",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-21T19:08:59.824Z",
  "id": "fW6Rio93zY9ttrGuzipKI",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "sub_каналы пользователя",
  "nodes": [
    {
      "parameters": {
        "content": "## Список каналов пользователя\n\nФормирует и возвращает список каналов зарегистрированных в системе, в которых указанный пользователь является админом. \n\n### Принимает\n`user_id`  - идентификатор пользователя в тг\n\n### Возвращает\nJSON `Список объектов:\n- `channel_name` - название канала \n- `channel_id` - идентификатор канала\n\n### Алгоритм\n- получает список активных каналов из таблицы `AtGateChannel` в схеме `atgate`\n- запрашивает в тг админов канала (ошибки, если бот не в канале - игнорируем)\n- если переданный пользователь является админом канала - выбираем канал\n- возвращаем выбранные каналы",
        "height": 496,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        64
      ],
      "typeVersion": 1,
      "id": "0bd7dbeb-b251-4a7e-a17b-a134aa795b56",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        384,
        256
      ],
      "id": "5bacbcc4-1c4c-4309-9888-92a0e450961f",
      "name": "Функция"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        384,
        96
      ],
      "id": "46ff889a-3472-4150-9efc-985b1e311fd4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "943b5099-8ee7-4a62-9ced-f3007af7c0b5",
              "name": "user",
              "value": "2495031901",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        96
      ],
      "id": "89fd1e64-31f4-4670-add0-ac941f6e60c8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "channel_id, channel_name",
        "options": {}
      },
      "id": "aaa9a4fb-d254-4a27-8aa4-19fd65a531e7",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        1792,
        160
      ],
      "typeVersion": 3.3,
      "executeOnce": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3fcd6641-ce23-4762-83d7-c41f566aec14",
              "name": "user",
              "value": "={{ $json.user }}",
              "type": "string"
            },
            {
              "id": "d6fec304-b661-4bd9-b1c5-503ffffb1117",
              "name": "bot",
              "value": "8631709948",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        256
      ],
      "id": "21bd7f77-f513-4d81-8f69-e646470ff3f3",
      "name": "Вход"
    },
    {
      "parameters": {
        "content": "### Указать id бота",
        "height": 192,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        208
      ],
      "typeVersion": 1,
      "id": "4d9ccac0-4068-461b-b234-a9a59b63b7bf",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "atgate",
          "mode": "list",
          "cachedResultName": "atgate"
        },
        "table": {
          "__rl": true,
          "value": "AtGateChannel",
          "mode": "list",
          "cachedResultName": "AtGateChannel"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "is_blocked",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1168,
        256
      ],
      "id": "fc73effa-e7cd-40b6-a0d7-8727b813b772",
      "name": "Активные каналы",
      "credentials": {
        "postgres": {
          "id": "xe5rl8ApMEn9rCCd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1376,
        256
      ],
      "id": "6727ff3c-315a-4033-9237-346dc34e4928",
      "name": "Цикл по каналам",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b177163a-83c1-4107-b45b-9269e390b866",
              "leftValue": "={{ $json.result.status }}",
              "rightValue": "administrator",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "90338af3-6f14-4fd8-b48f-0bd95a99a0aa",
              "leftValue": "={{ $json.result.status }}",
              "rightValue": "creator",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1584,
        160
      ],
      "id": "0c94ad97-cff1-427d-a6d5-c16f3244b01f",
      "name": "Только админы",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "member",
        "chatId": "={{ $json.channel_id }}",
        "userId": "={{ $('Вход').item.json.user }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1584,
        368
      ],
      "id": "4944ef4a-0457-45b2-a717-fb765e20104d",
      "name": "Статус пользователя в канале",
      "webhookId": "fef88ae3-e16b-448b-a244-4e04c082c12c",
      "credentials": {
        "telegramApi": {
          "id": "65F3OXZ2S5RJpd8j",
          "name": "Превратник"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43ec7ae3-1c0e-4084-9364-a416514e4d97",
              "name": "channel_id",
              "value": "={{ $('Цикл по каналам').item.json.channel_id }}",
              "type": "string"
            },
            {
              "id": "121c94aa-3e2b-4d63-9f0f-d45b1b58410d",
              "name": "channel_name",
              "value": "={{ $('Цикл по каналам').item.json.channel_name }}",
              "type": "string"
            },
            {
              "id": "6af4694e-e040-4d6d-ab04-b8ed01047af8",
              "name": "result.status",
              "value": "={{ $json.result.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        368
      ],
      "id": "30f99c64-8d3d-47f5-921e-e5c8434bb2a9",
      "name": "Подготовка ответа"
    }
  ],
  "pinData": {},
  "repo_name": "N8N",
  "repo_owner": "avdivo",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Minsk",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-05-21T19:08:59.824Z",
      "createdAt": "2026-05-21T19:08:59.824Z",
      "role": "workflow:owner",
      "workflowId": "fW6Rio93zY9ttrGuzipKI",
      "projectId": "ILcfmLBZn60jlfes"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-24T11:54:16.652Z",
  "versionId": "c2e720e4-2fa0-4867-a697-cf4a0144b1b5"
}