2026/05/XKAoEAKfto_5tIo2bZb5s.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-05-22T16:01:12.789Z",
    "createdAt": "2026-05-22T16:00:57.723Z",
    "versionId": "ef193d1a-76ff-4d95-807d-48cc93f7a919",
    "workflowId": "XKAoEAKfto_5tIo2bZb5s",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "user"
              },
              {
                "name": "channel"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          16,
          944
        ],
        "id": "43fd0afa-0ac3-44b9-a316-01145100682b",
        "name": "Функция"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          16,
          784
        ],
        "id": "7cd237c6-78a5-4b93-9cf7-d070dce1a211",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "943b5099-8ee7-4a62-9ced-f3007af7c0b5",
                "name": "user",
                "value": "249503190",
                "type": "string"
              },
              {
                "id": "93961d51-d9ef-4084-9707-4d170e84e3a4",
                "name": "channel",
                "value": "-1003411040779",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          192,
          784
        ],
        "id": "41135300-9bb4-42d6-ada8-52a813e82bb3",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "content": "## Функция Проверка прав\nСобирает всю информацию о запрошенном пользователе и канале и возвращает в виде списка флагов.\n\n## Аргументы\n- `user` идентификатор пользователя по таблице  `AtGateAdmins` в схеме `atgate`\n- `channel` идентификатор канала по таблице `AtGateChannel` в схеме `atgate`\n- `bot` идентификатор бота\n\n## Возвращает\nПлоский JSON со значениями для каждого флага: `null`, `true`, `false` . Уровни для наглядности. Если для любого поля значение не определено `null` - то и все нижестоящие поля не определяются.\n\n* `check:user_id_provided` — пользователь запрошен.\n  * `check:user_is_lead` — пользователь является лидом.\n  * `check:user_is_admin` — пользователь является админом.\n    * `check:user_is_active` — пользователь разблокирован.\n\n\n* `check:channel_id_provided` — канал запрошен.\n  * `check:channel_found` — канал зарегистрирован.\n    * `check:channel_is_active` — канал разблокирован.\n      * `check:bot_is_member` — бот находится в канале.\n        * `check:user_is_channel_admin` — пользователь является админом канала.\n        * `check:user_is_subscribed` — пользователь подписан.\n        * `check:channel_name`  — название канала\n",
          "height": 656,
          "width": 592
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          32,
          16
        ],
        "typeVersion": 1,
        "id": "31b4400f-6005-4439-af6d-e2c80cc603d3",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "3994a47c-0da6-46db-8197-e9196c697348",
                "leftValue": "={{ $('Вход').item.json.user }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1232,
          944
        ],
        "id": "a0eab9d0-25e6-4146-bc38-c500eb2bacde",
        "name": "Пользователь запрошен?"
      },
      {
        "parameters": {
          "operation": "set",
          "key": "={{ $json.redis_key }}",
          "value": "={{ $json.redis_value }}"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          1024,
          944
        ],
        "id": "e58a424d-a463-478c-bcdb-8fe7381f5fae",
        "name": "Сохранение переменных",
        "credentials": {
          "redis": {
            "id": "b5sd4CQ59tgLeFqu",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ==========================================\n// ПРОСТОЙ СПИСОК: СЛЕВА КЛЮЧ РЕДИСА — СПРАВА ЗНАЧЕНИЕ\n// ==========================================\nconst permissionsList = {\n  \"check:user_id_provided\": null,       // пользователь запрошен\n  \"check:user_is_lead\": null,           // пользователь является лидом\n  \"check:user_is_admin\": null,          // пользователь является админом\n  \"check:user_is_active\": null,         // пользователь разблокирован\n  \n  \"check:channel_id_provided\": null,    // канал запрошен\n  \"check:channel_found\": null,          // канал зарегистрирован\n  \"check:channel_is_active\": null,      // канал разблокирован\n  \"check:bot_is_member\": null,          // бот находится в канале\n  \"check:user_is_channel_admin\": null,  // пользователь является админом канала\n  \"check:user_is_subscribed\": null,     // пользователь подписан\n  \"check:channel_name\": null            // название канала\n};\n\n// ==========================================\n// ПРОСТАЯ КОНВЕРТАЦИЯ ДЛЯ НОДЫ REDIS\n// ==========================================\nreturn Object.keys(permissionsList).map(key => {\n  return {\n    json: {\n      redis_key: key,\n      redis_value: permissionsList[key] === null ? \"null\" : String(permissionsList[key])\n    }\n  };\n});\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          864,
          944
        ],
        "id": "d4f25f7a-ad6f-40b9-bb42-3aa0737acd8a",
        "name": "Переменные"
      },
      {
        "parameters": {
          "jsCode": "// ==========================================\n// ПРОСТОЙ СПИСОК: СЛЕВА КЛЮЧ РЕДИСА — СПРАВА ЗНАЧЕНИЕ\n// ==========================================\nconst permissionsList = {\n  \"check:user_id_provided\": null,       // пользователь запрошен\n  \"check:user_is_lead\": null,           // пользователь является лидом\n  \"check:user_is_admin\": null,          // пользователь является админом\n  \"check:user_is_active\": null,         // пользователь разблокирован\n  \n  \"check:channel_id_provided\": null,    // канал запрошен\n  \"check:channel_found\": null,          // канал зарегистрирован\n  \"check:channel_is_active\": null,      // канал разблокирован\n  \"check:bot_is_member\": null,          // бот находится в канале\n  \"check:user_is_channel_admin\": null,  // пользователь является админом канала\n  \"check:user_is_subscribed\": null      // пользователь подписан\n};\n\n// ==========================================\n// ПРОСТАЯ КОНВЕРТАЦИЯ ДЛЯ НОДЫ REDIS\n// ==========================================\nreturn Object.keys(permissionsList).map(key => {\n  return {\n    json: {\n      redis_key: key,\n      redis_value: permissionsList[key] === null ? \"null\" : String(permissionsList[key])\n    }\n  };\n});\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          784,
          480
        ],
        "id": "6d092490-7cc3-4fa2-8d54-92471f6bfba1",
        "name": "Переменные1"
      },
      {
        "parameters": {
          "content": "## Прочитать переменные",
          "height": 272,
          "width": 400
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          752,
          384
        ],
        "typeVersion": 1,
        "id": "6302e91a-e592-4fce-a11b-2250a163fdd9",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "={{ $json.redis_key }}",
          "key": "={{ $json.redis_key }}",
          "options": {}
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          944,
          480
        ],
        "id": "a8c79c9e-c9d4-475e-9c39-b7a12aac3b57",
        "name": "Показать переменные",
        "credentials": {
          "redis": {
            "id": "b5sd4CQ59tgLeFqu",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "check:user_id_provided",
          "value": "true"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          1456,
          848
        ],
        "id": "02aead88-44ad-4afd-b438-9bff62e05fac",
        "name": "check:user_id_provided",
        "credentials": {
          "redis": {
            "id": "b5sd4CQ59tgLeFqu",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "check:user_is_lead",
          "value": "={{ $json.user_found }}",
          "keyType": "string"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          1808,
          848
        ],
        "id": "3cc0f02e-f5ec-422f-9fd4-424b6c36a22d",
        "name": "check:user_is_lead",
        "credentials": {
          "redis": {
            "id": "b5sd4CQ59tgLeFqu",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT EXISTS (\n    SELECT 1 \n    FROM \"atgate\".\"AtGateUser\" \n    WHERE user_id = {{ $('Вход').item.json.user }}\n) AS user_found;\n;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1632,
          848
        ],
        "id": "c152021e-d1af-435f-913b-a844b6affe6c",
        "name": "Лид?",
        "alwaysOutputData": true,
        "executeOnce": true,
        "credentials": {
          "postgres": {
            "id": "xe5rl8ApMEn9rCCd",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT EXISTS (\n    SELECT 1 \n    FROM \"atgate\".\"AtGateAdmins\" \n    WHERE user_id = {{ $('Вход').item.json.user }}\n) AS is_admin;\n;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1984,
          848
        ],
        "id": "a84382b0-0a4f-411d-ae86-3c9a69c5af31",
        "name": "Поиск среди админов",
        "alwaysOutputData": true,
        "executeOnce": true,
        "credentials": {
          "postgres": {
            "id": "xe5rl8ApMEn9rCCd",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "61ac637c-0fec-4c3f-8589-783ee597daf3",
                "leftValue": "={{ $json.is_admin }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2352,
          944
        ],
        "id": "384a5a00-17bd-4c76-8f4a-a9e1465587ad",
        "name": "Админ?"
      },
      {
        "parameters": {
          "operation": "set",
          "key": "check:user_is_admin",
          "value": "={{ $json.is_admin }}",
          "keyType": "string"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          2160,
          848
        ],
        "id": "e6827402-f7be-427d-9c80-d1ef50717824",
        "name": "check:user_is_admin",
        "credentials": {
          "redis": {
            "id": "b5sd4CQ59tgLeFqu",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT EXISTS (\n    SELECT 1 \n    FROM \"atgate\".\"AtGateAdmins\" \n    WHERE user_id = {{ $('Вход').item.json.user }} \n      AND is_blocked = false\n) AS is_active;\n",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          2592,
          944
        ],
        "id": "8207fefa-1660-479f-8861-890b2a6b72af",
        "name": "Админ активный?",
        "alwaysOutputData": true,
        "executeOnce": true,
        "credentials": {
          "postgres": {
            "id": "xe5rl8ApMEn9rCCd",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "check:user_is_active",
          "value": "={{ $json.is_active }}",
          "keyType": "string"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          2800,
          1056
        ],
        "id": "a537a547-6611-46ea-8bd9-29f739d5552b",
        "name": "check:user_is_active",
        "credentials": {
          "redis": {
            "id": "b5sd4CQ59tgLeFqu",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "check:channel_id_provided",
          "value": "true"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          912,
          1472
        ],
        "id": "9d702540-b3a2-456f-9030-925d24d14b00",
        "name": "check:channel_id_provided",
        "credentials": {
          "redis": {
            "id": "b5sd4CQ59tgLeFqu",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "3994a47c-0da6-46db-8197-e9196c697348",
                "leftValue": "={{ $('Вход').item.json.channel }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          688,
          1568
        ],
        "id": "da631f08-8b8b-4f74-a42a-d35297ade475",
        "name": "Канал запрошен?"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT EXISTS (\n    SELECT 1 \n    FROM \"atgate\".\"AtGateChannel\" \n    WHERE channel_id = {{ $('Вход').item.json.channel }}\n) AS is_exist;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1104,
          1472
        ],
        "id": "833b7d0d-67c6-424b-be1b-519006306dee",
        "name": "Поиск среди каналов",
        "alwaysOutputData": true,
        "executeOnce": true,
        "credentials": {
          "postgres": {
            "id": "xe5rl8ApMEn9rCCd",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "check:channel_found",
          "value": "={{ $json.is_exist }}",
          "keyType": "string"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          1280,
          1472
        ],
        "id": "80a3fc37-b465-4c48-98f0-bdb8becdc155",
        "name": "check:channel_found",
        "credentials": {
          "redis": {
            "id": "b5sd4CQ59tgLeFqu",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "61ac637c-0fec-4c3f-8589-783ee597daf3",
                "leftValue": "={{ $json.is_exist }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1456,
          1472
        ],
        "id": "9793d681-ae9c-44d9-8e20-a630101f3097",
        "name": "Канал найден?"
      },
      {
        "parameters": {
          "operation": "set",
          "key": "check:channel_is_active",
          "value": "={{ $json.is_active }}",
          "keyType": "string"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          1840,
          1392
        ],
        "id": "5f159105-bd1d-4f59-8d37-81ea64ac0c9b",
        "name": "check:channel_is_active",
        "credentials": {
          "redis": {
            "id": "b5sd4CQ59tgLeFqu",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT EXISTS (\n    SELECT 1 \n    FROM \"atgate\".\"AtGateChannel\" \n    WHERE channel_id = {{ $('Вход').item.json.channel }} \n      AND is_blocked = false\n) AS is_active;\n",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1664,
          1392
        ],
        "id": "65844ab4-cbe3-4ada-b1a5-8f84ef25585b",
        "name": "Канал активный?",
        "alwaysOutputData": true,
        "executeOnce": true,
        "credentials": {
          "postgres": {
            "id": "xe5rl8ApMEn9rCCd",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "resource": "chat",
          "operation": "member",
          "chatId": "={{ $('Вход').item.json.channel }}",
          "userId": "={{ $('Вход').item.json.bot }}"
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2016,
          1392
        ],
        "id": "c04a33ce-29de-41b0-824b-38061e6aa157",
        "name": "Бот в канале?",
        "webhookId": "c65ff9df-508a-4f5c-854c-ad99d62e1802",
        "credentials": {
          "telegramApi": {
            "id": "65F3OXZ2S5RJpd8j",
            "name": "Превратник"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "set",
          "key": "check:bot_is_member",
          "value": "={{ $json.error ? 'false' : 'true' }}",
          "keyType": "string"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          2864,
          1376
        ],
        "id": "618ac029-e2fc-4674-aca1-51749405a1ed",
        "name": "check:bot_is_member",
        "credentials": {
          "redis": {
            "id": "b5sd4CQ59tgLeFqu",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "6a569ef3-b8be-4720-a346-f36e91912dcb",
                "leftValue": "={{ $json.error ? 'false' : 'true' }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          3040,
          1376
        ],
        "id": "58822f54-20fd-439a-82ab-0fd975817761",
        "name": "Бот - админ?"
      },
      {
        "parameters": {
          "resource": "chat",
          "operation": "member",
          "chatId": "={{ $('Вход').item.json.channel }}",
          "userId": "={{ $('Вход').item.json.user }}"
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          3248,
          1280
        ],
        "id": "a47340b4-3cbe-4f34-be56-d32c7bee7c14",
        "name": "Кто пользователь в канале",
        "webhookId": "c65ff9df-508a-4f5c-854c-ad99d62e1802",
        "credentials": {
          "telegramApi": {
            "id": "65F3OXZ2S5RJpd8j",
            "name": "Превратник"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "set",
          "key": "check:user_is_channel_admin",
          "value": "={{ ['administrator', 'creator'].includes($json.result?.status) ? 'true' : 'false' }}",
          "keyType": "string"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          3440,
          1280
        ],
        "id": "bbd9a7fe-bfb0-44b3-8144-e10326cb11dd",
        "name": "check:user_is_channel_admin",
        "credentials": {
          "redis": {
            "id": "b5sd4CQ59tgLeFqu",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "check:user_is_subscribed",
          "value": "true",
          "keyType": "string"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          3888,
          1200
        ],
        "id": "133efef9-9b82-43e3-919a-bbe1a6b1c5e7",
        "name": "check:user_is_subscribed",
        "credentials": {
          "redis": {
            "id": "b5sd4CQ59tgLeFqu",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "6a569ef3-b8be-4720-a346-f36e91912dcb",
                "leftValue": "={{ ['administrator', 'creator'].includes($json.result?.status) ? 'true' : 'false' }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          3632,
          1280
        ],
        "id": "1d1e9e83-d16d-4595-bfea-d9aaae33d4b3",
        "name": "Пользователь админ канала?"
      },
      {
        "parameters": {
          "operation": "set",
          "key": "check:user_is_subscribed",
          "value": "={{ $json.result?.status === 'member' ? 'true' : 'false' }}",
          "keyType": "string"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          4064,
          1296
        ],
        "id": "dce388b2-b563-41e5-84c8-4880edec2442",
        "name": "check:user_is_subscribed1",
        "credentials": {
          "redis": {
            "id": "b5sd4CQ59tgLeFqu",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "operation": "keys",
          "keyPattern": "check:*"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          4656,
          1568
        ],
        "id": "f371d89d-5a17-4120-b302-0f0b339a170c",
        "name": "Все флаги",
        "credentials": {
          "redis": {
            "id": "b5sd4CQ59tgLeFqu",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3fcd6641-ce23-4762-83d7-c41f566aec14",
                "name": "user",
                "value": "={{ $json.user }}",
                "type": "string"
              },
              {
                "id": "e88eaa82-2528-4549-bc42-8cd263aa10e6",
                "name": "channel",
                "value": "={{ $json.channel }}",
                "type": "string"
              },
              {
                "id": "d6fec304-b661-4bd9-b1c5-503ffffb1117",
                "name": "bot",
                "value": "8631709948",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          592,
          944
        ],
        "id": "0ca06aa8-1d57-4edc-9b6f-ef0b46c21375",
        "name": "Вход"
      },
      {
        "parameters": {
          "content": "### Указать id бота",
          "height": 192,
          "width": 160
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          560,
          896
        ],
        "typeVersion": 1,
        "id": "28bc9a13-dac2-4734-aec9-999457187145",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "1c672ec7-cd1f-4264-958b-63a43fd8a19a",
                "leftValue": "={{ $json.error ? 'false' : 'true' }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2240,
          1296
        ],
        "id": "995a1c90-a8be-41fe-835e-c70add065c5a",
        "name": "В канале?"
      },
      {
        "parameters": {
          "operation": "set",
          "key": "check:channel_name",
          "value": "={{ $json.result.title }}",
          "keyType": "string"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          2624,
          1296
        ],
        "id": "2f43ea23-4bfd-494c-8a6a-315bbb1420d6",
        "name": "check:channel_name",
        "credentials": {
          "redis": {
            "id": "b5sd4CQ59tgLeFqu",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "resource": "chat",
          "chatId": "={{ $('Вход').item.json.channel }}"
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2448,
          1296
        ],
        "id": "357a195b-2051-4d13-87e5-ffade7009d46",
        "name": "Название канала",
        "webhookId": "deb82648-a4bf-45e6-b931-df64ee873c59",
        "credentials": {
          "telegramApi": {
            "id": "65F3OXZ2S5RJpd8j",
            "name": "Превратник"
          }
        }
      }
    ],
    "connections": {
      "Функция": {
        "main": [
          [
            {
              "node": "Вход",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Вход",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Пользователь запрошен?": {
        "main": [
          [
            {
              "node": "check:user_id_provided",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Канал запрошен?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Переменные": {
        "main": [
          [
            {
              "node": "Сохранение переменных",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Сохранение переменных": {
        "main": [
          [
            {
              "node": "Пользователь запрошен?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Переменные1": {
        "main": [
          [
            {
              "node": "Показать переменные",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Лид?": {
        "main": [
          [
            {
              "node": "check:user_is_lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "check:user_id_provided": {
        "main": [
          [
            {
              "node": "Лид?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "check:user_is_lead": {
        "main": [
          [
            {
              "node": "Поиск среди админов",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Поиск среди админов": {
        "main": [
          [
            {
              "node": "check:user_is_admin",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Админ?": {
        "main": [
          [
            {
              "node": "Админ активный?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Канал запрошен?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "check:user_is_admin": {
        "main": [
          [
            {
              "node": "Админ?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Админ активный?": {
        "main": [
          [
            {
              "node": "check:user_is_active",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "check:user_is_active": {
        "main": [
          [
            {
              "node": "Канал запрошен?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Канал запрошен?": {
        "main": [
          [
            {
              "node": "check:channel_id_provided",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Все флаги",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "check:channel_id_provided": {
        "main": [
          [
            {
              "node": "Поиск среди каналов",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Поиск среди каналов": {
        "main": [
          [
            {
              "node": "check:channel_found",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "check:channel_found": {
        "main": [
          [
            {
              "node": "Канал найден?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Канал найден?": {
        "main": [
          [
            {
              "node": "Канал активный?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Все флаги",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Канал активный?": {
        "main": [
          [
            {
              "node": "check:channel_is_active",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "check:channel_is_active": {
        "main": [
          [
            {
              "node": "Бот в канале?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Бот в канале?": {
        "main": [
          [
            {
              "node": "В канале?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "check:bot_is_member": {
        "main": [
          [
            {
              "node": "Бот - админ?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Бот - админ?": {
        "main": [
          [
            {
              "node": "Кто пользователь в канале",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Все флаги",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Кто пользователь в канале": {
        "main": [
          [
            {
              "node": "check:user_is_channel_admin",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "check:user_is_channel_admin": {
        "main": [
          [
            {
              "node": "Пользователь админ канала?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Пользователь админ канала?": {
        "main": [
          [
            {
              "node": "check:user_is_subscribed",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "check:user_is_subscribed1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Показать переменные": {
        "main": [
          []
        ]
      },
      "check:user_is_subscribed": {
        "main": [
          [
            {
              "node": "Все флаги",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "check:user_is_subscribed1": {
        "main": [
          [
            {
              "node": "Все флаги",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Все флаги": {
        "main": [
          []
        ]
      },
      "Вход": {
        "main": [
          [
            {
              "node": "Переменные",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "В канале?": {
        "main": [
          [
            {
              "node": "Название канала",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Название канала": {
        "main": [
          [
            {
              "node": "check:channel_name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "check:channel_name": {
        "main": [
          [
            {
              "node": "check:bot_is_member",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Алексей К",
    "name": "Version ef193d1a",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "ef193d1a-76ff-4d95-807d-48cc93f7a919",
  "connections": {
    "Функция": {
      "main": [
        [
          {
            "node": "Вход",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Вход",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Пользователь запрошен?": {
      "main": [
        [
          {
            "node": "check:user_id_provided",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Канал запрошен?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Переменные": {
      "main": [
        [
          {
            "node": "Сохранение переменных",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранение переменных": {
      "main": [
        [
          {
            "node": "Пользователь запрошен?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Переменные1": {
      "main": [
        [
          {
            "node": "Показать переменные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Лид?": {
      "main": [
        [
          {
            "node": "check:user_is_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check:user_id_provided": {
      "main": [
        [
          {
            "node": "Лид?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check:user_is_lead": {
      "main": [
        [
          {
            "node": "Поиск среди админов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Поиск среди админов": {
      "main": [
        [
          {
            "node": "check:user_is_admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Админ?": {
      "main": [
        [
          {
            "node": "Админ активный?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Канал запрошен?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check:user_is_admin": {
      "main": [
        [
          {
            "node": "Админ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Админ активный?": {
      "main": [
        [
          {
            "node": "check:user_is_active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check:user_is_active": {
      "main": [
        [
          {
            "node": "Канал запрошен?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Канал запрошен?": {
      "main": [
        [
          {
            "node": "check:channel_id_provided",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Все флаги",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check:channel_id_provided": {
      "main": [
        [
          {
            "node": "Поиск среди каналов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Поиск среди каналов": {
      "main": [
        [
          {
            "node": "check:channel_found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check:channel_found": {
      "main": [
        [
          {
            "node": "Канал найден?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Канал найден?": {
      "main": [
        [
          {
            "node": "Канал активный?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Все флаги",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Канал активный?": {
      "main": [
        [
          {
            "node": "check:channel_is_active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check:channel_is_active": {
      "main": [
        [
          {
            "node": "Бот в канале?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Бот в канале?": {
      "main": [
        [
          {
            "node": "В канале?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check:bot_is_member": {
      "main": [
        [
          {
            "node": "Бот - админ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Бот - админ?": {
      "main": [
        [
          {
            "node": "Кто пользователь в канале",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Все флаги",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Кто пользователь в канале": {
      "main": [
        [
          {
            "node": "check:user_is_channel_admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check:user_is_channel_admin": {
      "main": [
        [
          {
            "node": "Пользователь админ канала?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Пользователь админ канала?": {
      "main": [
        [
          {
            "node": "check:user_is_subscribed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "check:user_is_subscribed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Показать переменные": {
      "main": [
        []
      ]
    },
    "check:user_is_subscribed": {
      "main": [
        [
          {
            "node": "Все флаги",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check:user_is_subscribed1": {
      "main": [
        [
          {
            "node": "Все флаги",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Все флаги": {
      "main": [
        []
      ]
    },
    "Вход": {
      "main": [
        [
          {
            "node": "Переменные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "В канале?": {
      "main": [
        [
          {
            "node": "Название канала",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Название канала": {
      "main": [
        [
          {
            "node": "check:channel_name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check:channel_name": {
      "main": [
        [
          {
            "node": "check:bot_is_member",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-17T18:15:13.239Z",
  "id": "XKAoEAKfto_5tIo2bZb5s",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "sub_проверка прав",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user"
            },
            {
              "name": "channel"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        16,
        944
      ],
      "id": "43fd0afa-0ac3-44b9-a316-01145100682b",
      "name": "Функция"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        16,
        784
      ],
      "id": "7cd237c6-78a5-4b93-9cf7-d070dce1a211",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "943b5099-8ee7-4a62-9ced-f3007af7c0b5",
              "name": "user",
              "value": "249503190",
              "type": "string"
            },
            {
              "id": "93961d51-d9ef-4084-9707-4d170e84e3a4",
              "name": "channel",
              "value": "-1003411040779",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        784
      ],
      "id": "41135300-9bb4-42d6-ada8-52a813e82bb3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## Функция Проверка прав\nСобирает всю информацию о запрошенном пользователе и канале и возвращает в виде списка флагов.\n\n## Аргументы\n- `user` идентификатор пользователя по таблице  `AtGateAdmins` в схеме `atgate`\n- `channel` идентификатор канала по таблице `AtGateChannel` в схеме `atgate`\n- `bot` идентификатор бота\n\n## Возвращает\nПлоский JSON со значениями для каждого флага: `null`, `true`, `false` . Уровни для наглядности. Если для любого поля значение не определено `null` - то и все нижестоящие поля не определяются.\n\n* `check:user_id_provided` — пользователь запрошен.\n  * `check:user_is_lead` — пользователь является лидом.\n  * `check:user_is_admin` — пользователь является админом.\n    * `check:user_is_active` — пользователь разблокирован.\n\n\n* `check:channel_id_provided` — канал запрошен.\n  * `check:channel_found` — канал зарегистрирован.\n    * `check:channel_is_active` — канал разблокирован.\n      * `check:bot_is_member` — бот находится в канале.\n        * `check:user_is_channel_admin` — пользователь является админом канала.\n        * `check:user_is_subscribed` — пользователь подписан.\n        * `check:channel_name`  — название канала\n",
        "height": 656,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        16
      ],
      "typeVersion": 1,
      "id": "31b4400f-6005-4439-af6d-e2c80cc603d3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3994a47c-0da6-46db-8197-e9196c697348",
              "leftValue": "={{ $('Вход').item.json.user }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1232,
        944
      ],
      "id": "a0eab9d0-25e6-4146-bc38-c500eb2bacde",
      "name": "Пользователь запрошен?"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.redis_key }}",
        "value": "={{ $json.redis_value }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1024,
        944
      ],
      "id": "e58a424d-a463-478c-bcdb-8fe7381f5fae",
      "name": "Сохранение переменных",
      "credentials": {
        "redis": {
          "id": "b5sd4CQ59tgLeFqu",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ==========================================\n// ПРОСТОЙ СПИСОК: СЛЕВА КЛЮЧ РЕДИСА — СПРАВА ЗНАЧЕНИЕ\n// ==========================================\nconst permissionsList = {\n  \"check:user_id_provided\": null,       // пользователь запрошен\n  \"check:user_is_lead\": null,           // пользователь является лидом\n  \"check:user_is_admin\": null,          // пользователь является админом\n  \"check:user_is_active\": null,         // пользователь разблокирован\n  \n  \"check:channel_id_provided\": null,    // канал запрошен\n  \"check:channel_found\": null,          // канал зарегистрирован\n  \"check:channel_is_active\": null,      // канал разблокирован\n  \"check:bot_is_member\": null,          // бот находится в канале\n  \"check:user_is_channel_admin\": null,  // пользователь является админом канала\n  \"check:user_is_subscribed\": null,     // пользователь подписан\n  \"check:channel_name\": null            // название канала\n};\n\n// ==========================================\n// ПРОСТАЯ КОНВЕРТАЦИЯ ДЛЯ НОДЫ REDIS\n// ==========================================\nreturn Object.keys(permissionsList).map(key => {\n  return {\n    json: {\n      redis_key: key,\n      redis_value: permissionsList[key] === null ? \"null\" : String(permissionsList[key])\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        944
      ],
      "id": "d4f25f7a-ad6f-40b9-bb42-3aa0737acd8a",
      "name": "Переменные"
    },
    {
      "parameters": {
        "jsCode": "// ==========================================\n// ПРОСТОЙ СПИСОК: СЛЕВА КЛЮЧ РЕДИСА — СПРАВА ЗНАЧЕНИЕ\n// ==========================================\nconst permissionsList = {\n  \"check:user_id_provided\": null,       // пользователь запрошен\n  \"check:user_is_lead\": null,           // пользователь является лидом\n  \"check:user_is_admin\": null,          // пользователь является админом\n  \"check:user_is_active\": null,         // пользователь разблокирован\n  \n  \"check:channel_id_provided\": null,    // канал запрошен\n  \"check:channel_found\": null,          // канал зарегистрирован\n  \"check:channel_is_active\": null,      // канал разблокирован\n  \"check:bot_is_member\": null,          // бот находится в канале\n  \"check:user_is_channel_admin\": null,  // пользователь является админом канала\n  \"check:user_is_subscribed\": null      // пользователь подписан\n};\n\n// ==========================================\n// ПРОСТАЯ КОНВЕРТАЦИЯ ДЛЯ НОДЫ REDIS\n// ==========================================\nreturn Object.keys(permissionsList).map(key => {\n  return {\n    json: {\n      redis_key: key,\n      redis_value: permissionsList[key] === null ? \"null\" : String(permissionsList[key])\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        480
      ],
      "id": "6d092490-7cc3-4fa2-8d54-92471f6bfba1",
      "name": "Переменные1"
    },
    {
      "parameters": {
        "content": "## Прочитать переменные",
        "height": 272,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        384
      ],
      "typeVersion": 1,
      "id": "6302e91a-e592-4fce-a11b-2250a163fdd9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "={{ $json.redis_key }}",
        "key": "={{ $json.redis_key }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        944,
        480
      ],
      "id": "a8c79c9e-c9d4-475e-9c39-b7a12aac3b57",
      "name": "Показать переменные",
      "credentials": {
        "redis": {
          "id": "b5sd4CQ59tgLeFqu",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "check:user_id_provided",
        "value": "true"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1456,
        848
      ],
      "id": "02aead88-44ad-4afd-b438-9bff62e05fac",
      "name": "check:user_id_provided",
      "credentials": {
        "redis": {
          "id": "b5sd4CQ59tgLeFqu",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "check:user_is_lead",
        "value": "={{ $json.user_found }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1808,
        848
      ],
      "id": "3cc0f02e-f5ec-422f-9fd4-424b6c36a22d",
      "name": "check:user_is_lead",
      "credentials": {
        "redis": {
          "id": "b5sd4CQ59tgLeFqu",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n    SELECT 1 \n    FROM \"atgate\".\"AtGateUser\" \n    WHERE user_id = {{ $('Вход').item.json.user }}\n) AS user_found;\n;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1632,
        848
      ],
      "id": "c152021e-d1af-435f-913b-a844b6affe6c",
      "name": "Лид?",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "xe5rl8ApMEn9rCCd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n    SELECT 1 \n    FROM \"atgate\".\"AtGateAdmins\" \n    WHERE user_id = {{ $('Вход').item.json.user }}\n) AS is_admin;\n;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1984,
        848
      ],
      "id": "a84382b0-0a4f-411d-ae86-3c9a69c5af31",
      "name": "Поиск среди админов",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "xe5rl8ApMEn9rCCd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "61ac637c-0fec-4c3f-8589-783ee597daf3",
              "leftValue": "={{ $json.is_admin }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2352,
        944
      ],
      "id": "384a5a00-17bd-4c76-8f4a-a9e1465587ad",
      "name": "Админ?"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "check:user_is_admin",
        "value": "={{ $json.is_admin }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2160,
        848
      ],
      "id": "e6827402-f7be-427d-9c80-d1ef50717824",
      "name": "check:user_is_admin",
      "credentials": {
        "redis": {
          "id": "b5sd4CQ59tgLeFqu",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n    SELECT 1 \n    FROM \"atgate\".\"AtGateAdmins\" \n    WHERE user_id = {{ $('Вход').item.json.user }} \n      AND is_blocked = false\n) AS is_active;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2592,
        944
      ],
      "id": "8207fefa-1660-479f-8861-890b2a6b72af",
      "name": "Админ активный?",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "xe5rl8ApMEn9rCCd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "check:user_is_active",
        "value": "={{ $json.is_active }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2800,
        1056
      ],
      "id": "a537a547-6611-46ea-8bd9-29f739d5552b",
      "name": "check:user_is_active",
      "credentials": {
        "redis": {
          "id": "b5sd4CQ59tgLeFqu",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "check:channel_id_provided",
        "value": "true"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        912,
        1472
      ],
      "id": "9d702540-b3a2-456f-9030-925d24d14b00",
      "name": "check:channel_id_provided",
      "credentials": {
        "redis": {
          "id": "b5sd4CQ59tgLeFqu",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3994a47c-0da6-46db-8197-e9196c697348",
              "leftValue": "={{ $('Вход').item.json.channel }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        1568
      ],
      "id": "da631f08-8b8b-4f74-a42a-d35297ade475",
      "name": "Канал запрошен?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n    SELECT 1 \n    FROM \"atgate\".\"AtGateChannel\" \n    WHERE channel_id = {{ $('Вход').item.json.channel }}\n) AS is_exist;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        1472
      ],
      "id": "833b7d0d-67c6-424b-be1b-519006306dee",
      "name": "Поиск среди каналов",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "xe5rl8ApMEn9rCCd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "check:channel_found",
        "value": "={{ $json.is_exist }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1280,
        1472
      ],
      "id": "80a3fc37-b465-4c48-98f0-bdb8becdc155",
      "name": "check:channel_found",
      "credentials": {
        "redis": {
          "id": "b5sd4CQ59tgLeFqu",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "61ac637c-0fec-4c3f-8589-783ee597daf3",
              "leftValue": "={{ $json.is_exist }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1456,
        1472
      ],
      "id": "9793d681-ae9c-44d9-8e20-a630101f3097",
      "name": "Канал найден?"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "check:channel_is_active",
        "value": "={{ $json.is_active }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1840,
        1392
      ],
      "id": "5f159105-bd1d-4f59-8d37-81ea64ac0c9b",
      "name": "check:channel_is_active",
      "credentials": {
        "redis": {
          "id": "b5sd4CQ59tgLeFqu",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n    SELECT 1 \n    FROM \"atgate\".\"AtGateChannel\" \n    WHERE channel_id = {{ $('Вход').item.json.channel }} \n      AND is_blocked = false\n) AS is_active;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1664,
        1392
      ],
      "id": "65844ab4-cbe3-4ada-b1a5-8f84ef25585b",
      "name": "Канал активный?",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "xe5rl8ApMEn9rCCd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "member",
        "chatId": "={{ $('Вход').item.json.channel }}",
        "userId": "={{ $('Вход').item.json.bot }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2016,
        1392
      ],
      "id": "c04a33ce-29de-41b0-824b-38061e6aa157",
      "name": "Бот в канале?",
      "webhookId": "c65ff9df-508a-4f5c-854c-ad99d62e1802",
      "credentials": {
        "telegramApi": {
          "id": "65F3OXZ2S5RJpd8j",
          "name": "Превратник"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "check:bot_is_member",
        "value": "={{ $json.error ? 'false' : 'true' }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2864,
        1376
      ],
      "id": "618ac029-e2fc-4674-aca1-51749405a1ed",
      "name": "check:bot_is_member",
      "credentials": {
        "redis": {
          "id": "b5sd4CQ59tgLeFqu",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6a569ef3-b8be-4720-a346-f36e91912dcb",
              "leftValue": "={{ $json.error ? 'false' : 'true' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3040,
        1376
      ],
      "id": "58822f54-20fd-439a-82ab-0fd975817761",
      "name": "Бот - админ?"
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "member",
        "chatId": "={{ $('Вход').item.json.channel }}",
        "userId": "={{ $('Вход').item.json.user }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3248,
        1280
      ],
      "id": "a47340b4-3cbe-4f34-be56-d32c7bee7c14",
      "name": "Кто пользователь в канале",
      "webhookId": "c65ff9df-508a-4f5c-854c-ad99d62e1802",
      "credentials": {
        "telegramApi": {
          "id": "65F3OXZ2S5RJpd8j",
          "name": "Превратник"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "check:user_is_channel_admin",
        "value": "={{ ['administrator', 'creator'].includes($json.result?.status) ? 'true' : 'false' }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3440,
        1280
      ],
      "id": "bbd9a7fe-bfb0-44b3-8144-e10326cb11dd",
      "name": "check:user_is_channel_admin",
      "credentials": {
        "redis": {
          "id": "b5sd4CQ59tgLeFqu",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "check:user_is_subscribed",
        "value": "true",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3888,
        1200
      ],
      "id": "133efef9-9b82-43e3-919a-bbe1a6b1c5e7",
      "name": "check:user_is_subscribed",
      "credentials": {
        "redis": {
          "id": "b5sd4CQ59tgLeFqu",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6a569ef3-b8be-4720-a346-f36e91912dcb",
              "leftValue": "={{ ['administrator', 'creator'].includes($json.result?.status) ? 'true' : 'false' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3632,
        1280
      ],
      "id": "1d1e9e83-d16d-4595-bfea-d9aaae33d4b3",
      "name": "Пользователь админ канала?"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "check:user_is_subscribed",
        "value": "={{ $json.result?.status === 'member' ? 'true' : 'false' }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4064,
        1296
      ],
      "id": "dce388b2-b563-41e5-84c8-4880edec2442",
      "name": "check:user_is_subscribed1",
      "credentials": {
        "redis": {
          "id": "b5sd4CQ59tgLeFqu",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "check:*"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4656,
        1568
      ],
      "id": "f371d89d-5a17-4120-b302-0f0b339a170c",
      "name": "Все флаги",
      "credentials": {
        "redis": {
          "id": "b5sd4CQ59tgLeFqu",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3fcd6641-ce23-4762-83d7-c41f566aec14",
              "name": "user",
              "value": "={{ $json.user }}",
              "type": "string"
            },
            {
              "id": "e88eaa82-2528-4549-bc42-8cd263aa10e6",
              "name": "channel",
              "value": "={{ $json.channel }}",
              "type": "string"
            },
            {
              "id": "d6fec304-b661-4bd9-b1c5-503ffffb1117",
              "name": "bot",
              "value": "8631709948",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        944
      ],
      "id": "0ca06aa8-1d57-4edc-9b6f-ef0b46c21375",
      "name": "Вход"
    },
    {
      "parameters": {
        "content": "### Указать id бота",
        "height": 192,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        896
      ],
      "typeVersion": 1,
      "id": "28bc9a13-dac2-4734-aec9-999457187145",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1c672ec7-cd1f-4264-958b-63a43fd8a19a",
              "leftValue": "={{ $json.error ? 'false' : 'true' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2240,
        1296
      ],
      "id": "995a1c90-a8be-41fe-835e-c70add065c5a",
      "name": "В канале?"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "check:channel_name",
        "value": "={{ $json.result.title }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2624,
        1296
      ],
      "id": "2f43ea23-4bfd-494c-8a6a-315bbb1420d6",
      "name": "check:channel_name",
      "credentials": {
        "redis": {
          "id": "b5sd4CQ59tgLeFqu",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "chatId": "={{ $('Вход').item.json.channel }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2448,
        1296
      ],
      "id": "357a195b-2051-4d13-87e5-ffade7009d46",
      "name": "Название канала",
      "webhookId": "deb82648-a4bf-45e6-b931-df64ee873c59",
      "credentials": {
        "telegramApi": {
          "id": "65F3OXZ2S5RJpd8j",
          "name": "Превратник"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "N8N",
  "repo_owner": "avdivo",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-05-17T18:15:13.239Z",
      "createdAt": "2026-05-17T18:15:13.239Z",
      "role": "workflow:owner",
      "workflowId": "XKAoEAKfto_5tIo2bZb5s",
      "projectId": "ILcfmLBZn60jlfes"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-22T16:00:57.720Z",
  "versionId": "ef193d1a-76ff-4d95-807d-48cc93f7a919"
}