2026/02/N-4hPuHHpq0kPBYhw_iqU.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-18T15:46:55.477Z",
    "createdAt": "2026-04-18T15:46:43.134Z",
    "versionId": "2161bac2-c778-48a5-9e5c-ef9d71d3c7a2",
    "workflowId": "N-4hPuHHpq0kPBYhw_iqU",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "*"
          ],
          "additionalFields": {
            "chatIds": ""
          }
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -784,
          832
        ],
        "id": "aec74e45-77b0-4581-80d8-dc4518bdf67c",
        "name": "Telegram Trigger",
        "webhookId": "0f55084e-c453-4149-8627-94a97313c8b8",
        "credentials": {
          "telegramApi": {
            "id": "3mh0fgs9wtnp1NLd",
            "name": "Умный дом"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.message.from.id }}",
          "text": "Нажмите кнопку чтобы отобразить панель управления",
          "replyMarkup": "replyKeyboard",
          "replyKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "🔼 Показать кнопки 🔼",
                      "additionalFields": {}
                    }
                  ]
                }
              }
            ]
          },
          "replyKeyboardOptions": {
            "resize_keyboard": true
          },
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -112,
          528
        ],
        "id": "24610040-2d50-455c-b246-85c14465115a",
        "name": "start",
        "webhookId": "9f534039-81ba-4071-8ae9-5ccc323cdd0c",
        "credentials": {
          "telegramApi": {
            "id": "3mh0fgs9wtnp1NLd",
            "name": "Умный дом"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.message.from.id }}",
          "text": "Все действия",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Спальня   🟢  ",
                      "additionalFields": {
                        "callback_data": "Спальня_on"
                      }
                    },
                    {
                      "text": "Спальня   🔴  ",
                      "additionalFields": {
                        "callback_data": "Спальня_off"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Зал             🟢  ",
                      "additionalFields": {
                        "callback_data": "Зал_on"
                      }
                    },
                    {
                      "text": "Зал             🔴  ",
                      "additionalFields": {
                        "callback_data": "Зал_off"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Коридор   🟢  ",
                      "additionalFields": {
                        "callback_data": "Коридор_on"
                      }
                    },
                    {
                      "text": "Коридор   🔴  ",
                      "additionalFields": {
                        "callback_data": "Коридор_off"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Ванная        🟢  ",
                      "additionalFields": {
                        "callback_data": "Ванная_on"
                      }
                    },
                    {
                      "text": "Ванная        🔴  ",
                      "additionalFields": {
                        "callback_data": "Ванная_off"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Кухня         🟢  ",
                      "additionalFields": {
                        "callback_data": "Кухня_on"
                      }
                    },
                    {
                      "text": "Кухня         🔴  ",
                      "additionalFields": {
                        "callback_data": "Кухня_off"
                      }
                    }
                  ]
                }
              },
              {},
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Шторы      🟢  ",
                      "additionalFields": {
                        "callback_data": "Шторы_on"
                      }
                    },
                    {
                      "text": "Шторы      🔴  ",
                      "additionalFields": {
                        "callback_data": "Шторы_off"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Пылесос   🟢  ",
                      "additionalFields": {
                        "callback_data": "Пылесос_on"
                      }
                    },
                    {
                      "text": "Пылесос   🔴  ",
                      "additionalFields": {
                        "callback_data": "Пылесос_off"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Выключить свет везде       🔴  ",
                      "additionalFields": {
                        "callback_data": "Свет_off"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Домофон   🏠  ",
                      "additionalFields": {
                        "callback_data": "Домофон_scenario"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -112,
          720
        ],
        "id": "06b0521a-da46-46d0-a660-90d1ef7c8c31",
        "name": "Вывод кнопок",
        "webhookId": "6b2d1573-159e-4030-8ee6-40ac53afaf30",
        "credentials": {
          "telegramApi": {
            "id": "3mh0fgs9wtnp1NLd",
            "name": "Умный дом"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.message.text }}",
                      "rightValue": "/start",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "1a83bb80-1b44-4aff-be80-a966e097b3a6"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "58ef493f-c698-47ec-90df-f9fe09ee73c4",
                      "leftValue": "={{ $json.message.text }}",
                      "rightValue": "🔼 Показать кнопки 🔼",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          -336,
          816
        ],
        "id": "546416b5-9a15-4a33-9c7d-6754410705b1",
        "name": "Маршрутизатор"
      },
      {
        "parameters": {
          "content": "## Телеграмм бот для управления устройствами умного дома\nВыводит в телеграмм список кнопок для включения и выключения отдельных устройств и кнопку выключения всего верхнего света",
          "width": 400
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -816,
          576
        ],
        "typeVersion": 1,
        "id": "d678088e-16b5-418f-952e-236a368dd202",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "url": "https://api.iot.yandex.net/v1.0/user/info",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=OAuth {{ $json.value }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -656,
          320
        ],
        "id": "a2e753f7-c449-47c1-9efd-66ba63a881e6",
        "name": "Информация об умном доме"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.iot.yandex.net/v1.0/devices/actions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "OAuth {{ $json.value }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n    \"devices\": [\n        {\n            \"id\": \"9af46f0f-c0b5-4604-9240-476eea453f8f\",\n            \"actions\": [\n                {\n                    \"type\": \"devices.capabilities.on_off\",\n                    \"state\": {\n                        \"instance\": \"on\",\n                        \"value\": true\n                    }\n                }\n            ]\n        }\n    ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -240,
          320
        ],
        "id": "840547dd-d391-42fd-94e9-0a27808a71ff",
        "name": "Проба управления"
      },
      {
        "parameters": {
          "content": "## Управление \nДля выключения и включения менять true/false\n``` json\n\"state\": {\n    \"instance\": \"on\",\n    \"value\": true\n }\n```",
          "height": 256
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -576,
          16
        ],
        "typeVersion": 1,
        "id": "0efd92dd-9f90-4a85-b7b4-d03bf153ef1e",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## Яндекс\n\n### API Умный дом\nhttps://yandex.ru/dev/dialogs/smart-home/doc/ru/concepts/platform-protocol\n\n### Создание приложения\nhttps://oauth.yandex.ru/client/new/api\n\n### Статья про отладку токена (Debug Token): \nhttps://yandex.ru/dev/id/doc/ru/tokens/debug-token\n\n1. Зайти в аккаунт\n2. Перейти к созданию приложения\n3. Название - любое\n4. Доступ к данным\n    - iot: view - список устройств\n    - iot: control -  управление устройствами\n5. В поле Redirect URI введите значение\nhttps://oauth.yandex.ru/verification_code \n6. Создать приложение\n7. На новой странице копируем Client ID\n8. Переход по ссылке вида:\nhttps://oauth.yandex.ru/authorize?response_type=token&client_id=<идентификатор приложения>\n9. Копируем полученный токен, его используем для создания строки авторизации.\n",
          "height": 768,
          "width": 560
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1488,
          64
        ],
        "typeVersion": 1,
        "id": "2ae0df23-27ed-471e-bfd0-a8af391b13d9",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.iot.yandex.net/v1.0/scenarios/90632374-cc25-4911-81a7-5792fa888a16/actions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "OAuth {{ $json.value }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          176,
          320
        ],
        "id": "5a6c1b84-8e53-461b-ae6a-1ccfaad288ab",
        "name": "Проба управления1"
      },
      {
        "parameters": {
          "content": "## Выполнение сценария\nhttps://yandex.ru/dev/dialogs/smart-home/doc/ru/concepts/platform-scenario\n\nАдрес для запуска сценария: `https://api.iot.yandex.net/v1.0/scenarios/{scenario_id}/actions`\n\nPOST запрос без тела. Пример (для домофона): \n\nhttps://api.iot.yandex.net/v1.0/scenarios/90632374-cc25-4911-81a7-5792fa888a16/actions",
          "height": 272,
          "width": 400
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1,
        "id": "d2ece5aa-4dcc-4cb8-a221-8a62a4e76c2d",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "923f3c47-f0e8-4582-a293-ce320e67a5a7",
                "leftValue": "={{ $json.data.type }}",
                "rightValue": "scenario",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "eb4f00c7-84ad-4763-8e38-ee401014bad5",
                "leftValue": "",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          480,
          880
        ],
        "id": "e340c993-1409-4c93-81b1-1cc1f6a260f0",
        "name": "If"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.iot.yandex.net/v1.0/devices/actions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=OAuth {{ $json.secret }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"devices\": [\n        {\n            \"id\": \"{{ $json.data.device_id }}\",\n            \"actions\": [\n                {\n                    \"type\": \"devices.capabilities.on_off\",\n                    \"state\": {\n                        \"instance\": \"on\",\n                        \"value\": {{ $json.data.action }}\n                    }\n                }\n            ]\n        }\n    ]\n}",
          "options": {
            "timeout": 500
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          704,
          976
        ],
        "id": "f3cbf328-f893-4620-8395-17703c80af83",
        "name": "Действие с устройством",
        "retryOnFail": true,
        "waitBetweenTries": 200,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.iot.yandex.net/v1.0/scenarios/{{ $json.data.device_id }}/actions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=OAuth {{ $json.secret }}"
              }
            ]
          },
          "options": {
            "timeout": 500
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          704,
          784
        ],
        "id": "a90c7a49-9085-4fdf-81dd-ddb4cd46f507",
        "name": "Выполнение сценария",
        "retryOnFail": true,
        "waitBetweenTries": 200,
        "notesInFlow": false,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "// Выясняем кто что сделал и готовим данные для выполнения действия\n\n// Получаем данные из сообщения (предполагая, что _items определено в вашем окружении)\nconst message = $input.first().json.callback_query;\n\n// Устройства\nconst devicesId = {\n  \"Ванная\": \"2f9f9cc8-ada2-4bde-bd85-b9885ae28f36\",\n  \"Коридор\": \"65bcfad0-4759-4cb7-8654-7584b2fc96d0\",\n  \"Кухня\": \"a56d4cb7-621e-44ba-b825-4e9606a7acb4\",\n  \"Зал\": \"b0adbe30-5b28-40d1-9bf2-ba15aadd70bb\",\n  \"Спальня\": \"9af46f0f-c0b5-4604-9240-476eea453f8f\",\n  \"Лента\": \"\",\n  \"Пылесос\": \"2d5b0ab8-7880-4d79-a368-6120be845bfc\",\n  \"Шторы\": \"0197d9e0-ca35-4ea2-a31a-51516c63cdfe\",\n  \"Домофон\": \"90632374-cc25-4911-81a7-5792fa888a16\"\n};\n\n// Только верхний свет\nconst lightUp = [\n  \"2f9f9cc8-ada2-4bde-bd85-b9885ae28f36\",  // Ванная\n  \"65bcfad0-4759-4cb7-8654-7584b2fc96d0\",  // Коридор\n  \"a56d4cb7-621e-44ba-b825-4e9606a7acb4\",  // Кухня\n  \"b0adbe30-5b28-40d1-9bf2-ba15aadd70bb\",  // Зал\n  \"f6826740-39db-484e-9e3e-2b2a7ed2f5ee\"   // Спальня\n];\n\nconst key = message.data; // Пришло сообщение от кнопки\nconst deviceAction = key.split(\"_\"); // Устройство и действие\n\nlet data = {}; // Ответ (по умолчанию объект)\n\nif (deviceAction.length === 2) {\n  let action = null;\n  let type = \"action\";\n  let deviceId;\n  const [deviceName, actionType] = deviceAction; // Деструктуризация для читаемости\n\n  if (deviceName in devicesId) {\n    deviceId = devicesId[deviceName];\n\n    if (actionType === \"off\") {\n      action = false;\n    } else if (actionType === \"on\") {\n      action = true;\n    } else if (actionType === \"scenario\") {\n      type = \"scenario\";\n      action = \"scenario\";\n    }\n\n  } else {\n    // Устройства нет в списке. Возможно это общая команда\n    if (deviceName === \"Свет\") {\n      // Общая команда для выключения света\n      const responseDataList = [];\n      for (const id of lightUp) {\n        const cmd = {\n          \"type\": type,\n          \"action\": false,\n          \"device_id\": id,\n        };\n        responseDataList.push({\"json\": {\"data\": cmd}});\n      }\n      // Внимание: Здесь мы имитируем \"return data\" из Python, \n      // сразу возвращая массив и завершая выполнение скрипта.\n      return responseDataList;\n      // data = responseDataList; // Заменяем объект на массив\n    }\n  }\n\n  // Проверяем и формируем ответ для одиночного действия\n  if (action !== null && deviceId) {\n    data = {\n      \"type\": type,\n      \"action\": action,\n      \"device_id\": deviceId,\n    };\n  }\n}\n\nreturn [{\"json\": {\"data\": data, \"secret\": $input.all()[1].json.value}}]; // Итоговый возврат данных, если data не массив\n\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          272,
          880
        ],
        "id": "56ba150b-062d-46b6-8244-2e83bc03176a",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "jsCode": "// Кто может управлять\nconst true_ids = [249503190, 326830581, 203885740];\n\nconst query = $input.first().json;\n\nlet from_id = 0;\nif (query.message) {\n  from_id = query.message.from.id;\n} else {\n  from_id = query.callback_query.from.id;\n}\n\nif (true_ids.includes(from_id)) {\n  return query;\n}\n\nreturn [{ json: {} }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -560,
          832
        ],
        "id": "f4d21e89-b4a6-48ea-b0f9-4a59d14fef79",
        "name": "Авторизация"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          64,
          880
        ],
        "id": "76030929-f1d6-4ac4-a948-aecfb9d12962",
        "name": "Merge"
      },
      {
        "parameters": {
          "url": "http://vault-n8n:8000/api/v1/secrets",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "keys",
                "value": "Мой_умный_дом_yandex_API"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -416,
          320
        ],
        "id": "25ca4276-5710-4a24-acc0-8f8ccf6e44cd",
        "name": "VaultN8N токен Умного дома1",
        "alwaysOutputData": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "fYFnpIika2dCryN4",
            "name": "VaultN8N"
          }
        },
        "notes": "https://techcrunch.com/2026/01/22/anthropic-has-to-keep-revising-its-technical-interview-test-so-you-cant-cheat-on-it-with-claude/"
      },
      {
        "parameters": {
          "url": "http://vault-n8n:8000/api/v1/secrets",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "keys",
                "value": "Мой_умный_дом_yandex_API"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -800,
          320
        ],
        "id": "7e31d50c-4bbe-4172-9725-d19e08dc4d47",
        "name": "VaultN8N токен Умного дома2",
        "alwaysOutputData": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "fYFnpIika2dCryN4",
            "name": "VaultN8N"
          }
        },
        "notes": "https://techcrunch.com/2026/01/22/anthropic-has-to-keep-revising-its-technical-interview-test-so-you-cant-cheat-on-it-with-claude/"
      },
      {
        "parameters": {
          "content": "## Токен\nПолучаем из VaultN8N по ключу: Мой_умный_дом_yandex_API"
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -272,
          112
        ],
        "typeVersion": 1,
        "id": "1c433d73-3318-45a6-97ae-1a4be1f714be",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "url": "http://vault-n8n:8000/api/v1/secrets",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "keys",
                "value": "Мой_умный_дом_yandex_API"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -16,
          320
        ],
        "id": "dfdb3961-4e36-4593-84c3-afa121e511e3",
        "name": "VaultN8N токен Умного дома3",
        "alwaysOutputData": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "fYFnpIika2dCryN4",
            "name": "VaultN8N"
          }
        },
        "notes": "https://techcrunch.com/2026/01/22/anthropic-has-to-keep-revising-its-technical-interview-test-so-you-cant-cheat-on-it-with-claude/"
      },
      {
        "parameters": {
          "url": "http://vault-n8n:8000/api/v1/secrets",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "keys",
                "value": "Мой_умный_дом_yandex_API"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -112,
          992
        ],
        "id": "7888fd30-f07f-469e-ac40-8186a3f99b72",
        "name": "Получение токена для Умного дома",
        "alwaysOutputData": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "fYFnpIika2dCryN4",
            "name": "VaultN8N"
          }
        },
        "notes": "https://techcrunch.com/2026/01/22/anthropic-has-to-keep-revising-its-technical-interview-test-so-you-cant-cheat-on-it-with-claude/"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://vault-n8n:8000/api/v1/secrets/single",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "key",
                "value": "Мой_умный_дом_yandex_API"
              },
              {
                "name": "value"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -800,
          96
        ],
        "id": "f560ca45-1f91-4f21-b6f7-471adc4f2afa",
        "name": "Добавить токен Яндекс Умный дом",
        "alwaysOutputData": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "fYFnpIika2dCryN4",
            "name": "VaultN8N"
          }
        },
        "notes": "https://techcrunch.com/2026/01/22/anthropic-has-to-keep-revising-its-technical-interview-test-so-you-cant-cheat-on-it-with-claude/"
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Авторизация",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Маршрутизатор": {
        "main": [
          [
            {
              "node": "start",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Вывод кнопок",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Получение токена для Умного дома",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Выполнение сценария",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Действие с устройством",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Авторизация": {
        "main": [
          [
            {
              "node": "Маршрутизатор",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "VaultN8N токен Умного дома1": {
        "main": [
          [
            {
              "node": "Проба управления",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "VaultN8N токен Умного дома2": {
        "main": [
          [
            {
              "node": "Информация об умном доме",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "VaultN8N токен Умного дома3": {
        "main": [
          [
            {
              "node": "Проба управления1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Получение токена для Умного дома": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      }
    },
    "authors": "Алексей К",
    "name": "Version 2161bac2",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "2161bac2-c778-48a5-9e5c-ef9d71d3c7a2",
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Авторизация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Маршрутизатор": {
      "main": [
        [
          {
            "node": "start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Вывод кнопок",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Получение токена для Умного дома",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Выполнение сценария",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Действие с устройством",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Авторизация": {
      "main": [
        [
          {
            "node": "Маршрутизатор",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VaultN8N токен Умного дома1": {
      "main": [
        [
          {
            "node": "Проба управления",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VaultN8N токен Умного дома2": {
      "main": [
        [
          {
            "node": "Информация об умном доме",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VaultN8N токен Умного дома3": {
      "main": [
        [
          {
            "node": "Проба управления1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение токена для Умного дома": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-05T21:41:22.221Z",
  "id": "N-4hPuHHpq0kPBYhw_iqU",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Умный дом Telegram bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {
          "chatIds": ""
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -784,
        832
      ],
      "id": "aec74e45-77b0-4581-80d8-dc4518bdf67c",
      "name": "Telegram Trigger",
      "webhookId": "0f55084e-c453-4149-8627-94a97313c8b8",
      "credentials": {
        "telegramApi": {
          "id": "3mh0fgs9wtnp1NLd",
          "name": "Умный дом"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "Нажмите кнопку чтобы отобразить панель управления",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🔼 Показать кнопки 🔼",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -112,
        528
      ],
      "id": "24610040-2d50-455c-b246-85c14465115a",
      "name": "start",
      "webhookId": "9f534039-81ba-4071-8ae9-5ccc323cdd0c",
      "credentials": {
        "telegramApi": {
          "id": "3mh0fgs9wtnp1NLd",
          "name": "Умный дом"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "Все действия",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Спальня   🟢  ",
                    "additionalFields": {
                      "callback_data": "Спальня_on"
                    }
                  },
                  {
                    "text": "Спальня   🔴  ",
                    "additionalFields": {
                      "callback_data": "Спальня_off"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Зал             🟢  ",
                    "additionalFields": {
                      "callback_data": "Зал_on"
                    }
                  },
                  {
                    "text": "Зал             🔴  ",
                    "additionalFields": {
                      "callback_data": "Зал_off"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Коридор   🟢  ",
                    "additionalFields": {
                      "callback_data": "Коридор_on"
                    }
                  },
                  {
                    "text": "Коридор   🔴  ",
                    "additionalFields": {
                      "callback_data": "Коридор_off"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Ванная        🟢  ",
                    "additionalFields": {
                      "callback_data": "Ванная_on"
                    }
                  },
                  {
                    "text": "Ванная        🔴  ",
                    "additionalFields": {
                      "callback_data": "Ванная_off"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Кухня         🟢  ",
                    "additionalFields": {
                      "callback_data": "Кухня_on"
                    }
                  },
                  {
                    "text": "Кухня         🔴  ",
                    "additionalFields": {
                      "callback_data": "Кухня_off"
                    }
                  }
                ]
              }
            },
            {},
            {
              "row": {
                "buttons": [
                  {
                    "text": "Шторы      🟢  ",
                    "additionalFields": {
                      "callback_data": "Шторы_on"
                    }
                  },
                  {
                    "text": "Шторы      🔴  ",
                    "additionalFields": {
                      "callback_data": "Шторы_off"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Пылесос   🟢  ",
                    "additionalFields": {
                      "callback_data": "Пылесос_on"
                    }
                  },
                  {
                    "text": "Пылесос   🔴  ",
                    "additionalFields": {
                      "callback_data": "Пылесос_off"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Выключить свет везде       🔴  ",
                    "additionalFields": {
                      "callback_data": "Свет_off"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Домофон   🏠  ",
                    "additionalFields": {
                      "callback_data": "Домофон_scenario"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -112,
        720
      ],
      "id": "06b0521a-da46-46d0-a660-90d1ef7c8c31",
      "name": "Вывод кнопок",
      "webhookId": "6b2d1573-159e-4030-8ee6-40ac53afaf30",
      "credentials": {
        "telegramApi": {
          "id": "3mh0fgs9wtnp1NLd",
          "name": "Умный дом"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1a83bb80-1b44-4aff-be80-a966e097b3a6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "58ef493f-c698-47ec-90df-f9fe09ee73c4",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "🔼 Показать кнопки 🔼",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -336,
        816
      ],
      "id": "546416b5-9a15-4a33-9c7d-6754410705b1",
      "name": "Маршрутизатор"
    },
    {
      "parameters": {
        "content": "## Телеграмм бот для управления устройствами умного дома\nВыводит в телеграмм список кнопок для включения и выключения отдельных устройств и кнопку выключения всего верхнего света",
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        576
      ],
      "typeVersion": 1,
      "id": "d678088e-16b5-418f-952e-236a368dd202",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "https://api.iot.yandex.net/v1.0/user/info",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=OAuth {{ $json.value }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -656,
        320
      ],
      "id": "a2e753f7-c449-47c1-9efd-66ba63a881e6",
      "name": "Информация об умном доме"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.iot.yandex.net/v1.0/devices/actions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "OAuth {{ $json.value }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"devices\": [\n        {\n            \"id\": \"9af46f0f-c0b5-4604-9240-476eea453f8f\",\n            \"actions\": [\n                {\n                    \"type\": \"devices.capabilities.on_off\",\n                    \"state\": {\n                        \"instance\": \"on\",\n                        \"value\": true\n                    }\n                }\n            ]\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -240,
        320
      ],
      "id": "840547dd-d391-42fd-94e9-0a27808a71ff",
      "name": "Проба управления"
    },
    {
      "parameters": {
        "content": "## Управление \nДля выключения и включения менять true/false\n``` json\n\"state\": {\n    \"instance\": \"on\",\n    \"value\": true\n }\n```",
        "height": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        16
      ],
      "typeVersion": 1,
      "id": "0efd92dd-9f90-4a85-b7b4-d03bf153ef1e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Яндекс\n\n### API Умный дом\nhttps://yandex.ru/dev/dialogs/smart-home/doc/ru/concepts/platform-protocol\n\n### Создание приложения\nhttps://oauth.yandex.ru/client/new/api\n\n### Статья про отладку токена (Debug Token): \nhttps://yandex.ru/dev/id/doc/ru/tokens/debug-token\n\n1. Зайти в аккаунт\n2. Перейти к созданию приложения\n3. Название - любое\n4. Доступ к данным\n    - iot: view - список устройств\n    - iot: control -  управление устройствами\n5. В поле Redirect URI введите значение\nhttps://oauth.yandex.ru/verification_code \n6. Создать приложение\n7. На новой странице копируем Client ID\n8. Переход по ссылке вида:\nhttps://oauth.yandex.ru/authorize?response_type=token&client_id=<идентификатор приложения>\n9. Копируем полученный токен, его используем для создания строки авторизации.\n",
        "height": 768,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1488,
        64
      ],
      "typeVersion": 1,
      "id": "2ae0df23-27ed-471e-bfd0-a8af391b13d9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.iot.yandex.net/v1.0/scenarios/90632374-cc25-4911-81a7-5792fa888a16/actions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "OAuth {{ $json.value }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        176,
        320
      ],
      "id": "5a6c1b84-8e53-461b-ae6a-1ccfaad288ab",
      "name": "Проба управления1"
    },
    {
      "parameters": {
        "content": "## Выполнение сценария\nhttps://yandex.ru/dev/dialogs/smart-home/doc/ru/concepts/platform-scenario\n\nАдрес для запуска сценария: `https://api.iot.yandex.net/v1.0/scenarios/{scenario_id}/actions`\n\nPOST запрос без тела. Пример (для домофона): \n\nhttps://api.iot.yandex.net/v1.0/scenarios/90632374-cc25-4911-81a7-5792fa888a16/actions",
        "height": 272,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "d2ece5aa-4dcc-4cb8-a221-8a62a4e76c2d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "923f3c47-f0e8-4582-a293-ce320e67a5a7",
              "leftValue": "={{ $json.data.type }}",
              "rightValue": "scenario",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "eb4f00c7-84ad-4763-8e38-ee401014bad5",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        880
      ],
      "id": "e340c993-1409-4c93-81b1-1cc1f6a260f0",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.iot.yandex.net/v1.0/devices/actions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=OAuth {{ $json.secret }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"devices\": [\n        {\n            \"id\": \"{{ $json.data.device_id }}\",\n            \"actions\": [\n                {\n                    \"type\": \"devices.capabilities.on_off\",\n                    \"state\": {\n                        \"instance\": \"on\",\n                        \"value\": {{ $json.data.action }}\n                    }\n                }\n            ]\n        }\n    ]\n}",
        "options": {
          "timeout": 500
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        704,
        976
      ],
      "id": "f3cbf328-f893-4620-8395-17703c80af83",
      "name": "Действие с устройством",
      "retryOnFail": true,
      "waitBetweenTries": 200,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.iot.yandex.net/v1.0/scenarios/{{ $json.data.device_id }}/actions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=OAuth {{ $json.secret }}"
            }
          ]
        },
        "options": {
          "timeout": 500
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        704,
        784
      ],
      "id": "a90c7a49-9085-4fdf-81dd-ddb4cd46f507",
      "name": "Выполнение сценария",
      "retryOnFail": true,
      "waitBetweenTries": 200,
      "notesInFlow": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Выясняем кто что сделал и готовим данные для выполнения действия\n\n// Получаем данные из сообщения (предполагая, что _items определено в вашем окружении)\nconst message = $input.first().json.callback_query;\n\n// Устройства\nconst devicesId = {\n  \"Ванная\": \"2f9f9cc8-ada2-4bde-bd85-b9885ae28f36\",\n  \"Коридор\": \"65bcfad0-4759-4cb7-8654-7584b2fc96d0\",\n  \"Кухня\": \"a56d4cb7-621e-44ba-b825-4e9606a7acb4\",\n  \"Зал\": \"b0adbe30-5b28-40d1-9bf2-ba15aadd70bb\",\n  \"Спальня\": \"9af46f0f-c0b5-4604-9240-476eea453f8f\",\n  \"Лента\": \"\",\n  \"Пылесос\": \"2d5b0ab8-7880-4d79-a368-6120be845bfc\",\n  \"Шторы\": \"0197d9e0-ca35-4ea2-a31a-51516c63cdfe\",\n  \"Домофон\": \"90632374-cc25-4911-81a7-5792fa888a16\"\n};\n\n// Только верхний свет\nconst lightUp = [\n  \"2f9f9cc8-ada2-4bde-bd85-b9885ae28f36\",  // Ванная\n  \"65bcfad0-4759-4cb7-8654-7584b2fc96d0\",  // Коридор\n  \"a56d4cb7-621e-44ba-b825-4e9606a7acb4\",  // Кухня\n  \"b0adbe30-5b28-40d1-9bf2-ba15aadd70bb\",  // Зал\n  \"f6826740-39db-484e-9e3e-2b2a7ed2f5ee\"   // Спальня\n];\n\nconst key = message.data; // Пришло сообщение от кнопки\nconst deviceAction = key.split(\"_\"); // Устройство и действие\n\nlet data = {}; // Ответ (по умолчанию объект)\n\nif (deviceAction.length === 2) {\n  let action = null;\n  let type = \"action\";\n  let deviceId;\n  const [deviceName, actionType] = deviceAction; // Деструктуризация для читаемости\n\n  if (deviceName in devicesId) {\n    deviceId = devicesId[deviceName];\n\n    if (actionType === \"off\") {\n      action = false;\n    } else if (actionType === \"on\") {\n      action = true;\n    } else if (actionType === \"scenario\") {\n      type = \"scenario\";\n      action = \"scenario\";\n    }\n\n  } else {\n    // Устройства нет в списке. Возможно это общая команда\n    if (deviceName === \"Свет\") {\n      // Общая команда для выключения света\n      const responseDataList = [];\n      for (const id of lightUp) {\n        const cmd = {\n          \"type\": type,\n          \"action\": false,\n          \"device_id\": id,\n        };\n        responseDataList.push({\"json\": {\"data\": cmd}});\n      }\n      // Внимание: Здесь мы имитируем \"return data\" из Python, \n      // сразу возвращая массив и завершая выполнение скрипта.\n      return responseDataList;\n      // data = responseDataList; // Заменяем объект на массив\n    }\n  }\n\n  // Проверяем и формируем ответ для одиночного действия\n  if (action !== null && deviceId) {\n    data = {\n      \"type\": type,\n      \"action\": action,\n      \"device_id\": deviceId,\n    };\n  }\n}\n\nreturn [{\"json\": {\"data\": data, \"secret\": $input.all()[1].json.value}}]; // Итоговый возврат данных, если data не массив\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        880
      ],
      "id": "56ba150b-062d-46b6-8244-2e83bc03176a",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// Кто может управлять\nconst true_ids = [249503190, 326830581, 203885740];\n\nconst query = $input.first().json;\n\nlet from_id = 0;\nif (query.message) {\n  from_id = query.message.from.id;\n} else {\n  from_id = query.callback_query.from.id;\n}\n\nif (true_ids.includes(from_id)) {\n  return query;\n}\n\nreturn [{ json: {} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        832
      ],
      "id": "f4d21e89-b4a6-48ea-b0f9-4a59d14fef79",
      "name": "Авторизация"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        64,
        880
      ],
      "id": "76030929-f1d6-4ac4-a948-aecfb9d12962",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "http://vault-n8n:8000/api/v1/secrets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "keys",
              "value": "Мой_умный_дом_yandex_API"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -416,
        320
      ],
      "id": "25ca4276-5710-4a24-acc0-8f8ccf6e44cd",
      "name": "VaultN8N токен Умного дома1",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "fYFnpIika2dCryN4",
          "name": "VaultN8N"
        }
      },
      "notes": "https://techcrunch.com/2026/01/22/anthropic-has-to-keep-revising-its-technical-interview-test-so-you-cant-cheat-on-it-with-claude/"
    },
    {
      "parameters": {
        "url": "http://vault-n8n:8000/api/v1/secrets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "keys",
              "value": "Мой_умный_дом_yandex_API"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -800,
        320
      ],
      "id": "7e31d50c-4bbe-4172-9725-d19e08dc4d47",
      "name": "VaultN8N токен Умного дома2",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "fYFnpIika2dCryN4",
          "name": "VaultN8N"
        }
      },
      "notes": "https://techcrunch.com/2026/01/22/anthropic-has-to-keep-revising-its-technical-interview-test-so-you-cant-cheat-on-it-with-claude/"
    },
    {
      "parameters": {
        "content": "## Токен\nПолучаем из VaultN8N по ключу: Мой_умный_дом_yandex_API"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -272,
        112
      ],
      "typeVersion": 1,
      "id": "1c433d73-3318-45a6-97ae-1a4be1f714be",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "url": "http://vault-n8n:8000/api/v1/secrets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "keys",
              "value": "Мой_умный_дом_yandex_API"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -16,
        320
      ],
      "id": "dfdb3961-4e36-4593-84c3-afa121e511e3",
      "name": "VaultN8N токен Умного дома3",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "fYFnpIika2dCryN4",
          "name": "VaultN8N"
        }
      },
      "notes": "https://techcrunch.com/2026/01/22/anthropic-has-to-keep-revising-its-technical-interview-test-so-you-cant-cheat-on-it-with-claude/"
    },
    {
      "parameters": {
        "url": "http://vault-n8n:8000/api/v1/secrets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "keys",
              "value": "Мой_умный_дом_yandex_API"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -112,
        992
      ],
      "id": "7888fd30-f07f-469e-ac40-8186a3f99b72",
      "name": "Получение токена для Умного дома",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "fYFnpIika2dCryN4",
          "name": "VaultN8N"
        }
      },
      "notes": "https://techcrunch.com/2026/01/22/anthropic-has-to-keep-revising-its-technical-interview-test-so-you-cant-cheat-on-it-with-claude/"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://vault-n8n:8000/api/v1/secrets/single",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "Мой_умный_дом_yandex_API"
            },
            {
              "name": "value"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -800,
        96
      ],
      "id": "f560ca45-1f91-4f21-b6f7-471adc4f2afa",
      "name": "Добавить токен Яндекс Умный дом",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "fYFnpIika2dCryN4",
          "name": "VaultN8N"
        }
      },
      "notes": "https://techcrunch.com/2026/01/22/anthropic-has-to-keep-revising-its-technical-interview-test-so-you-cant-cheat-on-it-with-claude/"
    }
  ],
  "pinData": {},
  "repo_name": "N8N",
  "repo_owner": "avdivo",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-02-05T21:41:22.221Z",
      "createdAt": "2026-02-05T21:41:22.221Z",
      "role": "workflow:owner",
      "workflowId": "N-4hPuHHpq0kPBYhw_iqU",
      "projectId": "ILcfmLBZn60jlfes"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-18T15:46:43.128Z",
  "versionId": "2161bac2-c778-48a5-9e5c-ef9d71d3c7a2"
}