2026/01/IpYRN99egQIEmmVG.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Проверка наличия и очистка ответа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "RSS тригер": {
      "main": [
        [
          {
            "node": "Получение списка статей",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение списка статей": {
      "main": [
        [
          {
            "node": "Перебор статей по одной",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Перебор статей по одной": {
      "main": [
        [],
        [
          {
            "node": "Извлечь данные изображения",
            "type": "main",
            "index": 0
          },
          {
            "node": "Извлечь текст",
            "type": "main",
            "index": 0
          },
          {
            "node": "Извлечь заголовок",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Извлечь заголовок": {
      "main": [
        [
          {
            "node": "Сливаем заголовок и текст в один объект",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Извлечь текст": {
      "main": [
        [
          {
            "node": "Сливаем заголовок и текст в один объект",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Извлечь данные изображения": {
      "main": [
        [
          {
            "node": "Загрузка изображения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сливаем заголовок и текст в один объект": {
      "main": [
        [
          {
            "node": "Объединяем в один текст",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Объединяем в один текст": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка наличия и очистка ответа": {
      "main": [
        [
          {
            "node": "Контроль длины ответа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Контроль длины ответа": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Объединяем текст и изображение",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Загрузка изображения": {
      "main": [
        [
          {
            "node": "Объединяем текст и изображение",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Объединяем текст и изображение": {
      "main": [
        [
          {
            "node": "Отправляем фото с подписью",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправляем фото с подписью": {
      "main": [
        [
          {
            "node": "Перебор статей по одной",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-10T11:51:54.989Z",
  "id": "IpYRN99egQIEmmVG",
  "isArchived": false,
  "meta": null,
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://ai-techpark.com/category/ai/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        288,
        464
      ],
      "id": "0246ad2b-40cd-4fc2-8ccf-913a625d4b15",
      "name": "RSS Read",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "tngtech/tng-r1t-chimera:free не плохо справлялась, только медленно\n\nПлатная\ndeepseek/deepseek-r1-0528-qwen3-8b"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1840,
        80
      ],
      "typeVersion": 1,
      "id": "bdf517c5-4f43-4438-8307-92a64b3d2ef0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ты редактор - переводчик.\nВыполни перевод на русский. Не переводи аббревиатуры, названия, имена, технические термины.\nСократи  и перефразируй текст, (длина не более 1000 символов). Оставь только суть.  Сделай его понятным и читаемым для обывателя.\nДобавь эмодзи. Делай абзацы \"\\n\".\nУдали рекламные вставки и другие тексты и символы не относящиеся к статье.\nНе применяй форматирование, удали все символы не относящиеся к тексту.\nВерни  валидный JSON.\n\nНе применяй Markdown форматирование.\n\nТекст:\n {{ $json.output }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1840,
        304
      ],
      "id": "14e49c03-7cf2-4fbc-b776-fa4383ae59ba",
      "name": "Basic LLM Chain",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-r1-0528-qwen3-8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1840,
        480
      ],
      "id": "9c1d65e9-f1d0-41ef-8da4-3da1996eb9a2",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "c5DK3KMrdVXRCOa2",
          "name": "News _avdivo"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"Заголовок для публикации в Telegram.\"\n    },\n    \"text\": {\n      \"type\": \"string\",\n      \"description\": \"Основной текст сообщения, чистый, без форматирования.\"\n    }\n  },\n  \"required\": [\"title\", \"text\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1984,
        464
      ],
      "id": "5b69d7b2-5d4d-480a-824d-0ee880d8459b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "content": "## Публикация новостей в Телеграмм с сайта *https://ai-techpark.com*\nПодобным образом можно работать с любыми сайтами, но настройка CSS селекторов для поиска блоков в HTML ручная для каждого сайта\n- Получает новости из RSS ленты\n- Находит новость на сайте\n- Извлекает из нее картинку и текст\n- Переводит и адаптирует текст\n- Контролирует качество выходного формата\n- Выводит новость в Телеграмм как фото с подписью, в формате MarkdownV2",
        "height": 896,
        "width": 2832
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "f796f942-9933-4965-9857-8f5cbc93d639",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "feedUrl": "https://ai-techpark.com/category/ai/feed/"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        288,
        288
      ],
      "id": "aaaa9891-5fd6-4ae4-abf0-ca0b6ebe7f0b",
      "name": "RSS тригер"
    },
    {
      "parameters": {
        "url": "={{ $json.guid }}",
        "options": {}
      },
      "id": "8e52ef82-d202-4069-8130-eb0c81e5c233",
      "name": "Получение списка статей",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        544,
        384
      ],
      "typeVersion": 4.2,
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        736,
        384
      ],
      "id": "5a5cbb6c-c21d-470a-af10-e72a255eb192",
      "name": "Перебор статей по одной"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "title"
            }
          ]
        },
        "options": {}
      },
      "id": "47ff4083-2913-426f-8730-9e4831108c4c",
      "name": "Извлечь заголовок",
      "type": "n8n-nodes-base.html",
      "position": [
        1040,
        208
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": "=.penci-entry-content",
              "skipSelectors": "img,nav"
            }
          ]
        },
        "options": {}
      },
      "id": "8eb4e396-4bbd-4e0f-ba10-768f9daf4fe1",
      "name": "Извлечь текст",
      "type": "n8n-nodes-base.html",
      "position": [
        1040,
        400
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "data",
              "cssSelector": "=img.wp-post-image",
              "returnValue": "attribute"
            }
          ]
        },
        "options": {}
      },
      "id": "cecfca21-f4fd-41fc-adbb-43c116f3941b",
      "name": "Извлечь данные изображения",
      "type": "n8n-nodes-base.html",
      "position": [
        1040,
        592
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1376,
        304
      ],
      "id": "d7d7cacd-b535-4632-be1e-70e8686d38f1",
      "name": "Сливаем заголовок и текст в один объект"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6311476f-8395-4a3d-bc21-8ea38f0eceb1",
              "name": "output",
              "value": "={{ $json.title }} \\n\\n {{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        304
      ],
      "id": "383c546e-2f70-47c7-bfe3-09a5137895db",
      "name": "Объединяем в один текст"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import re\n\n\n\ndef fix_markdown(string):\n  \"\"\"\n  Экранирует все специальные символы для Telegram Markdown V2 с помощью регулярного выражения.\n  \"\"\"\n  # список спецсимволов из документации Telegram\n  special_chars = r'[_*\\[\\]\\(\\)~`>#+\\-=|{}.!]'\n    \n  # добавляем обратный слэш перед каждым спецсимволом\n  return re.sub(special_chars, r'\\\\\\g<0>', string)\n\n# Из JSON ответа модели забирает заголовок и текст.\n# Экранирует символы критичные для Markdown.\n# Собирает ответ (статью с простым форматированием.)\n# Может вернуть пустой ответ.\nresults = []  # Собирает массив статей\nfor item in items:\n    result = \"\"  # Собирает одну статью\n    input_text = item.get(\"json\", {}).get(\"output\", \"\")\n    title = fix_markdown(input_text.get(\"title\", \"\"))\n    text = fix_markdown(input_text.get(\"text\", \"\"))\n    if not title or not text:\n      break\n    result = f\"*{title}* \\n\\n {text}\"\n    results.append({\"json\": {\"output\": result}})\n\nreturn results\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        208
      ],
      "id": "6216b32d-d1ad-4980-86a9-ffb5388481a2",
      "name": "Проверка наличия и очистка ответа"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "29f75344-7fe9-41d6-91f2-497eeb611fd5",
              "leftValue": "={{ $json.output.length }}",
              "rightValue": 1024,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "ea153c33-eb0f-4667-832c-88941f069075",
              "leftValue": "={{ $json.output.length }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2400,
        208
      ],
      "id": "7dd85c9c-b840-4bdb-b14b-e4107ad1e26a",
      "name": "Контроль длины ответа"
    },
    {
      "parameters": {
        "url": "={{ $json.data.src }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "bin_image"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2032,
        592
      ],
      "id": "ea8c569b-15a9-47dd-87a3-73b7ecf72f43",
      "name": "Загрузка изображения",
      "retryOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2224,
        592
      ],
      "id": "249b1afe-a014-4f3e-b3eb-2fea3b5dee70",
      "name": "Объединяем текст и изображение"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "249503190",
        "binaryData": true,
        "binaryPropertyName": "bin_image",
        "additionalFields": {
          "caption": "={{ $json.output }}",
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2400,
        592
      ],
      "id": "38231135-445a-4093-a370-a076ffd1bbd3",
      "name": "Отправляем фото с подписью",
      "webhookId": "41d6117d-fcbd-43b6-bf18-84eb984c26cb",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "kc5OeK071IbNuD4O",
          "name": "Умный дом"
        }
      }
    },
    {
      "parameters": {
        "url": "https://blog.n8n.io/rss/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1104,
        1376
      ],
      "id": "8ce35760-5067-4b7b-9649-c99a55bb2e6e",
      "name": "RSS Read1"
    }
  ],
  "pinData": {},
  "repo_name": "N8N",
  "repo_owner": "avdivo",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-10T11:51:54.989Z",
      "createdAt": "2026-01-10T11:51:54.989Z",
      "role": "workflow:owner",
      "workflowId": "IpYRN99egQIEmmVG",
      "projectId": "GcF8pQl3OQ6WizlQ"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-10T12:01:34.147Z",
  "versionId": "a1c0f678-5ff6-4c8a-b7a4-2b892ea2ede4"
}