2026/01/jHdKLo6MJmDm9bXGseHGe.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-22T20:32:47.269Z",
  "id": "jHdKLo6MJmDm9bXGseHGe",
  "isArchived": false,
  "meta": null,
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "920df820-6b15-4ee4-bbb4-ba7d3002bc34",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://crawl4ai:11235/crawl",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"urls\": [\"https://avdivo.ru\"],\n  \"crawler_config\": {\n    \"type\": \"CrawlerRunConfig\",\n    \"params\": {\n      \"extraction_strategy\": {\n        \"type\": \"LLMExtractionStrategy\",\n        \"params\": {\n          \"llm_config\": {\n            \"type\": \"LLMConfig\",\n            \"params\": {\n              \"provider\": \"openrouter/mistralai/mistral-small-24b-instruct-2501\",\n              \"api_token\": \"\"\n            }\n          },\n          \"extraction_type\": \"instruction\",\n          \"instruction\": \"Верни только то что рассказано о программисте и не общим текстом, а построчно, со смайликами в начале в качестве маркеров\",\n          \"output_format\": \"markdown\",\n          \"temperature\": 0\n        }\n      }\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "70d9c5a8-6096-48ca-8b3f-f935ddf97cef",
      "name": "HTTP Request",
      "notes": "https://techcrunch.com/2026/01/22/anthropic-has-to-keep-revising-its-technical-interview-test-so-you-cant-cheat-on-it-with-claude/"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd98dc5a-8434-436a-8860-82f06d495d70",
              "name": "md",
              "value": "={{ $json.results[0].markdown.fit_markdown }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "cd739550-94a2-440b-8158-e05c0f61b538",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "repo_name": "N8N",
  "repo_owner": "avdivo",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-22T20:32:47.269Z",
      "createdAt": "2026-01-22T20:32:47.269Z",
      "role": "workflow:owner",
      "workflowId": "jHdKLo6MJmDm9bXGseHGe",
      "projectId": "GcF8pQl3OQ6WizlQ"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-23T21:24:19.036Z",
  "versionId": "0130bd9f-8f01-4728-a313-257bf9401956"
}