2025/12/dw6dfsrfsej9e4v5.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Определение клиента 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Переход к авторизации",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Определение клиента 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Вывод списка статей",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML3": {
      "main": [
        [
          {
            "node": "Отправка формы3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка пароля": {
      "main": [
        [
          {
            "node": "Генерация токена",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Агрегатор",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Генерация токена": {
      "main": [
        [
          {
            "node": "Сохранение токена",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранение токена": {
      "main": [
        [
          {
            "node": "Получение списка статей из БД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение списка статей из БД": {
      "main": [
        [
          {
            "node": "Агрегатор 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовка списка статей в HTML": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Параметры и токен",
            "type": "main",
            "index": 2
          },
          {
            "node": "Определение клиента 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение токена": {
      "main": [
        [
          {
            "node": "Параметры и токен",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка токена": {
      "main": [
        [
          {
            "node": "Парсинг ответа формы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Парсинг ответа формы": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "HTML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Новости для дайджеста": {
      "main": [
        [
          {
            "node": "Создание дайджеста",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Создание дайджеста": {
      "main": [
        [
          {
            "node": "Отправка дайджеста в публикацию",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправка дайджеста в публикацию": {
      "main": [
        [
          {
            "node": "Фильтрация ошибок сохранения в БД1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Перебор статей по одной1": {
      "main": [
        [],
        [
          {
            "node": "Текст статьи",
            "type": "main",
            "index": 0
          },
          {
            "node": "Изображение",
            "type": "main",
            "index": 0
          },
          {
            "node": "Дополнительно",
            "type": "main",
            "index": 0
          },
          {
            "node": "Название статьи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Выбор статей для публикации": {
      "main": [
        [
          {
            "node": "Получение HTML статей",
            "type": "main",
            "index": 0
          },
          {
            "node": "Добавление статей в массив",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Получение HTML статей": {
      "main": [
        [
          {
            "node": "Добавление статей в массив",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Название статьи": {
      "main": [
        [
          {
            "node": "Пустой заголовок",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Перебрать RSS ленты": {
      "main": [
        [],
        [
          {
            "node": "Чтение очередной RSS ленты",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Чтение очередной RSS ленты": {
      "main": [
        [
          {
            "node": "Список ссылок на статьи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Сокращение текстов",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Объединение текста и ссылки",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS и Параметры": {
      "main": [
        [
          {
            "node": "Перебрать RSS ленты",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "link": {
      "main": [
        [
          {
            "node": "Объединение текста и ссылки",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Запись анонсов в БД",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Сообщение об ошибке",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Объединение текста и ссылки": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сокращение текстов": {
      "main": [
        [
          {
            "node": "Объединение текста и ссылки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Добавление статей в массив": {
      "main": [
        [
          {
            "node": "Фильтрация ошибок загрузки статей",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фильтрация ошибок загрузки статей": {
      "main": [
        [
          {
            "node": "Перебор статей по одной1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отчет об ошибках загрузки статей",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Изображение": {
      "main": [
        [
          {
            "node": "Сборка статьи",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Дополнительно": {
      "main": [
        [
          {
            "node": "Сборка статьи",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Перевод названия",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Перевод текста",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Текст статьи": {
      "main": [
        [
          {
            "node": "Установка размера статьи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Перевод текста": {
      "main": [
        [
          {
            "node": "Агрегатор ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pass": {
      "main": [
        [
          {
            "node": "Перевод текста",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ограничение размера статьи": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Установка размера статьи": {
      "main": [
        [
          {
            "node": "Ограничение размера статьи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обновляем лимит размера статьи": {
      "main": [
        [
          {
            "node": "Роутер",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Роутер": {
      "main": [
        [
          {
            "node": "Отчет об ошибках обработки текста",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Сборка статьи",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Перевод названия": {
      "main": [
        [
          {
            "node": "Контроль",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сборка статьи": {
      "main": [
        [
          {
            "node": "Контроль сборки статьи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Контроль LLM": {
      "main": [
        [
          {
            "node": "Обновляем лимит размера статьи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Контроль сборки статьи": {
      "main": [
        [
          {
            "node": "Сохранение статей в БД",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отчет о ошибках контроля статей",
            "type": "main",
            "index": 0
          },
          {
            "node": "Перебор статей по одной1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранение статей в БД": {
      "main": [
        [
          {
            "node": "Перебор статей по одной1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Фильтрация ошибок сохранения в БД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фильтрация ошибок сохранения в БД": {
      "main": [
        [
          {
            "node": "Отчет об ошибках сохранения в БД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фильтрация ошибок сохранения в БД1": {
      "main": [
        [
          {
            "node": "Отчет об ошибках сохранения в БД1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Список ссылок на статьи": {
      "main": [
        [
          {
            "node": "Извлекаем ссылки которые уже есть в БД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Статьи для публикации": {
      "main": [
        [
          {
            "node": "Загрузка изображений",
            "type": "main",
            "index": 0
          },
          {
            "node": "Подготовка текста к публикации",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Объединяем текст и изображение1": {
      "main": [
        [
          {
            "node": "Ищем новости без фото",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовка текста к публикации": {
      "main": [
        [
          {
            "node": "Объединяем текст и изображение1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Загрузка изображений": {
      "main": [
        [
          {
            "node": "Объединяем текст и изображение1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Ищем новости без фото": {
      "main": [
        [
          {
            "node": "Статьи с фото",
            "type": "main",
            "index": 0
          },
          {
            "node": "Помечаем как опубликованные",
            "type": "main",
            "index": 0
          },
          {
            "node": "Для Лены",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Статьи без фото",
            "type": "main",
            "index": 0
          },
          {
            "node": "Помечаем как опубликованные",
            "type": "main",
            "index": 0
          },
          {
            "node": "Тоже для лены",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Статьи с фото": {
      "main": [
        [],
        [
          {
            "node": "Отчет об ошибках вывода",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Статьи без фото": {
      "main": [
        [],
        [
          {
            "node": "Отчет об ошибках вывода",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Контроль": {
      "main": [
        [
          {
            "node": "Сборка статьи",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Определение клиента": {
      "main": [
        [
          {
            "node": "Подготовка БД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Определение клиента 1": {
      "main": [
        [
          {
            "node": "RSS и Параметры",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Определение клиента 2": {
      "main": [
        [
          {
            "node": "Параметры приложения 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Определение клиента 3": {
      "main": [
        [
          {
            "node": "Параметры приложения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Определение клиента 4": {
      "main": [
        [
          {
            "node": "Получение токена",
            "type": "main",
            "index": 0
          },
          {
            "node": "Параметры приложения 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Определение клиента 5": {
      "main": [
        [
          {
            "node": "Новости для дайджеста",
            "type": "main",
            "index": 0
          },
          {
            "node": "Выбор статей для публикации",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение HTML статей1": {
      "main": [
        [
          {
            "node": "Проверка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Извлекаем ссылки которые уже есть в БД": {
      "main": [
        [
          {
            "node": "Статьи которых нет в БД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Статьи которых нет в БД py": {
      "main": [
        []
      ]
    },
    "Статьи которых нет в БД": {
      "main": [
        [
          {
            "node": "link",
            "type": "main",
            "index": 0
          },
          {
            "node": "Подготовка материалов для дайджеста",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Подготовка материалов для дайджеста py": {
      "main": [
        []
      ]
    },
    "Подготовка материалов для дайджеста": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сообщение об ошибке": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Code in Python (Native)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры приложения": {
      "main": [
        [
          {
            "node": "Проверка пароля",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Агрегатор": {
      "main": [
        [
          {
            "node": "HTML3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Агрегатор 1": {
      "main": [
        [
          {
            "node": "Подготовка списка статей в HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры приложения 1": {
      "main": [
        [
          {
            "node": "Параметры и токен",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTML2": {
      "main": [
        [
          {
            "node": "Готово",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Агрегатор ": {
      "main": [
        [
          {
            "node": "Контроль LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Определение клиента 6": {
      "main": [
        [
          {
            "node": "Статьи для публикации",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры приложения 2": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры и токен": {
      "main": [
        [
          {
            "node": "Проверка токена",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Каждые 4 часа": {
      "main": [
        [
          {
            "node": "Определение клиента 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Каждые 15 минут": {
      "main": [
        [
          {
            "node": "Определение клиента 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запись анонсов в БД": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Перебрать RSS ленты",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Каждые 1 часа": {
      "main": [
        [
          {
            "node": "Определение клиента 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка": {
      "main": [
        []
      ]
    },
    "Пустой заголовок": {
      "main": [
        [
          {
            "node": "text = \"\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Перевод названия",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text = \"\"": {
      "main": [
        [
          {
            "node": "Контроль",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-24T11:03:16.697Z",
  "id": "dw6dfsrfsej9e4v5",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Чтение статей из RSS _s",
  "nodes": [
    {
      "parameters": {
        "chatId": "249503190",
        "text": "={{ $json.execution.error.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -912,
        3424
      ],
      "id": "57929fed-e838-41a1-9b90-2b5d54897ab4",
      "name": "Send a text message",
      "webhookId": "a4b08208-4484-4843-8f51-ecaeabec47f2",
      "credentials": {
        "telegramApi": {
          "id": "sQA5ZULLYOe0BY8p",
          "name": "Ошибки приложений"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## База данных\n\n### RSS ленты (news_rss_channels)\n- news_rss_id - идентификатор\n- news_rss_url - ссылка на ленту\n- news_rss_short - из какого поля, сформированного нодой RSS Read брать текст для дайжеста (.penci-entry-content)\n- news_rss_title - css селектор для поиска названия на странице сайта на который ведет канал, с \".\"\n- news_rss_content - css селектор для поиска статьи , с \".\"\n- news_ rss_ image - css селектор для поиска изображения , с \".\"\n- news_rss_created_at - дата создания/изменения\n- news_rss_disable - True не использовать\n\n### Новость одной строкой (news_summary)\n- news_summary_id - идентификатор\n- news_summary_link - ссылка на саму новость (уникальное)\n- news_summary_text - новость одной строкой\n- news_summary_title - css селектор для поиска названия на странице новости (link )\n- news_summary_content - css селектор для поиска статьи\n- news_summary_image  - css селектор для поиска изображения\n- news_summary_date_digest - дата публикации в дайджесте\n- news_summary_digest - (BOOL) добавлено в статью дайджеста\n- news_summary_date_published - дата публикации статьи\n- news_summary_published - (BOOL) создана статья\n- news_summary_created_at - дата добавления статьи в таблицу\n- news_summary_disable - не отображать для выбора материалов для публикации. Ставится пользователем или автоматически, когда статья уже вышла в дайджесте и была опубликована.\n\n### Статьи для публикации и опубликованные (publication).\n- publication_id - идентификатор публикации\n- publication_title - название публикации\n- publication_text - текст публикации\n- publication_image - ссылка на изображение\n- publication_date - дата запланированной публикации (не пустое)\n- publication_original - ссылка на оригинал новости\n- publication_date_complete - реальная дата публикации (по умолчанию пустая)\n",
        "height": 1088,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1232,
        2320
      ],
      "typeVersion": 1,
      "id": "d4230d1f-e16d-4983-a420-62f21a05439c",
      "name": "Sticky Note4",
      "disabled": true
    },
    {
      "parameters": {
        "path": "s/news_authorize",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        32,
        1648
      ],
      "id": "585b067f-a839-4be8-89fc-2766ab109afb",
      "name": "Webhook",
      "webhookId": "f1c6bc81-e009-40d4-a746-41220389f1b8"
    },
    {
      "parameters": {
        "content": "## Запрос логина и пароля\nВозвращает страницу авторизации.\nДля правильной работы нужно настроить путь в ноде Webhook:  \n`avdivo/news_authorize`\navdivo - пользователь и схема в БД\n\n### В коде страницы в ноде HTML:\nВ начале задаются параметры базовый адрес и режим запуска (тестовый или нет), пользователь вычисляется сам.",
        "height": 368,
        "width": 1056
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        1440
      ],
      "typeVersion": 1,
      "id": "65dd1c53-67de-41df-9d33-cfe6f3b81730",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Получаем параметры\ninput_data = _items[0][\"json\"]\n\n# Базовый адрес n8n\nbase_url = input_data[\"app_base_url\"]\n\n# Режим запуска: webhook или webhook-test\nmode = \"webhook\"\nif input_data[\"app_mode\"] == \"test\":\n    mode += \"-test\"\n\n# Логин пользователя\nlogin = input_data[\"user_login\"]\n\n# Формируем URL вебхука\nwebhook_url = f\"{base_url}{mode}/{login}/get_list\"\n\n# Генерируем HTML с подставленным webhook_url\nhtml = f\"\"\"\n<!DOCTYPE html>\n<html lang=\"ru\">\n<head>\n    <meta charset=\"UTF-8\">\n    <!-- Мета-тег для учета масштабирования на мобильных устройствах -->\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Страница Авторизации</title>\n    \n    <style>\n        /* Базовые стили для светлой темы (по умолчанию) */\n        body {{\n            font-family: sans-serif;\n            background-color: #f4f4f4;\n            color: #333;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            height: 100vh;\n            margin: 0;\n        }}\n        .container {{\n            width: 300px;\n            padding: 30px;\n            background-color: #fff;\n            border-radius: 8px;\n            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);\n        }}\n        input[type=\"text\"], input[type=\"password\"] {{\n            width: 100%;\n            padding: 10px;\n            margin-bottom: 15px;\n            border: 1px solid #ccc;\n            border-radius: 4px;\n            box-sizing: border-box;\n        }}\n        input[type=\"submit\"] {{\n            width: 100%;\n            padding: 10px;\n            background-color: #007bff;\n            color: white;\n            border: none;\n            border-radius: 4px;\n            cursor: pointer;\n        }}\n        input[type=\"submit\"]:hover {{\n            background-color: #0056b3;\n        }}\n\n        /* Медиа-запрос для темной темы */\n        @media (prefers-color-scheme: dark) {{\n            body {{\n                background-color: #121212;\n                color: #e0e0e0;\n            }}\n            .container {{\n                background-color: #1e1e1e;\n                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);\n            }}\n            input[type=\"text\"], input[type=\"password\"] {{\n                background-color: #333;\n                color: #e0e0e0;\n                border-color: #555;\n            }}\n        }}\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>Вход</h1>\n        <form action=\"{webhook_url}\" method=\"post\">\n            <label for=\"username\">Имя пользователя:</label>\n            <input type=\"text\" id=\"username\" name=\"username\" required>\n            \n            <label for=\"password\">Пароль:</label>\n            <input type=\"password\" id=\"password\" name=\"password\" required>\n            \n            <input type=\"submit\" value=\"Войти\">\n        </form>\n    </div>\n    <script>\n        document.addEventListener('DOMContentLoaded', function() {{\n            const urlParams = new URLSearchParams(window.location.search);\n            const errorMessage = urlParams.get('error');\n            if (errorMessage) {{\n                const errorElement = document.createElement('p');\n                errorElement.textContent = decodeURIComponent(errorMessage);\n                errorElement.style.color = 'red';\n                errorElement.style.marginBottom = '15px';\n                const h1 = document.querySelector('h1');\n                if (h1) {{\n                    h1.insertAdjacentElement('afterend', errorElement);\n                }}\n            }}\n        }});\n    </script>\n</body>\n</html>\n\"\"\"\n\n# Возвращаем результат\nreturn {\n    \"body\": html\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        1648
      ],
      "id": "53914c45-9c0b-49d4-8cb9-3848d361ec0e",
      "name": "HTML"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "s/get_list",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        32,
        2112
      ],
      "id": "dc72067f-0f98-42b1-8571-140b728ecb98",
      "name": "Webhook1",
      "webhookId": "f1c6bc81-e009-40d4-a746-41220389f1b8"
    },
    {
      "parameters": {
        "content": "## Авторизация\nВозвращает страницу редактирования статей, выполняя проверку пароля.\nДля правильной работы нужно настроить путь в ноде Webhook:  \n`avdivo/get_list`\navdivo - пользователь и схема в БД\n\n### В коде страницы в нодах HTML:\nВ начале задаются параметры базовый адрес и режим запуска (тестовый или нет), пользователь вычисляется сам.\nОткрывает страницу get_list, если логин и пароль верные или повторно выводит форму ввода пароля.",
        "height": 512,
        "width": 2080
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        1856
      ],
      "typeVersion": 1,
      "id": "62f59a09-d327-4e1f-b64f-cf7f95f6f9ca",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Получаем данные и параметры\ninput = _items[0][\"json\"]\nparam = input[\"param\"]\n\n# Базовый адрес n8n\n\nbase_url = param[\"base_url\"]\n\n# Режим запуска: webhook или webhook-test\nmode = \"webhook\"\nif param[\"mode\"] == \"test\":\n  mode += \"-test\"\n\n# Логин пользователя\nlogin = param[\"scheme_name\"]\n\n# Вычисляем url вебхука из базового адреса, режима запуска (тест/прод), логина пользователя\nwebhook_url = f\"{base_url}{mode}/{login}/assign_publications\"\n\n# Токен для подтверждения подлинности измененных данных\ntoken = param[\"token\"]\n\n# Список HTML элементов со статьями\nbody_list = input.get(\"body_list\", \"Нет материалов для обработки.\")\n\n# В Python Node\nhtml = \"\"\"\n\n<!DOCTYPE html>\n<html lang=\"ru\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Подготовка публикации</title>\n    \n        <style>\n        /* --- Базовые стили (Светлая тема) --- */\n        body {\n            font-family: sans-serif;\n            background-color: #f4f4f4;\n            color: #333;\n            margin: 20px;\n            line-height: 1.6;\n        }\n        .container {\n            max-width: 800px;\n            margin: auto;\n            padding: 30px;\n            background-color: #fff;\n            border-radius: 8px;\n            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);\n        }\n        .article-section {\n            padding-bottom: 20px;\n            margin-bottom: 20px;\n            border-bottom: 2px solid #eee;\n        }\n        .article-section:last-child {\n            border-bottom: none;\n            margin-bottom: 0;\n        }\n        h1, h2 {\n            color: #000;\n        }\n        .article-header {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            margin-bottom: 10px; /* Adjust as needed */\n        }\n        .read-more-link {\n            font-size: 1.8em; /* Adjust icon size */\n            text-decoration: none;\n            color: #007bff; /* Icon color */\n            position: relative;\n            display: inline-block;\n            margin-left: 10px;\n        }\n        .read-more-link:hover {\n            color: #0056b3; /* Darker color on hover */\n        }\n        .read-more-link::after {\n            content: 'Прочитать';\n            position: absolute;\n            right: 0;\n            top: 100%;\n            background-color: rgba(0, 0, 0, 0.8);\n            color: #fff;\n            padding: 5px 8px;\n            border-radius: 4px;\n            white-space: nowrap;\n            opacity: 0;\n            visibility: hidden;\n            transition: opacity 0.2s, visibility 0.2s;\n            font-size: 0.8em;\n            z-index: 10;\n        }\n        .read-more-link:hover::after {\n            opacity: 1;\n            visibility: visible;\n        }\n                    textarea {\n                        width: 100%;\n                        padding: 10px;\n                        margin-bottom: 10px;\n                        border: 1px solid #ccc;\n                        border-radius: 4px;\n                        box-sizing: border-box;\n                        min-height: 150px;\n                        font-size: 17px; /* Увеличенный размер шрифта */\n                    }\n                    input[type=\"datetime-local\"] {\n                        width: 200px; /* Сокращенная ширина */\n                        padding: 8px;\n                        border: 1px solid #ccc;\n                        border-radius: 4px;\n                        background-color: #fff; /* Цвет фона как у контейнера */\n                        color: #333; /* Цвет текста */\n                        color-scheme: light;\n                    }\n        /* Custom Checkbox Styles */\n        label {\n            display: inline-flex;\n            align-items: center;\n            position: relative;\n            padding-left: 25px; /* Space for custom checkbox */\n            cursor: pointer;\n            margin-right: 15px; /* Keep original margin */\n        }\n\n        label input[type=\"checkbox\"] {\n            position: absolute;\n            opacity: 0;\n            width: 16px; /* Match custom checkbox size */\n            height: 16px;\n            cursor: pointer;\n            z-index: 1; /* Ensure it's clickable */\n            left: 0; /* Position correctly */\n            top: 50%;\n            transform: translateY(-50%);\n        }\n\n        label span::before {\n            content: '';\n            position: absolute;\n            left: 0;\n            top: 50%;\n            transform: translateY(-50%);\n            width: 16px;\n            height: 16px;\n            border: 2px solid #007bff; /* Blue border */\n            border-radius: 3px;\n            background-color: #fff;\n            transition: all 0.2s ease;\n        }\n\n        label input[type=\"checkbox\"]:checked + span::before {\n            background-color: #007bff; /* Blue background when checked */\n            border-color: #007bff;\n            content: '✔'; /* Checkmark */\n            color: #fff;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            font-size: 12px;\n            line-height: 1;\n        }\n        .controls {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            flex-wrap: wrap;\n        }\n        input[type=\"datetime-local\"] {\n            margin-right: 5px;\n            vertical-align: middle;\n        }\n\n        .submit-btn {\n            width: 100%;\n            padding: 10px;\n            background-color: #007bff;\n            color: white;\n            border: none;\n            border-radius: 4px;\n            cursor: pointer;\n            font-size: 18px; /* Увеличенный размер шрифта */\n            margin-top: 20px;\n        }\n        .submit-btn:hover {\n            background-color: #0056b3;\n        }\n\n\n        /* --- Стили Темной темы --- */\n        @media (prefers-color-scheme: dark) {\n            body {\n                background-color: #121212;\n                color: #e0e0e0;\n            }\n            .container {\n                background-color: #1e1e1e;\n                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);\n            }\n            h1, h2 {\n                color: #fff;\n            }\n            .article-section {\n                border-bottom: 2px solid #333;\n            }\n            textarea {\n                background-color: #333;\n                color: #e0e0e0;\n                border-color: #555;\n            }\n            input[type=\"datetime-local\"] {\n                background-color: #1e1e1e; /* Цвет фона как у контейнера */\n                color: #e0e0e0; /* Цвет текста */\n                border-color: #555;\n                color-scheme: dark;\n            }\n            label span::before {\n                border: 2px solid #007bff; /* Blue border */\n                background-color: #333; /* Dark background */\n            }\n            label input[type=\"checkbox\"]:checked + span::before {\n                background-color: #007bff; /* Blue background when checked */\n                border-color: #007bff;\n                color: #fff;\n            }\n        }\n        @media (max-width: 768px) {\n            .datetime-label {\n                display: flex;\n                flex-wrap: wrap;\n                align-items: center;\n            }\n        }\n    </style>\n    \n</head>\n<body>\n    <div class=\"container\">\n        <h1>Подготовка публикации</h1>\n        \n        <!-- Форма отправляет данные POST-запросом на другой вебхук n8n -->\n        \"\"\" + f'<form action=\"{webhook_url}\" method=\"POST\"><input type=\"hidden\" name=\"auth_token\" value=\"{token}\">' + body_list + \"\"\"\n\n            <button type=\"submit\" class=\"submit-btn\">Отправить</button>\n        </form>\n    </div>\n</body>\n</html>\n\n\"\"\"\n\n# Вернём как output\nreturn {\n    \"body\": html\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        2208
      ],
      "id": "fe742f2a-e00c-429b-a2f2-c0d5bf4aae82",
      "name": "HTML1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "## Подготовка к работе\n- Перед запуском приложения должны быть созданы и заполнены таблицы пользователей и приложений, это делается в воркфлоу Пользователи и приложения.\n- Название воркфлоу должно заканчиваться на _login. Это  логин пользователя, а также схема для него в БД.\n- В вэбхуках проверить свойство  Path, оно должно начинаться с этого логина, например: login/news_authorize\n- Режим работы приложения тестовый или продакт, базовый url, таймзона устанавливаются в таблице приложений для конкретного пользователя/приложения. Эти параметры используются в работе приложения.\n\n",
        "height": 400,
        "width": 448,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1232,
        1888
      ],
      "typeVersion": 1,
      "id": "8cc40680-2131-4d23-9bd1-68c83b6d66dc",
      "name": "Sticky Note8"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -1184,
        3424
      ],
      "id": "3451f699-7e30-4747-ac43-41ff1da2a1ba",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Базовый адрес сервера\nbase_url = _items[0][\"json\"][\"base_url\"]\n\n# Режим запуска: webhook или webhook-test\nmode = \"webhook\"\nif _items[0][\"json\"][\"mode\"] == \"test\":\n  mode += \"-test\"\n\n# Логин пользователя_input.first().json.scheme_name\nlogin = _items[0][\"json\"][\"scheme_name\"]\n\n# Вычисляем url вебхука из базового адреса, режима запуска (тест/прод), логина пользователя\nwebhook_url = f\"{base_url}{mode}/{login}/get_list\"\n\n\nhtml = \"\"\"\n\n<!DOCTYPE html>\n<html lang=\"ru\">\n<head>\n    <meta charset=\"UTF-8\">\n    <!-- Мета-тег для учета масштабирования на мобильных устройствах -->\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Страница Авторизации</title>\n    \n    <style>\n        /* Базовые стили для светлой темы (по умолчанию) */\n        body {\n            font-family: sans-serif;\n            background-color: #f4f4f4;\n            color: #333;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            height: 100vh;\n            margin: 0;\n        }\n        .container {\n            width: 300px;\n            padding: 30px;\n            background-color: #fff;\n            border-radius: 8px;\n            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);\n        }\n        input[type=\"text\"], input[type=\"password\"] {\n            width: 100%;\n            padding: 10px;\n            margin-bottom: 15px;\n            border: 1px solid #ccc;\n            border-radius: 4px;\n            box-sizing: border-box; /* Важно для корректной ширины */\n        }\n        input[type=\"submit\"] {\n            width: 100%;\n            padding: 10px;\n            background-color: #007bff;\n            color: white;\n            border: none;\n            border-radius: 4px;\n            cursor: pointer;\n        }\n        input[type=\"submit\"]:hover {\n            background-color: #0056b3;\n        }\n\n        /* Медиа-запрос для темной темы */\n        @media (prefers-color-scheme: dark) {\n            body {\n                background-color: #121212;\n                color: #e0e0e0;\n            }\n            .container {\n                background-color: #1e1e1e;\n                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);\n            }\n            input[type=\"text\"], input[type=\"password\"] {\n                background-color: #333;\n                color: #e0e0e0;\n                border-color: #555;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>Вход</h1>\n        <p style=\"color: red; margin-bottom: 15px;\">Неверный логин или пароль</p>\n        <!-- Убедитесь, что action указывает на ваш второй вебхук POST в n8n -->\n        <form action=\\\"\"\"\" + webhook_url + \"\"\"\\\" method=\"post\">\n            <label for=\"username\">Имя пользователя:</label>\n            <input type=\"text\" id=\"username\" name=\"username\" required>\n            \n            <label for=\"password\">Пароль:</label>\n            <input type=\"password\" id=\"password\" name=\"password\" required>\n            \n            <input type=\"submit\" value=\"Войти\">\n        </form>\n    </div>\n\n</body>\n</html>\n\n\"\"\"\n\n# Вернём как output\nreturn {\n    \"body\": html\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        2208
      ],
      "id": "eefb5f53-e14a-4abd-8af1-69115a269d93",
      "name": "HTML3"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.body }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1216,
        2208
      ],
      "id": "e146bd51-e5c2-4c5f-aa16-db5bc78c0174",
      "name": "Отправка формы3",
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6f6353cc-7a5a-4ec4-bbbe-9723f0d013da",
              "leftValue": "={{ $json.app_password }}",
              "rightValue": "={{ $('Webhook1').item.json.body.password }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "db3b52db-0bba-4580-bf61-3754f87dcf44",
              "leftValue": "={{ $('Определение клиента 3').item.json.scheme_name }}",
              "rightValue": "={{ $('Webhook1').item.json.body.username }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        608,
        2112
      ],
      "id": "e2a00846-7b5f-4024-bd40-3656674e4319",
      "name": "Проверка пароля"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.body }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1872,
        2128
      ],
      "id": "682f5cb3-d046-4536-926e-b9302f0d668e",
      "name": "Вывод списка статей",
      "executeOnce": false
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.body }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        800,
        1648
      ],
      "id": "b24a6d75-24b8-4f7a-aa0a-1666b565fad8",
      "name": "Переход к авторизации",
      "executeOnce": false
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import uuid\n\n# Генерирует UUID версии 4 (случайный)\nuuid_token = str(uuid.uuid4())\nreturn [{\"json\": {\"token\": uuid_token}}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        2032
      ],
      "id": "a4016e74-8452-451e-85e1-330c0f26e556",
      "name": "Генерация токена"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=token_news_{{ $('Определение клиента 3').item.json.scheme_name }}",
        "value": "={{ $json.token }}",
        "expire": true,
        "ttl": 43200
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1024,
        2032
      ],
      "id": "05fb0122-07b6-434e-abeb-89f6407e74e2",
      "name": "Сохранение токена",
      "credentials": {
        "redis": {
          "id": "3yufaVYIxUGdqEs5",
          "name": "Redis account"
        }
      },
      "notes": "Запись в redis токена доступа к редактированию новостей. Отредактированная форма должна вернуть этот токен. \nТокен действует примерно 12 часов.\nУ каждого пользователя свой ключ."
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "={{ $items(\"Определение клиента 3\").first().json[\"scheme_name\"] }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "news_summary",
          "mode": "list",
          "cachedResultName": "news_summary"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "news_summary_disable",
              "value": "False"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "news_summary_created_at",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1232,
        2032
      ],
      "id": "9ebbb5d7-83ab-4a46-94a6-7b4d6bc002ad",
      "name": "Получение списка статей из БД",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MfAbjD5qwZeFYS7N",
          "name": "БД Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "from datetime import datetime, timezone, timedelta\n\n\n# Получаем все данные и параметры\ninput = _items[0][\"json\"]\n\n# Получаем требуемый чсовой пояс\ntime_zone = input[\"timezone\"]\n\nbody_list = \"\"\nfor i, item in enumerate(input[\"articles\"]):\n\n  # Идентификатор новости в БД\n  id = item[\"news_summary_id\"]\n  \n  # Перевод даты загрузки статьи в нужный формат\n  # строка из JSON\n  date_str = item[\"news_summary_created_at\"]\n  # парсим ISO-дату как UTC\n  dt_utc = datetime.fromisoformat(date_str.replace(\"Z\", \"+00:00\"))\n  # Переводим сразу в нужный часовой пояс (например, UTC+3)\n  dt_local = dt_utc.astimezone(timezone(timedelta(hours=time_zone)))\n  # форматируем\n  created_at = dt_local.strftime(\"%d.%m.%Y\")\n\n  # Если есть дата публикации нужно перевести ее в нужный формат\n  # строка из JSON\n  date_str = item[\"news_summary_date_published\"]\n  date_published = \"\"\n  if date_str:\n    # парсим ISO-дату как UTC\n    dt_utc = datetime.fromisoformat(date_str.replace(\"Z\", \"+00:00\"))\n    # Переводим сразу в нужный часовой пояс (например, UTC+3)\n    dt_local = dt_utc.astimezone(timezone(timedelta(hours=time_zone)))\n    # форматируем\n    date_published = dt_local.strftime(\"%Y-%m-%dT%H:%M\")\n  \n  article = f\"\"\"\n    <div class=\"article-section\">\n      <div class=\"article-header\">\n        <h2>{created_at}</h2>({i+1})\n        <a href=\"{item[\"news_summary_link\"]}\" target=\"_blank\" class=\"read-more-link\">🔗</a>\n      </div>\n      <textarea name=\"articles[{id}][text]\" placeholder=\"Текст статьи...\">{item[\"news_summary_text\"]}</textarea>\n        <div class=\"controls\">\n          <div>\n            <label>\n              <input type=\"checkbox\" name=\"articles[{id}][digest]\" value=\"true\" {\"checked disabled\" if item[\"news_summary_date_digest\"] else \"\"}> <span>Добавить в дайджест</span>\n            </label>\n            <label class=\"datetime-label\">\n              Время публикации:\n              <input type=\"datetime-local\" name=\"articles[{id}][time]\" {f'value=\"{date_published}\" disabled' if date_published else \"\"}>\n            </label>\n          </div>\n          <label>\n            <input type=\"checkbox\" name=\"articles[{id}][delete]\" value=\"true\"> <span>Удалить</span>\n          </label>\n        </div>\n    </div>\n    \n  \"\"\"\n\n  body_list += article\n\n# Передаем параметры дальше\ndel(input[\"articles\"])\n\nreturn {\"json\": {\"body_list\": body_list, \"param\": input}}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        2032
      ],
      "id": "ae41b66a-f1b8-4648-bc69-54afe19ff670",
      "name": "Подготовка списка статей в HTML",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput",
      "notes": "Подготовка части html документа отображающего форму со списком статей"
    },
    {
      "parameters": {
        "content": "## Правка статей\n- Принимает заполненную форму со статьями\n- вносит соответствующие изменения в БД.\nДля правильной работы нужно настроить путь в ноде Webhook:  \n`avdivo/assign_publications`\navdivo - пользователь и схема в БД\n\n### В коде страницы в нодах HTML:\nВ начале задаются параметры базовый адрес и режим запуска (тестовый или нет), пользователь вычисляется сам.\nОткрывает страницу get_list, если логин и пароль верные или повторно выводит форму ввода пароля.",
        "height": 624,
        "width": 2080
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        2416
      ],
      "typeVersion": 1,
      "id": "e2f792f1-1e0c-4c33-bbf6-767427f875ba",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "s/assign_publications",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        2880
      ],
      "id": "ea4e3521-17cf-4452-84d7-5343d301c54e",
      "name": "Webhook2",
      "webhookId": "f1c6bc81-e009-40d4-a746-41220389f1b8"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "auth_token",
        "key": "=token_news_{{ $json.scheme_name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        528,
        2672
      ],
      "id": "5a97daa8-bfd8-4818-aa06-2507e7996db8",
      "name": "Получение токена",
      "credentials": {
        "redis": {
          "id": "3yufaVYIxUGdqEs5",
          "name": "Redis account"
        }
      },
      "notes": "Запись в redis токена доступа к редактированию новостей. Отредактированная форма должна вернуть этот токен. \nТокен действует примерно 12 часов.\nУ каждого пользователя свой ключ."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6f6353cc-7a5a-4ec4-bbbe-9723f0d013da",
              "leftValue": "={{ $json.auth_token }}",
              "rightValue": "={{ $json.body.auth_token }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1024,
        2848
      ],
      "id": "03b8c0c7-dd8e-478e-8b26-621ca54a3963",
      "name": "Проверка токена"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import re\nfrom datetime import datetime, timedelta, timezone\n\n\n# Получаем все данные и параметры\ninput = _items[0][\"json\"]\n\n# Получаем требуемый чсовой пояс\ntime_zone = input[\"app_timezone\"]\n\ninput = input[\"body\"]\ninput.pop(\"auth_token\")  # Удаляем токен из ответа \n\n# Перебираем поля формы\n# Строим словарь объектов для обновления БД\nupdate_dict = {}\nfor field, value in input.items():\n  # Получаем значения из первых и вторых скобок. Пример: articles[285][text]\n  # {id: {name_field: volume}}\n  pattern = r\"articles\\[(\\d+)\\]\\[(\\w+)\\]\"\n  match = re.match(pattern, field)\n  if match:\n      id = match.group(1)\n      param = match.group(2)\n  else:\n    continue\n\n  # Подготовка названия и значения обновляемого поля для БД\n  if param == \"text\":\n    # Поле текста пропускаем, если оно пустое\n    if not value:\n      continue\n    param = \"news_summary_text\"\n    \n  if param == \"digest\":\n    # Присутствует, значит добавлено в дайджест, нужно записать дату\n    value = datetime.now().strftime(\"%Y-%m-%d %H:%M\")\n    param = \"news_summary_date_digest\"\n    \n  if param == \"time\":\n    # Преобразуем в строку для Postgres и приводим к часовому поясу UTC\n    if not value:\n      continue\n      \n    value = value.replace(\"T\", \" \")  # → \"2025-12-11 22:32\"\n    # парсим без таймзоны\n    local_dt = datetime.strptime(value, \"%Y-%m-%d %H:%M\")\n    # добавляем информацию о том, что это время в +3\n    local_dt = local_dt.replace(tzinfo=timezone(timedelta(hours=time_zone)))\n    # переводим в UTC\n    value = local_dt.astimezone(timezone.utc).strftime(\"%Y-%m-%d %H:%M\")\n    \n    param = \"news_summary_date_published\"\n    \n  if param == \"delete\":\n    param = \"news_summary_disable\"\n    \n  # если id ещё нет в словаре — создаём пустой словарь\n  if id not in update_dict:\n      update_dict[id] = {}\n  # добавляем пару name: volume\n  update_dict[id][param] = value\n\n# Переводим в нужный формат\nupdate_list = []\nfor id, fields in update_dict.items():\n  fields[\"news_summary_id\"] = id\n  update_list.append({\"json\": fields})\n  \nreturn update_list\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        2848
      ],
      "id": "adb65a2c-bb85-4ae2-97d4-866d0da670c3",
      "name": "Парсинг ответа формы",
      "notesInFlow": true,
      "notes": "Определяет клиента и имя его схемы в БД по названию воркфлоу. Если не определится (в названии нет _) выведет ошибку. \nРазбирает поля статей переданные из формы, определяет какие должны меняться, создает значения (если нужно) и готовит массив полей для обновления для каждой статьи."
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "={{ $('Определение клиента 4').item.json.scheme_name }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "news_summary",
          "mode": "list",
          "cachedResultName": "news_summary"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "news_summary_disable": false
          },
          "matchingColumns": [
            "news_summary_id"
          ],
          "schema": [
            {
              "id": "news_summary_id",
              "displayName": "news_summary_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "news_summary_link",
              "displayName": "news_summary_link",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "news_summary_text",
              "displayName": "news_summary_text",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "news_summary_title",
              "displayName": "news_summary_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "news_summary_content",
              "displayName": "news_summary_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "news_summary_image",
              "displayName": "news_summary_image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "news_summary_date_digest",
              "displayName": "news_summary_date_digest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "news_summary_date_published",
              "displayName": "news_summary_date_published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "news_summary_created_at",
              "displayName": "news_summary_created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "news_summary_disable",
              "displayName": "news_summary_disable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1456,
        2848
      ],
      "id": "7383b81d-8ee7-4ad2-aa31-8a3f63a5365d",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "MfAbjD5qwZeFYS7N",
          "name": "БД Supabase"
        }
      }
    },
    {
      "parameters": {
        "content": "## Общая схема работы\n1. Ветка Чтение RSS лент запускается по расписанию раз в 2 часа и обновляет список новостей в таблице Новость одной строкой (news_summary). RSS ленты для отслеживания вносятся в ручную в таблицу RSS ленты (news_rss_channels).\n2. Пользователь в любое время переходит по ссылке подобной `https://n8n.avdivo.ru/webhook/avdivo/news_authorize`, где avdivo - это логин пользователя и перенаправляется по адресу `https://n8n.avdivo.ru/webhook/avdivo/get_list` в ветку Авторизация, где производит планирование публикации новостей и дайджеста. \n3. Пункт 2 может быть полностью или частично заменен агентом, который сделает это автоматически. \n4. После внесения изменений данные в таблице обновляются веткой Правка статей `https://n8n.avdivo.ru/webhook/avdivo/assign_publications`. \n5. Затем запускается ветка Подготовка публикаций. Она происходит в автоматическом режиме, собирая одну статью для дайджеста и подготавливая по одной для каждой новости запланированной к публикации. Подготовленные статьи вносятся в таблицу с планом публикаций publication и помечаются после этого в таблице news_summary.\n6. Раз в 15 минут происходит проверка необходимости публикации новостей веткой Публикация. Статьи, чье время публикации прошло или наступило, но они еще не опубликованы (что выясняется по таблице publication) отправляются для вывода в ТГ, после чего отмечаются опубликованными и более не рассматриваются.\n",
        "height": 688,
        "width": 448,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1232,
        1184
      ],
      "typeVersion": 1,
      "id": "ff37a1f7-fc75-412e-bdd0-ee8481f3d7b2",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "={{ $json.scheme_name }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "news_summary",
          "mode": "list",
          "cachedResultName": "news_summary"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "news_summary_date_digest",
              "condition": "IS NOT NULL"
            },
            {
              "column": "news_summary_digest",
              "value": "FALSE"
            },
            {
              "column": "news_summary_disable",
              "value": "FALSE"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "news_summary_created_at",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        992,
        3184
      ],
      "id": "85c0bff9-bd27-4c71-8f7b-7d2099ea3c0e",
      "name": "Новости для дайджеста",
      "credentials": {
        "postgres": {
          "id": "MfAbjD5qwZeFYS7N",
          "name": "БД Supabase"
        }
      },
      "notes": "Выбирает новости (одной строкой), которые еще не были включены в дайджест, не завершенные и имеют дату в поле даты публикации. Это должны быть сегодняшние новости или пропущенные более старые."
    },
    {
      "parameters": {
        "language": "python"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        3184
      ],
      "id": "4e6addc1-cfb2-4bac-9ae4-9a6eaab262ff",
      "name": "Создание дайджеста",
      "onError": "continueErrorOutput",
      "notes": "Формирует статью с подборкой коротких новостей с разными маркерами в формате HTML. Для даты публикации берем дату любой новости из переданных. Еще передаем id включенных в дайджест новостей. Экранируем спецсимволы в текстах."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "BEGIN;\n\nINSERT INTO {{ $('Определение клиента 5').first().json.scheme_name }}.publication \n  (publication_title, publication_text, publication_date)\nVALUES \n  (\n    '{{ $json.publication_title }}',\n    '{{ $json.publication_text }}',\n    '{{ $json.publication_date }}'\n  );\n\nUPDATE {{ $('Определение клиента 5').first().json.scheme_name }}.news_summary\nSET news_summary_digest = TRUE\nWHERE news_summary_id IN ({{ $json.ids_complite.join(\",\") }});\n\nCOMMIT;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1408,
        3184
      ],
      "id": "2077db4f-adfa-4e26-8e80-a7e1d4c62f48",
      "name": "Отправка дайджеста в публикацию",
      "credentials": {
        "postgres": {
          "id": "MfAbjD5qwZeFYS7N",
          "name": "БД Supabase"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        80,
        4352
      ],
      "id": "2106449f-ccce-4c36-8f49-cd6a59c94290",
      "name": "Перебор статей по одной1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "={{ $json.scheme_name }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "news_summary",
          "mode": "list",
          "cachedResultName": "news_summary"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "news_summary_date_published",
              "condition": "IS NOT NULL"
            },
            {
              "column": "news_summary_published",
              "value": "FALSE"
            },
            {
              "column": "news_summary_disable",
              "value": "FALSE"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "news_summary_created_at",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        992,
        3376
      ],
      "id": "19796eb4-878d-4b55-8453-eac477179bf2",
      "name": "Выбор статей для публикации",
      "credentials": {
        "postgres": {
          "id": "MfAbjD5qwZeFYS7N",
          "name": "БД Supabase"
        }
      },
      "notes": "Выбирает новости (одной строкой), которые еще не были включены в дайджест, не завершенные и имеют дату в поле даты публикации. Это должны быть сегодняшние новости или пропущенные более старые."
    },
    {
      "parameters": {
        "url": "={{ $json.news_summary_link }}",
        "options": {}
      },
      "id": "6d250dd4-f943-40d7-a70d-45bda140eac1",
      "name": "Получение HTML статей",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1200,
        3376
      ],
      "typeVersion": 4.2,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "={{ $json.news_summary_title }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a6a1ff0e-08e4-4f5b-a7c4-797fcc7c906d",
      "name": "Название статьи",
      "type": "n8n-nodes-base.html",
      "position": [
        256,
        3792
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "BEGIN;\n\n-- 1. Создаем схему, если ее нет\nCREATE SCHEMA IF NOT EXISTS {{ $json.scheme_name }};\n\n-- 2. Создаем таблицу списка rss каналов схеме, если ее нет\nCREATE TABLE IF NOT EXISTS {{ $json.scheme_name }}.news_rss_channels (\n    news_rss_id SERIAL PRIMARY KEY,                                -- идентификатор\n    news_rss_url TEXT NOT NULL UNIQUE,                             -- ссылка на ленту\n    news_rss_short VARCHAR(100) NOT NULL DEFAULT 'contentSnippet', -- поле из RSS Read для дайджеста\n    news_rss_title VARCHAR(255),                                   -- CSS селектор для названия\n    news_rss_content VARCHAR(255),                                 -- CSS селектор для статьи\n    news_rss_image VARCHAR(255),                                   -- CSS селектор для изображения\n    news_rss_created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,       -- дата создания/изменения\n    news_rss_disable BOOLEAN NOT NULL DEFAULT FALSE                -- True = не использовать\n);\n\n-- 3. Создаем таблицу выбора новостей в схеме, если ее нет\nCREATE TABLE IF NOT EXISTS {{ $json.scheme_name }}.news_summary (\n    news_summary_id SERIAL PRIMARY KEY,                            -- идентификатор\n    news_summary_link TEXT NOT NULL UNIQUE,                        -- ссылка на саму новость\n    news_summary_text VARCHAR(500) NOT NULL,                       -- новость одной строкой (анонс)\n    news_summary_title VARCHAR(255),                               -- CSS селектор для поиска названия\n    news_summary_content VARCHAR(255),                             -- CSS селектор для поиска статьи\n    news_summary_image VARCHAR(255),                               -- CSS селектор для поиска изображения\n    news_summary_date_digest TIMESTAMP,                            -- дата публикации в дайджесте\n    news_summary_digest BOOLEAN DEFAULT FALSE,                     -- добавлено в статью дайджеста\n    news_summary_date_published TIMESTAMP,                         -- дата публикации статьи\n    news_summary_published BOOLEAN DEFAULT FALSE,                  -- создана статья\n    news_summary_created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,   -- дата добавления статьи\n    news_summary_disable BOOLEAN DEFAULT FALSE                     -- не отображать для выбора публикации\n);\n\n-- 4. Создаем таблицу публикации статей, если ее нет\nCREATE TABLE IF NOT EXISTS {{ $json.scheme_name }}.publication (\n    publication_id SERIAL PRIMARY KEY,                             -- идентификатор публикации\n    publication_title TEXT,                                        -- название публикации\n    publication_text TEXT,                                         -- текст публикации\n    publication_image TEXT,                                        -- ссылка на изображение\n    publication_date TIMESTAMP NOT NULL,                           -- дата запланированной публикации (не пустое)\n    publication_original TEXT,                                     -- ссылка на оригинал новости\n    publication_date_complete TIMESTAMP,                           -- реальная дата публикации\n    publication_created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP     -- дата создания записи\n);\n\nCOMMIT;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        112
      ],
      "id": "36784ad6-85cb-4a30-b1e1-27861def224e",
      "name": "Подготовка БД",
      "retryOnFail": true,
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "MfAbjD5qwZeFYS7N",
          "name": "БД Supabase"
        }
      },
      "notes": "Создает схему для пользователя, если ее нет и добавляет таблицы в БД для работы форкфлоу."
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        112
      ],
      "id": "7936a016-d283-4810-8564-19467ab7972d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## Инициализация база данных\nЗапустится через 5 секунд после старта, чтобы создать Схему и Таблицы в БД",
        "height": 320,
        "width": 736
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "a20b3093-abd7-4b32-b80c-27131a22fe31",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1232,
        4016
      ],
      "id": "cf378e9d-01c2-447c-a254-ac664f5cd1da",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        704,
        688
      ],
      "id": "96542945-4b6a-4861-a77e-c672eb98d348",
      "name": "Перебрать RSS ленты"
    },
    {
      "parameters": {
        "url": "={{ $json.news_rss_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        96,
        976
      ],
      "id": "f56d9dc4-ef60-4e95-899a-36556366809d",
      "name": "Чтение очередной RSS ленты",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Переведи текст.\nВерни новость одной строкой:\n- Переведи на РУССКИЙ язык!\n- Без абзацев.\n- Без дополнений, пояснений, только одна строка.\nНе применяй форматирование.\n\nТекст:\n {{ $json.output }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1296,
        688
      ],
      "id": "14dd954f-ffd1-433c-88dd-afe2d8b70652",
      "name": "Basic LLM Chain1",
      "retryOnFail": false,
      "onError": "continueErrorOutput",
      "notes": "Не удалось получить перевод статьи"
    },
    {
      "parameters": {
        "content": "https://www.technologyreview.com/feed/\nhttps://www.wired.com/feed/tag/ai/latest/rss\nhttps://www.artificialintelligence-news.com/feed/rss/\nhttps://www.theguardian.com/technology/artificialintelligenceai/rss\nhttps://futurism.com/categories/ai-artificial-intelligence/feed - отлично для дайджеста",
        "height": 192,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1584,
        272
      ],
      "typeVersion": 1,
      "id": "4ea7a62a-32e4-4996-bf27-8a0a7eb12586",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "={{ $('Определение клиента 1').first().json.scheme_name }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "news_rss_channels",
          "mode": "list",
          "cachedResultName": "news_rss_channels"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "news_rss_disable",
              "value": "False"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "news_rss_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        480,
        688
      ],
      "id": "ca969bc6-5c2a-4491-ab7c-54ca7dad8e8a",
      "name": "RSS и Параметры",
      "credentials": {
        "postgres": {
          "id": "MfAbjD5qwZeFYS7N",
          "name": "БД Supabase"
        }
      },
      "notes": "Извлекает из БД:\n- ссылку на RSS ленты\n- из какого поля ленты читать анонс новости\n- CSS селектор текста статьи\n- CSS селектор названия\n- CSS селектор изображения"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a55c0d3-045a-4a67-ba39-529fdc9354ca",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        960
      ],
      "id": "0a4e9527-7b76-4c9d-aac3-50c9e1eeaafa",
      "name": "link",
      "notes": "Передаем отдельно ссылку на новость"
    },
    {
      "parameters": {
        "model": "mistralai/mistral-small-24b-instruct-2501",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1296,
        864
      ],
      "id": "94beb465-88ce-423f-94d7-a3b9bffe770e",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "c5DK3KMrdVXRCOa2",
          "name": "News _avdivo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "49955f75-fae7-41ac-a7b9-57760d566e3e",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "d3b2586a-61ea-494b-9ab5-ef227d697b02",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2080,
        784
      ],
      "id": "49f0135f-8589-4e9b-9cbb-1bc6ca64f9bc",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1904,
        768
      ],
      "id": "0d674bff-f1fc-47cb-b932-8bdc06c55eda",
      "name": "Объединение текста и ссылки",
      "notes": "Принимает ссылку на статью и описание или ошибку и объединяет их в один элемент"
    },
    {
      "parameters": {
        "chatId": "249503190",
        "text": "=Для пользователя \"{{ $items(\"Определение клиента 1\").first().json[\"scheme_name\"] }}\" есть не обработанные моделью данные для выбора новостей в Чтении RSS лент. Нужно проверить работу модели.",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2288,
        880
      ],
      "id": "b25ef257-f027-4208-a0d5-71036b383c42",
      "name": "Сообщение об ошибке",
      "webhookId": "41d6117d-fcbd-43b6-bf18-84eb984c26cb",
      "retryOnFail": false,
      "credentials": {
        "telegramApi": {
          "id": "sQA5ZULLYOe0BY8p",
          "name": "Ошибки приложений"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "={{ $items(\"Определение клиента 1\").first().json[\"scheme_name\"] }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "news_summary",
          "mode": "list",
          "cachedResultName": "news_summary"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "news_summary_link": "={{ $json.link }}",
            "news_summary_text": "={{ $json.output }}",
            "news_summary_title": "={{ $('Перебрать RSS ленты').first().json.news_rss_title }}",
            "news_summary_content": "={{ $('Перебрать RSS ленты').first().json.news_rss_content }}",
            "news_summary_image": "={{ $('Перебрать RSS ленты').first().json.news_rss_image }}",
            "news_summary_disable": false
          },
          "matchingColumns": [
            "news_summary_link"
          ],
          "schema": [
            {
              "id": "news_summary_id",
              "displayName": "news_summary_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "news_summary_link",
              "displayName": "news_summary_link",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "news_summary_text",
              "displayName": "news_summary_text",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "news_summary_title",
              "displayName": "news_summary_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "news_summary_content",
              "displayName": "news_summary_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "news_summary_image",
              "displayName": "news_summary_image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "news_summary_date_digest",
              "displayName": "news_summary_date_digest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "news_summary_date_published",
              "displayName": "news_summary_date_published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "news_summary_created_at",
              "displayName": "news_summary_created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "news_summary_disable",
              "displayName": "news_summary_disable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "skipOnConflict": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2288,
        688
      ],
      "id": "e6262ce3-e3c9-4393-b052-f78c8b0cc30a",
      "name": "Запись анонсов в БД",
      "credentials": {
        "postgres": {
          "id": "MfAbjD5qwZeFYS7N",
          "name": "БД Supabase"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import re\n\n\ndef fix_markdown(string):\n  \"\"\"\n  Экранирует все специальные символы для Telegram Markdown V2 с помощью регулярного выражения.\n  \"\"\"\n  return re.sub(r\"([][*()~`>#+\\-=|{}.!_])\", r\"\\\\\\1\", string)\n\n# Экранируем символы для вывода в ТГ, обрезаем до 4000 символов\nresults = []  # Собирает массив статей\nfor item in _items:\n  result = \"\"  # Собирает одну статью\n  # input_text = fix_markdown(item.get(\"json\", {}).get(\"text\", \"\")[0:4000])\n  input_text = item.get(\"json\", {}).get(\"text\", \"\")[0:600].replace(\"\\\\\", \"\")  # Удаляет обратные слэши и обрезает.\n  results.append({\"json\": {\"output\": input_text}})\n\nreturn results\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        688
      ],
      "id": "052452bc-90e3-48fb-bab6-b2f926c6e3d1",
      "name": "Сокращение текстов",
      "notes": "Экранирование не допустимых в markdown ТГ символов отключено"
    },
    {
      "parameters": {
        "content": "## Чтение RSS лент\nПодготовка таблицы предварительного планирования публикаций (Новость одной строкой (news_summary))",
        "height": 784,
        "width": 2752
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        544
      ],
      "typeVersion": 1,
      "id": "cf6e7e3c-1043-43a3-8e3a-c435731edff1",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Модели\nmistralai/mistral-small-24b-instruct-2501"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2192,
        272
      ],
      "typeVersion": 1,
      "id": "2007fc70-0be7-430a-a0a5-6c59dabbab82",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1392,
        3568
      ],
      "id": "5bc0b778-939f-4bbf-b20e-781d0b8e91cd",
      "name": "Добавление статей в массив"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1ac1bfdd-cd55-4598-9ffd-f559b47d1091",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        3568
      ],
      "id": "6c4bcd34-dd17-45ea-971a-2db391c520c6",
      "name": "Фильтрация ошибок загрузки статей"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "publication_image",
              "cssSelector": "={{ $json.news_summary_image }}",
              "returnValue": "attribute",
              "attribute": "src"
            }
          ]
        },
        "options": {}
      },
      "id": "2266c428-fef5-45c3-8763-0cb80c26f524",
      "name": "Изображение",
      "type": "n8n-nodes-base.html",
      "position": [
        2032,
        4272
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6311476f-8395-4a3d-bc21-8ea38f0eceb1",
              "name": "publication_date",
              "value": "={{ $json.news_summary_date_published }}",
              "type": "string"
            },
            {
              "id": "f3828f34-ffa2-4001-8039-597bafaec58e",
              "name": "publication_original",
              "value": "={{ $json.news_summary_link }}",
              "type": "string"
            },
            {
              "id": "ed9de2bc-3f74-43a2-84f7-036d9169c908",
              "name": "news_summary_id",
              "value": "={{ $json.news_summary_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2208,
        4368
      ],
      "id": "c607bd26-c218-4265-9ac1-c38159c0f10f",
      "name": "Дополнительно"
    },
    {
      "parameters": {
        "model": "mistralai/mistral-small-24b-instruct-2501",
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        688,
        4064
      ],
      "id": "ebd63b6b-7e91-4166-892c-04478d0bbd68",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "c5DK3KMrdVXRCOa2",
          "name": "News _avdivo"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ты редактор - переводчик.\nПереведи текст на русский язык. \nНе применяй форматирование. Верни только строку.\n\nТекст:\n{{ $json.title }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        688,
        3920
      ],
      "id": "8c3671c1-40a2-4fea-9319-0321660b8e3a",
      "name": "Перевод названия",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "mistralai/mistral-small-24b-instruct-2501",
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1600,
        4176
      ],
      "id": "4a535ee3-e257-4a0d-9efa-cf2d369b45ee",
      "name": "OpenRouter Chat Model4",
      "credentials": {
        "openRouterApi": {
          "id": "c5DK3KMrdVXRCOa2",
          "name": "News _avdivo"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ты редактор - переводчик. Твоя статья сразу идет в печать.\n- Выполни перевод на русский.\n- Сократи  и перефразируй текст, оставь только суть\n- Сделай текст понятным, читаемым и интересным для обывателя\n- Длина статьи не более {{ $json.text_len }} символов.\n- Добавь смайлики.\n- Удали рекламные вставки и другие тексты и символы не относящиеся к статье.\n- Не применяй MD форматирование (не нужно *) - чистый текст с абзацами.\n- Добавь в конце текста 2 наиболее релевантных хэштэга отступив от основного текста \\n\\n\nТекст:\n{{ $('Текст статьи').first().json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1536,
        4032
      ],
      "id": "e6c3dd31-12c9-42a3-8a9d-411933ebc129",
      "name": "Перевод текста",
      "retryOnFail": true,
      "maxTries": 3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": "={{ $json.news_summary_content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "19305a37-8784-4f14-b6a0-9e15bff18acf",
      "name": "Текст статьи",
      "type": "n8n-nodes-base.html",
      "position": [
        608,
        4208
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1392,
        4032
      ],
      "id": "b7a6927b-23b3-443b-bbb8-5de2ca3b7d14",
      "name": "pass"
    },
    {
      "parameters": {
        "content": "## Обработка текста\nЛимит на размер статьи изначально задается нодами: Установка длины текста, Ограничение размера статьи.  Может быть заменено на чтение значения из БД.\nПосле получения перевода длина текста сравнивается с удвоенным изначальным лимитом, минус длина заголовка (лимит задается в количестве символов для модели, но поскольку она не может четко его соблюдать, он задается изначально меньше в 2.5 раза, возможно для разных моделей этот показатель нужно менять). \nЕсли длина текста окажется больше, лимит (указываемый модели) уменьшается при каждой итерации на 100 символов. Таким образом предотвращается зацикливание.",
        "height": 240,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3008,
        4080
      ],
      "typeVersion": 1,
      "id": "2b203353-652c-43f9-89b8-20ea2b0832c2",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "text_len",
        "key": "=token_news_text_limit_{{ $('Определение клиента 5').first().json.scheme_name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        928,
        4208
      ],
      "id": "445a3234-2f63-44a3-9110-765e99ecad16",
      "name": "Ограничение размера статьи",
      "credentials": {
        "redis": {
          "id": "3yufaVYIxUGdqEs5",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=token_news_text_limit_{{ $('Определение клиента 5').first().json.scheme_name }}",
        "value": "=400",
        "expire": true,
        "ttl": 43200
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        768,
        4208
      ],
      "id": "e92825d8-1dae-4e8f-8a85-6f3c682648cc",
      "name": "Установка размера статьи",
      "credentials": {
        "redis": {
          "id": "3yufaVYIxUGdqEs5",
          "name": "Redis account"
        }
      },
      "notes": "Ограничение длины текста для LLM"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=token_news_text_limit_{{ $('Определение клиента 5').first().json.scheme_name }}",
        "value": "=",
        "expire": true,
        "ttl": 43200
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2176,
        4032
      ],
      "id": "e1beb9c4-ba29-4a45-ac3c-75d001360291",
      "name": "Обновляем лимит размера статьи",
      "credentials": {
        "redis": {
          "id": "3yufaVYIxUGdqEs5",
          "name": "Redis account"
        }
      },
      "notes": "Ограничение длины текста для LLM"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6ae0c751-d478-48eb-bb15-5b139466a3a2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b960a723-44dc-4b75-9063-5428046fcc0b",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "ok",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e2dff7a3-3094-4ade-b11e-dd44614b4ec3",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "repeat",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2352,
        3936
      ],
      "id": "a2acfb29-9a6b-4ba2-ae1d-4089c6e5226d",
      "name": "Роутер"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3024,
        3792
      ],
      "id": "42b6b9b8-16d2-4fde-88a8-71a5432e3ff8",
      "name": "Сборка статьи"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Функция экранирует некоторые символы (такая же функция используется в обработке заголовка)\ndef sql_escape(value: str) -> str:\n    return value.replace(\"'\", \"''\").replace(\"\\\\\", \"\\\\\\\\\")\n\n\n# Получаем все данные\ninput = _items[0][\"json\"]\n\ntext_len = 0\n# Длина заголовка (с запасом на тэги и спецсимволы)\ntitle_len = len(input.get(\"title\", \"\")) + 20\n# Получаем исходныйлимит на длину текста\ntext_limit = int(input[\"text_len\"] * 2.5) - title_len\n# Получаем текущий лимит\ntext_limit_now = input[\"text_limit_now\"]\n\n# Если не вернул ошибку узнаем длину ответа\nif not input[\"error\"]:\n  text = input.get(\"text\", \"\")\n  # Экранируем некоторые символы\n  text = sql_escape(text)\n  text_len = len(text)\n\n# Если длина текста в порядке возвращаем его и status=Ok\nif text_len > 10 and text_len <= text_limit:\n  return [{\"json\": {\"text\": text, \"status\": \"ok\", \"text_len\": text_limit_now}}]\n\n# Если возникла любая проблема, проверяем счетчик проблем\n# Счетчиком служит текущее ограничение на длину текста\n# Если оно слишком малое - это уже странно\nif text_limit_now < 0:\n  # Счетчик ошибок превысил лимит\n  return [{\"json\": {\"status\": \"error\", \"text_len\": text_limit_now}}]\n  \n# Если лимит еще не превышен повторяем попытку перевода\ntext_limit_now -= 100\nreturn [{\"json\": {\"status\": \"repeat\", \"text_len\": text_limit_now}}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        4032
      ],
      "id": "34f0dcbe-2362-42c1-b5b6-74012ae9cdf6",
      "name": "Контроль LLM",
      "notes": "Определяет ошибки модели, контролирует длину текста, ограничивает количество попыток обработки текста. Дает команду роутеру что далше делать. Экранирует спецсимволы."
    },
    {
      "parameters": {
        "language": "python"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3008,
        4368
      ],
      "id": "6dac46ff-a706-4c54-a085-5937a4d4e2b1",
      "name": "Контроль сборки статьи",
      "onError": "continueErrorOutput",
      "notes": "Проверяет наличие и заполнение ключевых полей публикации и собирает массив. Если не все в порядке - переходит к следующему элементу"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {
          "fuzzyCompare": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1216,
        4032
      ],
      "id": "58753b59-9915-47c2-a619-ba1747917e16",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "BEGIN;\n\nINSERT INTO {{ $('Определение клиента 5').first().json.scheme_name }}.publication \n  (publication_title, publication_text, publication_image, publication_date, publication_original)\nVALUES \n  ('{{$json.publication_title}}', '{{$json.publication_text}}', '{{$json.publication_image}}', '{{$json.publication_date}}', '{{$json.publication_original}}');\n\nUPDATE {{ $('Определение клиента 5').first().json.scheme_name }}.news_summary\nSET news_summary_published = TRUE\nWHERE news_summary_id = {{$json.news_summary_id}};\n\nCOMMIT;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3440,
        4432
      ],
      "id": "46fc4bff-0b14-4684-8dc5-677cbde6e6af",
      "name": "Сохранение статей в БД",
      "credentials": {
        "postgres": {
          "id": "MfAbjD5qwZeFYS7N",
          "name": "БД Supabase"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Сохранение статей в таблице publication и отметка, что они сохранены в таблице news_summary. Выполняется в рамках транзакции."
    },
    {
      "parameters": {
        "chatId": "249503190",
        "text": "=Workflow: {{ $workflow.name }}\nNode:     Сохранение статей в БД\n\nОшибка при выполнении запроса.\n---",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3824,
        4416
      ],
      "id": "45324bfc-d4fa-4780-952e-5943d0189d2e",
      "name": "Отчет об ошибках сохранения в БД",
      "webhookId": "8c151408-f41a-413a-9aa9-25993f7c567e",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "sQA5ZULLYOe0BY8p",
          "name": "Ошибки приложений"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1ac1bfdd-cd55-4598-9ffd-f559b47d1091",
              "leftValue": "={{ $json.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3616,
        4432
      ],
      "id": "965e97b2-e8b1-4eb8-b8fa-1b75b4efd1a0",
      "name": "Фильтрация ошибок сохранения в БД"
    },
    {
      "parameters": {
        "chatId": "249503190",
        "text": "=Workflow: {{ $workflow.name }}\nNode:     Контроль сборки статьи\n\n{{ $json.error }}\n---",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3200,
        4464
      ],
      "id": "c476ec79-da19-4722-a02f-8bbeb23a606c",
      "name": "Отчет о ошибках контроля статей",
      "webhookId": "8c151408-f41a-413a-9aa9-25993f7c567e",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "sQA5ZULLYOe0BY8p",
          "name": "Ошибки приложений"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "249503190",
        "text": "=Workflow: {{ $workflow.name }}\nNode:     Перевод текста\n\nМодель не обработала текст статьи.\n---",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2512,
        3856
      ],
      "id": "592a6d1b-2fd3-494f-ac24-5e769ffbc31f",
      "name": "Отчет об ошибках обработки текста",
      "webhookId": "8c151408-f41a-413a-9aa9-25993f7c567e",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "sQA5ZULLYOe0BY8p",
          "name": "Ошибки приложений"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "249503190",
        "text": "=Workflow: {{ $workflow.name }}\nNode:     Получение HTML статей\n\nНе удалось получить текст статьи:\n{{ $json.news_summary_link }}\n---",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1824,
        3584
      ],
      "id": "8cbf079f-d810-4335-81ee-73694b94d3fc",
      "name": "Отчет об ошибках загрузки статей",
      "webhookId": "8c151408-f41a-413a-9aa9-25993f7c567e",
      "notesInFlow": false,
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "sQA5ZULLYOe0BY8p",
          "name": "Ошибки приложений"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "249503190",
        "text": "=Workflow: {{ $workflow.name }}\nNode:     Отправка дайджеста в публикацию\n\nОшибка при выполнении запроса.\n---",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1808,
        3168
      ],
      "id": "42c6d830-d151-4067-a30b-6ffc82001949",
      "name": "Отчет об ошибках сохранения в БД1",
      "webhookId": "8c151408-f41a-413a-9aa9-25993f7c567e",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "sQA5ZULLYOe0BY8p",
          "name": "Ошибки приложений"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1ac1bfdd-cd55-4598-9ffd-f559b47d1091",
              "leftValue": "={{ $json.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        3184
      ],
      "id": "20596239-dbf2-4541-bcbb-281fecca2805",
      "name": "Фильтрация ошибок сохранения в БД1"
    },
    {
      "parameters": {
        "content": "## Подготовка публикаций\nПодготовка дайджеста и новостных статей, запланированных для публикации\nи сохранение их в таблице publication.",
        "height": 1600,
        "width": 4080
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        3152
      ],
      "typeVersion": 1,
      "id": "59ea941b-2135-4715-b9a5-cc4b9404936f",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Готовим список url\nurls = []\nfor item in _items:\n  try:\n    urls.append(f\"'{item[\"json\"][\"link\"]}'\")\n  except:\n    pass\nreturn [{\"json\": {\"urls\": urls}}]\n    "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        976
      ],
      "id": "59cb1fe2-e17b-4928-bb73-3b0f1d5c94a3",
      "name": "Список ссылок на статьи",
      "notes": "Создаем список url полученных статей для фильтрации"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM {{ $json.scheme_name }}.publication\nWHERE publication_date <= NOW()\n  AND publication_date_complete IS NULL;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        432,
        4912
      ],
      "id": "7acbf28e-5fdf-41c1-9e33-eccb250f3210",
      "name": "Статьи для публикации",
      "credentials": {
        "postgres": {
          "id": "MfAbjD5qwZeFYS7N",
          "name": "БД Supabase"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1008,
        4912
      ],
      "id": "d3a43107-1525-40fa-ae71-2689103103c3",
      "name": "Объединяем текст и изображение1"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Подготовка текста статей к печати\ntexts = []\nfor item in _items:\n  input = item[\"json\"]\n  # ИСПРАВЛЕННАЯ СТРОКА НИЖЕ\n  text = f\"<b>{input.get('publication_title', '')}</b>\\n\\n{input.get('publication_text', '')}\"\n  texts.append({\"json\": {\"article\": text, \"publication_id\": input[\"publication_id\"]}})\n  \nreturn texts\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        4832
      ],
      "id": "0240406d-107f-480f-923a-1aaab2b2681a",
      "name": "Подготовка текста к публикации"
    },
    {
      "parameters": {
        "url": "={{ $json.publication_image }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "bin_image"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        720,
        5008
      ],
      "id": "03ebb951-8af5-4c5f-8379-7844a423a199",
      "name": "Загрузка изображений",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "249503190",
        "binaryData": true,
        "binaryPropertyName": "bin_image",
        "additionalFields": {
          "caption": "={{ $json.article }}",
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1632,
        4816
      ],
      "id": "e811b0bf-7881-4640-827d-d70b7e14ac32",
      "name": "Статьи с фото",
      "webhookId": "41d6117d-fcbd-43b6-bf18-84eb984c26cb",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "Zdb8jAhQS8k9FG9p",
          "name": "AlexLena_bot"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "3ab2fef8-fa12-431b-90a0-40ed37316ba9",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        4912
      ],
      "id": "430a5d4e-717d-4efe-a09f-471ec8140371",
      "name": "Ищем новости без фото"
    },
    {
      "parameters": {
        "chatId": "249503190",
        "text": "={{ $json.article }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1632,
        5008
      ],
      "id": "a5b89bc4-457d-4e4d-81d4-1d90cafc7de2",
      "name": "Статьи без фото",
      "webhookId": "41d6117d-fcbd-43b6-bf18-84eb984c26cb",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "Zdb8jAhQS8k9FG9p",
          "name": "AlexLena_bot"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "249503190",
        "text": "=Workflow: {{ $workflow.name }}\nNode:     Публикация статей\n\nОшибка вывода в телеграмм.\nПубликация в таблице publication: {{ $json.publication_id }}\nОшибка: {{ $json.error }}\n---",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1856,
        4912
      ],
      "id": "8c864c2b-587f-4582-9864-756b44a334ce",
      "name": "Отчет об ошибках вывода",
      "webhookId": "8c151408-f41a-413a-9aa9-25993f7c567e",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "sQA5ZULLYOe0BY8p",
          "name": "Ошибки приложений"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "={{ $('Определение клиента 6').first().json.scheme_name }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "publication",
          "mode": "list",
          "cachedResultName": "publication"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "publication_id": "={{ $json.publication_id }}",
            "publication_date_complete": "={{ $now.toUTC().format(\"yyyy-MM-dd HH:mm\") }}"
          },
          "matchingColumns": [
            "publication_id"
          ],
          "schema": [
            {
              "id": "publication_id",
              "displayName": "publication_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "publication_title",
              "displayName": "publication_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "publication_text",
              "displayName": "publication_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "publication_image",
              "displayName": "publication_image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "publication_date",
              "displayName": "publication_date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "publication_original",
              "displayName": "publication_original",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "publication_date_complete",
              "displayName": "publication_date_complete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "publication_created_at",
              "displayName": "publication_created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1488,
        4912
      ],
      "id": "949e0e19-b7bc-4534-b111-ca966f0b549c",
      "name": "Помечаем как опубликованные",
      "credentials": {
        "postgres": {
          "id": "MfAbjD5qwZeFYS7N",
          "name": "БД Supabase"
        }
      }
    },
    {
      "parameters": {
        "language": "python"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        3776
      ],
      "id": "05660c14-b962-4d20-a5b1-3e9126e11436",
      "name": "Контроль"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "326830581",
        "binaryData": true,
        "binaryPropertyName": "bin_image",
        "additionalFields": {
          "caption": "={{ $json.article }}",
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        4720
      ],
      "id": "3f462f11-fda3-4bcd-882a-337c9e37f837",
      "name": "Для Лены",
      "webhookId": "41d6117d-fcbd-43b6-bf18-84eb984c26cb",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "Zdb8jAhQS8k9FG9p",
          "name": "AlexLena_bot"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "326830581",
        "text": "={{ $json.article }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        5104
      ],
      "id": "914728ff-ad61-442a-9168-f01fb5a70679",
      "name": "Тоже для лены",
      "webhookId": "41d6117d-fcbd-43b6-bf18-84eb984c26cb",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "Zdb8jAhQS8k9FG9p",
          "name": "AlexLena_bot"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Доступ к имени рабочего процесса осуществляется через _workflow.name\nconst workflow_name = $workflow.name;\n\n// Ожидаем имя типа \"DB_Initializer_Schema_HR\"\n\n// Есть ли в имени суффикс\nconst parsing = workflow_name.split('_');\nif (parsing.length < 2) {\n  throw new Error(\"Не указана схема для пользователя в названии процесса.\");\n}\n\nconst schema_name = parsing[1];\n\nreturn [{ json: { scheme_name: schema_name } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        112
      ],
      "id": "45b5da20-d9c3-443a-97b3-f0110f07f2f8",
      "name": "Определение клиента"
    },
    {
      "parameters": {
        "jsCode": "// Доступ к имени рабочего процесса осуществляется через _workflow.name\nconst workflow_name = $workflow.name;\n\n// Ожидаем имя типа \"DB_Initializer_Schema_HR\"\n\n// Есть ли в имени суффикс\nconst parsing = workflow_name.split('_');\nif (parsing.length < 2) {\n  throw new Error(\"Не указана схема для пользователя в названии процесса.\");\n}\n\nconst schema_name = parsing[1];\n\nreturn [{ json: { scheme_name: schema_name } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        688
      ],
      "id": "724d7c29-c909-49fa-bc60-a3ea1efa48a1",
      "name": "Определение клиента 1"
    },
    {
      "parameters": {
        "jsCode": "// Доступ к имени рабочего процесса осуществляется через _workflow.name\nconst workflow_name = $workflow.name;\n\n// Ожидаем имя типа \"DB_Initializer_Schema_HR\"\n\n// Есть ли в имени суффикс\nconst parsing = workflow_name.split('_');\nif (parsing.length < 2) {\n  throw new Error(\"Не указана схема для пользователя в названии процесса.\");\n}\n\nconst schema_name = parsing[1];\n\nreturn [{ json: { scheme_name: schema_name } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1648
      ],
      "id": "6cfa9e51-0e6e-4966-865a-1979744342dc",
      "name": "Определение клиента 2"
    },
    {
      "parameters": {
        "jsCode": "// Доступ к имени рабочего процесса осуществляется через _workflow.name\nconst workflow_name = $workflow.name;\n\n// Ожидаем имя типа \"DB_Initializer_Schema_HR\"\n\n// Есть ли в имени суффикс\nconst parsing = workflow_name.split('_');\nif (parsing.length < 2) {\n  throw new Error(\"Не указана схема для пользователя в названии процесса.\");\n}\n\nconst schema_name = parsing[1];\n\nreturn [{ json: { scheme_name: schema_name } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        2112
      ],
      "id": "2721718f-c2e1-4098-bca2-9a3c584c066f",
      "name": "Определение клиента 3"
    },
    {
      "parameters": {
        "jsCode": "// Доступ к имени рабочего процесса осуществляется через _workflow.name\nconst workflow_name = $workflow.name;\n\n// Ожидаем имя типа \"DB_Initializer_Schema_HR\"\n\n// Есть ли в имени суффикс\nconst parsing = workflow_name.split('_');\nif (parsing.length < 2) {\n  throw new Error(\"Не указана схема для пользователя в названии процесса.\");\n}\n\nconst schema_name = parsing[1];\n\nreturn [{ json: { scheme_name: schema_name } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        2736
      ],
      "id": "8211c7b3-c300-4a38-bfac-6c710c2356e1",
      "name": "Определение клиента 4"
    },
    {
      "parameters": {
        "jsCode": "// Доступ к имени рабочего процесса осуществляется через _workflow.name\nconst workflow_name = $workflow.name;\n\n// Ожидаем имя типа \"DB_Initializer_Schema_HR\"\n\n// Есть ли в имени суффикс\nconst parsing = workflow_name.split('_');\nif (parsing.length < 2) {\n  throw new Error(\"Не указана схема для пользователя в названии процесса.\");\n}\n\nconst schema_name = parsing[1];\n\nreturn [{ json: { scheme_name: schema_name } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        3280
      ],
      "id": "406ced7b-582b-40b7-8dde-a407cce97453",
      "name": "Определение клиента 5"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": ".attachment-post-thumbnail",
              "returnValue": "attribute",
              "attribute": "src"
            }
          ]
        },
        "options": {}
      },
      "id": "ee02ff3c-955e-45cd-88e5-d0c34c1783f6",
      "name": "Проверка",
      "type": "n8n-nodes-base.html",
      "position": [
        1344,
        304
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "=https://techcrunch.com/2026/01/08/openai-to-acquire-the-team-behind-executive-coaching-ai-tool-convogo/",
        "options": {}
      },
      "id": "7d6c8df8-024a-40c2-98fc-8a109e8b3ed9",
      "name": "Получение HTML статей1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1152,
        304
      ],
      "typeVersion": 4.2,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Поиск и заполнение css селекторов в статьях\n- Обратить внимание на настройку Extract HTML Content ноды: для поиска текста:  Return Value указать - Text, для изображения - Attribute и указать атрибут src.\n- В программе селекторы подставляются из таблицы news_rss_channels БД, где они должны быть записаны c точкой перед селектором.\n- Для проверки использовать эти ноды, в первой указать url статьи, во второй селектор и проверить настройки.",
        "height": 240,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1072,
        32
      ],
      "typeVersion": 1,
      "id": "7b7be6cf-5101-4e2d-a794-526694bf089b",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    news_summary_link\nFROM\n    {{ $('Определение клиента 1').first().json.scheme_name }}.news_summary\nWHERE\n    news_summary_link IN ({{ $json.urls.join(\",\") }});",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        496,
        976
      ],
      "id": "a3f220cb-f10f-4663-9d9c-a66c0661c05a",
      "name": "Извлекаем ссылки которые уже есть в БД",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MfAbjD5qwZeFYS7N",
          "name": "БД Supabase"
        }
      },
      "notes": "Извлекаем ссылки которые уже есть в БД"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Все статьи из ленты\nall_articles = _('Чтение очередной RSS ленты').all()\n\n# Ссылки на статьи, которые уже есть в БД\nexisting_links = [item.json[\"news_summary_link\"] for item in items if item.json.get(\"news_summary_link\")]\n\n# Оставляем только нужные статьи (которых еще нет)\nout_list = []\nfor article in all_articles:\n  if article.json.link not in existing_links:\n    out_list.append(article)\nreturn out_list"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        1168
      ],
      "id": "f2c7a362-bbac-4e89-9522-b589fcab9542",
      "name": "Статьи которых нет в БД py"
    },
    {
      "parameters": {
        "jsCode": "// Все статьи из ленты\nconst all_articles = $('Чтение очередной RSS ленты').all()\n\n// Ссылки на статьи, которые уже есть в БД\nconst existing_links = $input.all()\n  .map(item => item.json.news_summary_link)\n  .filter(link => link); // убираем undefined/null/пустые\n\n// Оставляем только нужные статьи (которых еще нет)\nconst out_list = all_articles.filter(article => \n  !existing_links.includes(article.json.link)\n);\n\n// Если статей нет — генерируем ошибку \nif (out_list.length === 0) { \n  throw new Error('Новостей нет'); \n}\n\nreturn out_list;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        976
      ],
      "id": "5ffa541b-6166-467d-85df-50ce08690c4a",
      "name": "Статьи которых нет в БД",
      "onError": "continueErrorOutput",
      "notes": "\nПринимает все полученные статьи и  ссылки на статьи, которые есть в БД\nВозвращает только те, которых нет в БД"
    },
    {
      "parameters": {
        "language": "python"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        496
      ],
      "id": "8472dc6d-17e2-4359-8437-2fb0b255c38b",
      "name": "Подготовка материалов для дайджеста py",
      "notes": "Сливает название и текст обрезанный до 500 символов"
    },
    {
      "parameters": {
        "jsCode": "// Получаем имя поля по которому будет готовиться анонс новости\nconst news_rss_short = $(\"Перебрать RSS ленты\").first().json.news_rss_short;\n\n// Собираем массив статей\nconst results = $input.all().map(item => {\n  const json = item.json;\n  const title = json[\"title\"] || \"\";\n  const text = json[news_rss_short] ? json[news_rss_short].substring(0, 500) : \"\";\n  const result = `${title}\\n${text}`;\n  return { json: { output: result } };\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        688
      ],
      "id": "279bbe99-680f-48bb-aff9-e21683110d40",
      "name": "Подготовка материалов для дайджеста",
      "notes": "Сливает название и текст обрезанный до 500 символов"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0241a5c8-47dd-49b1-9375-27d4708c5ef2",
              "name": "поле 1",
              "value": 1,
              "type": "number"
            },
            {
              "id": "5d1e212d-4d9c-4010-b1c5-62a298b26643",
              "name": "поле 2",
              "value": 2,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        4032
      ],
      "id": "3941ee93-ee77-4304-909b-068081165e83",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0241a5c8-47dd-49b1-9375-27d4708c5ef2",
              "name": "пользователь",
              "value": "Первый",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        4016
      ],
      "id": "c22bc325-30f6-4b9f-b681-3bda34259e9f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0241a5c8-47dd-49b1-9375-27d4708c5ef2",
              "name": "токен",
              "value": "токен",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        3888
      ],
      "id": "06a94474-2810-4fdb-a831-d47a5dbf5766",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba73c295-b9af-4a1c-863e-91c95b5d81f6",
              "name": "array",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "3493cf3e-4973-45e2-a442-cdde3482dbdd",
              "name": "пользователь",
              "value": "={{ $('Edit Fields1').item.json[\"пользователь\"] }}",
              "type": "string"
            },
            {
              "id": "d992dbf8-20eb-41eb-938e-856c9fb7f396",
              "name": "токен",
              "value": "={{ $('Edit Fields2').item.json[\"токен\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        4368
      ],
      "id": "7f25417f-96a3-4920-bdcc-6bbc8ea459c1",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import json\n\n\nout = []\ns = _items[0][\"json\"][\"array\"]\n\nreturn [{\"json\": {\"out\": s}}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        4368
      ],
      "id": "a049185e-357d-4022-8dba-20891ecccefe",
      "name": "Code in Python (Native)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM public.app\nWHERE app_name = 'news'\n  AND app_user_id = (\n    SELECT user_id\n    FROM public.\"user\"\n    WHERE user_login = '{{ $json.scheme_name }}'\n  );\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        2112
      ],
      "id": "66ef0b66-f31a-464b-b54f-f186ce96dcc2",
      "name": "Параметры приложения",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MfAbjD5qwZeFYS7N",
          "name": "БД Supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "89acf017-4d93-4968-a8e0-320a1e7e9c98",
              "name": "base_url",
              "value": "={{ $json.app_base_url }}",
              "type": "string"
            },
            {
              "id": "3493cf3e-4973-45e2-a442-cdde3482dbdd",
              "name": "scheme_name",
              "value": "={{ $('Определение клиента 3').first().json.scheme_name }}",
              "type": "string"
            },
            {
              "id": "627bd1be-71f4-429e-a724-8992923793a1",
              "name": "mode",
              "value": "={{ $json.app_mode }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        2208
      ],
      "id": "07a370e1-cf36-4f68-900f-92cc07f35ca1",
      "name": "Агрегатор",
      "notes": "Задает параметры скрипта"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad7eb20e-63d9-43b8-9510-4d6fae25f0ed",
              "name": "articles",
              "value": "={{ $input.all().map(item => item.json) }}",
              "type": "array"
            },
            {
              "id": "89acf017-4d93-4968-a8e0-320a1e7e9c98",
              "name": "base_url",
              "value": "={{ $('Параметры приложения').first().json.app_base_url }}",
              "type": "string"
            },
            {
              "id": "3493cf3e-4973-45e2-a442-cdde3482dbdd",
              "name": "scheme_name",
              "value": "={{ $('Определение клиента 3').first().json.scheme_name }}",
              "type": "string"
            },
            {
              "id": "627bd1be-71f4-429e-a724-8992923793a1",
              "name": "mode",
              "value": "={{ $('Параметры приложения').first().json.app_mode }}",
              "type": "string"
            },
            {
              "id": "4f27325a-9b2c-482c-b688-9f2083991557",
              "name": "timezone",
              "value": "={{ $('Параметры приложения').first().json.app_timezone }}",
              "type": "number"
            },
            {
              "id": "d26d84e1-f2af-48f6-b153-4de5a147d4f0",
              "name": "token",
              "value": "={{ $('Генерация токена').first().json.token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        2032
      ],
      "id": "fc72a11e-7f29-4f1e-9dae-0fa3a7ffd9ec",
      "name": "Агрегатор 1",
      "executeOnce": true,
      "notes": "Задает параметры скрипта"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM public.app\nWHERE app_name = 'news'\n  AND app_user_id = (\n    SELECT user_id\n    FROM public.\"user\"\n    WHERE user_login = '{{ $json.scheme_name }}'\n  );\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        528,
        2800
      ],
      "id": "f53294d4-ba96-4325-b0c4-0d8b166778c7",
      "name": "Параметры приложения 1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MfAbjD5qwZeFYS7N",
          "name": "БД Supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# В Python Node\nhtml = \"\"\"\n\n<!DOCTYPE html>\n<html lang=\"ru\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Задание выполнено</title>\n  <style>\n    body {\n      margin: 0;\n      height: 100vh;\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      font-family: system-ui, sans-serif;\n    }\n\n    h1 {\n      font-size: 3em;\n    }\n\n    /* Светлая тема */\n    @media (prefers-color-scheme: light) {\n      body { background-color: #ffffff; }\n      h1 { color: #222222; }\n    }\n\n    /* Тёмная тема */\n    @media (prefers-color-scheme: dark) {\n      body { background-color: #111111; }\n      h1 { color: #eeeeee; }\n    }\n  </style>\n</head>\n<body>\n  <h1>Готово</h1>\n</body>\n</html>\n\n\n\"\"\"\n\n# Вернём как output\nreturn {\n    \"body\": html\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        2848
      ],
      "id": "bbd00c6f-56b1-48c2-9605-f6a1b96495f6",
      "name": "HTML2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.body }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1840,
        2848
      ],
      "id": "3b8c4a60-c330-42aa-bc52-01472e384005",
      "name": "Готово",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "89acf017-4d93-4968-a8e0-320a1e7e9c98",
              "name": "title",
              "value": "={{ $('Merge').item.json.title }}",
              "type": "string"
            },
            {
              "id": "3493cf3e-4973-45e2-a442-cdde3482dbdd",
              "name": "text_len",
              "value": "={{ $('Ограничение размера статьи').item.json.text_len }}",
              "type": "number"
            },
            {
              "id": "627bd1be-71f4-429e-a724-8992923793a1",
              "name": "text_limit_now",
              "value": "={{ $('pass').item.json.text_len }}",
              "type": "number"
            },
            {
              "id": "4f27325a-9b2c-482c-b688-9f2083991557",
              "name": "text",
              "value": "={{ $json.text || \"\"}}",
              "type": "string"
            },
            {
              "id": "5dcca407-331a-452a-bb5c-f0be6aa97102",
              "name": "error",
              "value": "={{ $json.error || \"\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        4032
      ],
      "id": "65a12fb3-b7f6-4011-89db-a5bf67b8fbe2",
      "name": "Агрегатор ",
      "executeOnce": true,
      "notes": "Задает параметры скрипта"
    },
    {
      "parameters": {
        "jsCode": "// Доступ к имени рабочего процесса осуществляется через _workflow.name\nconst workflow_name = $workflow.name;\n\n// Ожидаем имя типа \"DB_Initializer_Schema_HR\"\n\n// Есть ли в имени суффикс\nconst parsing = workflow_name.split('_');\nif (parsing.length < 2) {\n  throw new Error(\"Не указана схема для пользователя в названии процесса.\");\n}\n\nconst schema_name = parsing[1];\n\nreturn [{ json: { scheme_name: schema_name } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        4912
      ],
      "id": "74d61ecd-35eb-4c8b-aa28-268cd4da8c3c",
      "name": "Определение клиента 6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.*, u.user_login \nFROM public.app AS a \nJOIN public.\"user\" AS u \n  ON a.app_user_id = u.user_id \nWHERE a.app_name = 'news' \n  AND u.user_login = '{{ $json.scheme_name }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        1648
      ],
      "id": "f5abd169-f47a-49ea-972e-55d6a540f932",
      "name": "Параметры приложения 2",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MfAbjD5qwZeFYS7N",
          "name": "БД Supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        816,
        2832
      ],
      "id": "ac603d74-d719-4b66-b016-522e7e73487a",
      "name": "Параметры и токен"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        48,
        688
      ],
      "id": "0eb11793-d114-4ea0-bfac-6cb263e8900b",
      "name": "Каждые 4 часа"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        4912
      ],
      "id": "a378bfea-a1ba-4c2c-ad08-4f9dc14b69d2",
      "name": "Каждые 15 минут"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "1V5Kup7MoOLhacSAl1odtps9IoFrk25FYw0b1SsCErJo",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=Название:\n{{ $json.title }}\n\nТекст:\n{{ $json.text }}\n\nОшибка:\n{{ $json.error }}\n\n{{ $now.format('dd.MM.yyyy HH.mm.ss') }}\n\n---------------------------------------------------------------------------------------------\n\n\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1648,
        3872
      ],
      "id": "0c660cfd-3518-4ce6-9a96-5602f624d1f9",
      "name": "Сохранение текстов",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "L624Ii6auyun1gBa",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "1V5Kup7MoOLhacSAl1odtps9IoFrk25FYw0b1SsCErJo",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=Название:\n{{ $json.title }}\n\nТекст:\n{{ $json.text }}\n\nОшибка:\n{{ $json.error }}\n\n{{ $now.format('dd.MM.yyyy HH.mm.ss') }}\n\n---------------------------------------------------------------------------------------------\n\n\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1920,
        3856
      ],
      "id": "45345c19-91c4-4483-8e77-792ada2eff2a",
      "name": "Сохранение текстов1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "L624Ii6auyun1gBa",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2528,
        1056
      ],
      "id": "d4bcfac7-1c47-4186-96fb-ebdcb33a3c54",
      "name": "Merge1",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        560,
        3280
      ],
      "id": "f674158b-ed08-42f2-b5ce-47cfb6565019",
      "name": "Каждые 1 часа"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fa088fe3-4545-4442-8e86-1dfe2e33b8c0",
              "leftValue": "={{ $json.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        3792
      ],
      "id": "cbc74f40-d841-4031-b516-17a65b1faf11",
      "name": "Пустой заголовок"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e39a0f71-79e2-431d-9a95-136e7e3704b9",
              "name": "text",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        3776
      ],
      "id": "eaa4ed2a-b702-47a3-8850-921bc7ecb5ac",
      "name": "text = \"\""
    }
  ],
  "pinData": {},
  "repo_name": "N8N",
  "repo_owner": "avdivo",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "none",
    "saveExecutionProgress": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2025-12-24T11:03:16.697Z",
      "createdAt": "2025-12-24T11:03:16.697Z",
      "role": "workflow:owner",
      "workflowId": "dw6dfsrfsej9e4v5",
      "projectId": "GcF8pQl3OQ6WizlQ"
    }
  ],
  "staticData": {
    "node:Заменить": {
      "recurrenceRules": [
        2
      ]
    },
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Запуск каждые 15 минут": {
      "recurrenceRules": []
    },
    "node:Заменить1": {
      "recurrenceRules": [
        0
      ]
    },
    "node:RSS тригер": {
      "lastItemDate": "2026-01-09T12:00:00.000Z"
    },
    "node:Каждые 4 часа": {
      "recurrenceRules": [
        8
      ]
    },
    "node:Каждые 2 часа": {
      "recurrenceRules": [
        4
      ]
    },
    "node:Каждые 15 минут": {
      "recurrenceRules": []
    },
    "node:Каждые 1 часа": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 7,
  "updatedAt": "2026-01-22T19:15:23.707Z",
  "versionId": "2fe0a752-45fd-406b-a915-803f42fa0aa5"
}