2025/12/Xv74VXyZbI92ayn2.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-13T14:03:57.477Z",
    "createdAt": "2026-01-13T14:03:52.488Z",
    "versionId": "3e4da736-1827-4c8c-9efd-14e9254b8ba2",
    "workflowId": "Xv74VXyZbI92ayn2",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "*"
          ],
          "additionalFields": {
            "chatIds": ""
          }
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -784,
          832
        ],
        "id": "1684eee6-16b4-4d08-b757-2ddf8960cd36",
        "name": "Telegram Trigger",
        "webhookId": "0f55084e-c453-4149-8627-94a97313c8b8",
        "credentials": {
          "telegramApi": {
            "id": "kc5OeK071IbNuD4O",
            "name": "Умный дом"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.message.from.id }}",
          "text": "Нажмите кнопку чтобы отобразить панель управления",
          "replyMarkup": "replyKeyboard",
          "replyKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "🔼 Показать кнопки 🔼",
                      "additionalFields": {}
                    }
                  ]
                }
              }
            ]
          },
          "replyKeyboardOptions": {
            "resize_keyboard": true
          },
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -112,
          640
        ],
        "id": "a65c52ed-568d-473f-aef9-146218d01e38",
        "name": "start",
        "webhookId": "9f534039-81ba-4071-8ae9-5ccc323cdd0c",
        "credentials": {
          "telegramApi": {
            "id": "kc5OeK071IbNuD4O",
            "name": "Умный дом"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.message.from.id }}",
          "text": "Все действия",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Спальня   🟢  ",
                      "additionalFields": {
                        "callback_data": "Спальня_on"
                      }
                    },
                    {
                      "text": "Спальня   🔴  ",
                      "additionalFields": {
                        "callback_data": "Спальня_off"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Зал             🟢  ",
                      "additionalFields": {
                        "callback_data": "Зал_on"
                      }
                    },
                    {
                      "text": "Зал             🔴  ",
                      "additionalFields": {
                        "callback_data": "Зал_off"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Коридор   🟢  ",
                      "additionalFields": {
                        "callback_data": "Коридор_on"
                      }
                    },
                    {
                      "text": "Коридор   🔴  ",
                      "additionalFields": {
                        "callback_data": "Коридор_off"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Ванная        🟢  ",
                      "additionalFields": {
                        "callback_data": "Ванная_on"
                      }
                    },
                    {
                      "text": "Ванная        🔴  ",
                      "additionalFields": {
                        "callback_data": "Ванная_off"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Кухня         🟢  ",
                      "additionalFields": {
                        "callback_data": "Кухня_on"
                      }
                    },
                    {
                      "text": "Кухня         🔴  ",
                      "additionalFields": {
                        "callback_data": "Кухня_off"
                      }
                    }
                  ]
                }
              },
              {},
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Шторы      🟢  ",
                      "additionalFields": {
                        "callback_data": "Шторы_on"
                      }
                    },
                    {
                      "text": "Шторы      🔴  ",
                      "additionalFields": {
                        "callback_data": "Шторы_off"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Пылесос   🟢  ",
                      "additionalFields": {
                        "callback_data": "Пылесос_on"
                      }
                    },
                    {
                      "text": "Пылесос   🔴  ",
                      "additionalFields": {
                        "callback_data": "Пылесос_off"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Выключить свет везде       🔴  ",
                      "additionalFields": {
                        "callback_data": "Свет_off"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Домофон   🏠  ",
                      "additionalFields": {
                        "callback_data": "Домофон_scenario"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -112,
          832
        ],
        "id": "adc64393-f26b-4edc-a098-1747d1a51cc6",
        "name": "Вывод кнопок",
        "webhookId": "6b2d1573-159e-4030-8ee6-40ac53afaf30",
        "credentials": {
          "telegramApi": {
            "id": "kc5OeK071IbNuD4O",
            "name": "Умный дом"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.message.text }}",
                      "rightValue": "/start",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "1a83bb80-1b44-4aff-be80-a966e097b3a6"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "58ef493f-c698-47ec-90df-f9fe09ee73c4",
                      "leftValue": "={{ $json.message.text }}",
                      "rightValue": "🔼 Показать кнопки 🔼",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          -336,
          816
        ],
        "id": "f1ed94e2-09b9-419b-b77b-3b87ace2399b",
        "name": "Маршрутизатор"
      },
      {
        "parameters": {
          "content": "## Телеграмм бот для управления устройствами умного дома\nВыводит в телеграмм список кнопок для включения и выключения отдельных устройств и кнопку выключения всего верхнего света",
          "width": 400
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -816,
          576
        ],
        "typeVersion": 1,
        "id": "7ef4c5f3-2492-4c5e-8c52-8047b64ff803",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "language": "pythonNative",
          "pythonCode": "# Выясняем кто что сделал и готовим данные для выполнения действия\n\n# Получаем данные из сообщения\nmessage = _items[0][\"json\"][\"callback_query\"]\n\n# Устройства\ndevices_id = {\n  \"Ванная\": \"2f9f9cc8-ada2-4bde-bd85-b9885ae28f36\",\n  \"Коридор\": \"65bcfad0-4759-4cb7-8654-7584b2fc96d0\",\n  \"Кухня\": \"a56d4cb7-621e-44ba-b825-4e9606a7acb4\",\n  \"Зал\": \"b0adbe30-5b28-40d1-9bf2-ba15aadd70bb\",\n  \"Спальня\": \"f6826740-39db-484e-9e3e-2b2a7ed2f5ee\",\n  \"Лента\": \"\",\n  \"Пылесос\": \"2d5b0ab8-7880-4d79-a368-6120be845bfc\",\n  \"Шторы\": \"0197d9e0-ca35-4ea2-a31a-51516c63cdfe\", \n  \"Домофон\": \"90632374-cc25-4911-81a7-5792fa888a16\"\n}\n\n# Только верхний свет\nlight_up = [\n  \"2f9f9cc8-ada2-4bde-bd85-b9885ae28f36\",  # Ванная\n  \"65bcfad0-4759-4cb7-8654-7584b2fc96d0\",  # Коридор\n  \"a56d4cb7-621e-44ba-b825-4e9606a7acb4\",  # Кухня\n  \"b0adbe30-5b28-40d1-9bf2-ba15aadd70bb\",  # Зал\n  \"f6826740-39db-484e-9e3e-2b2a7ed2f5ee\"   # Спальня\n]\n\nkey = message.get(\"data\")  # Пришло сообщение от кнопки\ndevice_action = key.split(\"_\")  # Устройство и действие\n\ndata = {}  # Ответ\nif len(device_action) == 2:\n  # Скорее всего нажата кнопка\n  action = None  # Действие\n  type = \"action\"\n  if device_action[0] in devices_id:\n    # Считаем что нажата кнопка\n    device_id = devices_id[device_action[0]]  # Название устройства\n    \n    if device_action[1] == \"off\":\n      # Выключение\n      action = False\n    elif device_action[1] == \"on\":\n      # Включение\n      action = True\n    elif device_action[1] == \"scenario\":\n      # Выполнение сценария\n      type = \"scenario\"\n      action = \"scenario\"\n      \n  else:\n    # Устройства нет в списке. Возможно это общая команда\n    if device_action[0] == \"Свет\":\n      # Общая команда для выключения света\n      data = []\n      for device_id in light_up:\n        cmd = {\n          \"type\": type,\n          \"action\": False,\n          \"device_id\": device_id,\n        }\n        data.append({\"json\": {\"data\": cmd}})\n      return data\n\n# Проверяем и формируем ответ\nif action is not None:\n  data = {\n    \"type\": type,\n    \"action\": action,\n    \"device_id\": device_id,\n  }\n\nreturn [{\"json\": {\"data\": data}}]"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -112,
          1024
        ],
        "id": "faa2fe4d-ff29-4aa4-8b45-f5ec60966799",
        "name": "Определение действия",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "https://api.iot.yandex.net/v1.0/user/info",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "OAuth y0__xCz9dpKGIv0OyDi3uOzFR-JFhcGUUpU-lK-xYzT8FIkJVEQ"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -800,
          304
        ],
        "id": "820a2b3e-02f9-44cb-824c-3157424eb65a",
        "name": "Информация об умном доме"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.iot.yandex.net/v1.0/devices/actions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "OAuth y0__xCz9dpKGIv0OyDi3uOzFR-JFhcGUUpU-lK-xYzT8FIkJVEQ"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n    \"devices\": [\n        {\n            \"id\": \"9af46f0f-c0b5-4604-9240-476eea453f8f\",\n            \"actions\": [\n                {\n                    \"type\": \"devices.capabilities.on_off\",\n                    \"state\": {\n                        \"instance\": \"on\",\n                        \"value\": true\n                    }\n                }\n            ]\n        }\n    ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -528,
          304
        ],
        "id": "66779012-0e0f-4ad1-afdb-15c69dd1dd04",
        "name": "Проба управления"
      },
      {
        "parameters": {
          "content": "## Управление \nДля выключения и включения менять true/false\n``` json\n\"state\": {\n    \"instance\": \"on\",\n    \"value\": true\n }\n```",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -560,
          64
        ],
        "typeVersion": 1,
        "id": "aaaa6db1-97e0-4726-a658-7a6a584e24c8",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## Яндекс\n\n### API Умный дом\nhttps://yandex.ru/dev/dialogs/smart-home/doc/ru/concepts/platform-protocol\n\n### Создание приложения\nhttps://oauth.yandex.ru/client/new/api\n\n### Статья про отладку токена (Debug Token): \nhttps://yandex.ru/dev/id/doc/ru/tokens/debug-token\n\n1. Зайти в аккаунт\n2. Перейти к созданию приложения\n3. Название - любое\n4. Доступ к данным\n    - iot: view - список устройств\n    - iot: control -  управление устройствами\n5. В поле Redirect URI введите значение\nhttps://oauth.yandex.ru/verification_code \n6. Создать приложение\n7. На новой странице копируем Client ID\n8. Переход по ссылке вида:\nhttps://oauth.yandex.ru/authorize?response_type=token&client_id=<идентификатор приложения>\n9. Копируем полученный токен, его используем для создания строки авторизации.\n",
          "height": 768,
          "width": 560
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1488,
          64
        ],
        "typeVersion": 1,
        "id": "6ed1ddf2-d908-4da1-8d7f-519ff9ad05ac",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.iot.yandex.net/v1.0/scenarios/90632374-cc25-4911-81a7-5792fa888a16/actions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "OAuth y0__xCz9dpKGIv0OyDi3uOzFR-JFhcGUUpU-lK-xYzT8FIkJVEQ"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          96,
          304
        ],
        "id": "e9e6716c-26ee-4702-8a34-fcda55cf654a",
        "name": "Проба управления1"
      },
      {
        "parameters": {
          "content": "## Выполнение сценария\nhttps://yandex.ru/dev/dialogs/smart-home/doc/ru/concepts/platform-scenario\n\nАдрес для запуска сценария: `https://api.iot.yandex.net/v1.0/scenarios/{scenario_id}/actions`\n\nPOST запрос без тела. Пример (для домофона): \n\nhttps://api.iot.yandex.net/v1.0/scenarios/90632374-cc25-4911-81a7-5792fa888a16/actions",
          "height": 272,
          "width": 400
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1,
        "id": "ea3a05db-2a1f-47d4-9f12-1f8138c872d5",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "923f3c47-f0e8-4582-a293-ce320e67a5a7",
                "leftValue": "={{ $json.data.type }}",
                "rightValue": "scenario",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "eb4f00c7-84ad-4763-8e38-ee401014bad5",
                "leftValue": "",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          96,
          1024
        ],
        "id": "5bb4d8aa-790c-4286-ad8d-3e376417166a",
        "name": "If"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.iot.yandex.net/v1.0/devices/actions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "OAuth y0__xCz9dpKGIv0OyDi3uOzFR-JFhcGUUpU-lK-xYzT8FIkJVEQ"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"devices\": [\n        {\n            \"id\": \"{{ $json.data.device_id }}\",\n            \"actions\": [\n                {\n                    \"type\": \"devices.capabilities.on_off\",\n                    \"state\": {\n                        \"instance\": \"on\",\n                        \"value\": {{ $json.data.action }}\n                    }\n                }\n            ]\n        }\n    ]\n}",
          "options": {
            "timeout": 500
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          320,
          1120
        ],
        "id": "9e27e790-0101-4e7e-9b63-ba1e0f5ff941",
        "name": "Действие с устройством",
        "retryOnFail": true,
        "waitBetweenTries": 200,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.iot.yandex.net/v1.0/scenarios/{{ $json.data.device_id }}/actions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "OAuth y0__xCz9dpKGIv0OyDi3uOzFR-JFhcGUUpU-lK-xYzT8FIkJVEQ"
              }
            ]
          },
          "options": {
            "timeout": 500
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          320,
          928
        ],
        "id": "ee10a38c-283d-4180-836d-7631c5f346da",
        "name": "Выполнение сценария",
        "retryOnFail": true,
        "waitBetweenTries": 200
      },
      {
        "parameters": {
          "jsCode": "// Выясняем кто что сделал и готовим данные для выполнения действия\n\n// Получаем данные из сообщения (предполагая, что _items определено в вашем окружении)\nconst message = $input.first().json.callback_query;\n\n// Устройства\nconst devicesId = {\n  \"Ванная\": \"2f9f9cc8-ada2-4bde-bd85-b9885ae28f36\",\n  \"Коридор\": \"65bcfad0-4759-4cb7-8654-7584b2fc96d0\",\n  \"Кухня\": \"a56d4cb7-621e-44ba-b825-4e9606a7acb4\",\n  \"Зал\": \"b0adbe30-5b28-40d1-9bf2-ba15aadd70bb\",\n  \"Спальня\": \"9af46f0f-c0b5-4604-9240-476eea453f8f\",\n  \"Лента\": \"\",\n  \"Пылесос\": \"2d5b0ab8-7880-4d79-a368-6120be845bfc\",\n  \"Шторы\": \"0197d9e0-ca35-4ea2-a31a-51516c63cdfe\",\n  \"Домофон\": \"90632374-cc25-4911-81a7-5792fa888a16\"\n};\n\n// Только верхний свет\nconst lightUp = [\n  \"2f9f9cc8-ada2-4bde-bd85-b9885ae28f36\",  // Ванная\n  \"65bcfad0-4759-4cb7-8654-7584b2fc96d0\",  // Коридор\n  \"a56d4cb7-621e-44ba-b825-4e9606a7acb4\",  // Кухня\n  \"b0adbe30-5b28-40d1-9bf2-ba15aadd70bb\",  // Зал\n  \"f6826740-39db-484e-9e3e-2b2a7ed2f5ee\"   // Спальня\n];\n\nconst key = message.data; // Пришло сообщение от кнопки\nconst deviceAction = key.split(\"_\"); // Устройство и действие\n\nlet data = {}; // Ответ (по умолчанию объект)\n\nif (deviceAction.length === 2) {\n  let action = null;\n  let type = \"action\";\n  let deviceId;\n  const [deviceName, actionType] = deviceAction; // Деструктуризация для читаемости\n\n  if (deviceName in devicesId) {\n    deviceId = devicesId[deviceName];\n\n    if (actionType === \"off\") {\n      action = false;\n    } else if (actionType === \"on\") {\n      action = true;\n    } else if (actionType === \"scenario\") {\n      type = \"scenario\";\n      action = \"scenario\";\n    }\n\n  } else {\n    // Устройства нет в списке. Возможно это общая команда\n    if (deviceName === \"Свет\") {\n      // Общая команда для выключения света\n      const responseDataList = [];\n      for (const id of lightUp) {\n        const cmd = {\n          \"type\": type,\n          \"action\": false,\n          \"device_id\": id,\n        };\n        responseDataList.push({\"json\": {\"data\": cmd}});\n      }\n      // Внимание: Здесь мы имитируем \"return data\" из Python, \n      // сразу возвращая массив и завершая выполнение скрипта.\n      return responseDataList;\n      // data = responseDataList; // Заменяем объект на массив\n    }\n  }\n\n  // Проверяем и формируем ответ для одиночного действия\n  if (action !== null && deviceId) {\n    data = {\n      \"type\": type,\n      \"action\": action,\n      \"device_id\": deviceId,\n    };\n  }\n}\n\nreturn [{\"json\": {\"data\": data}}]; // Итоговый возврат данных, если data не массив\n\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -112,
          1184
        ],
        "id": "b8448730-76c3-480e-be59-ad791c95af2a",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "language": "pythonNative",
          "pythonCode": "# Кто может управлять\ntrue_ids = [249503190, 326830581]\n\nquery = _items[0][\"json\"]\n\nfrom_id = 0\nif query.get(\"message\"):\n  from_id = query[\"message\"][\"from\"][\"id\"]\nelse:\n  from_id = query[\"callback_query\"][\"from\"][\"id\"]\n\nif from_id in true_ids:\n  return query\nreturn [{\"json\": {}}]"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -560,
          832
        ],
        "id": "e6100e4c-4547-4b86-b359-cd4921a65426",
        "name": "Авторизация py"
      },
      {
        "parameters": {
          "jsCode": "// Кто может управлять\nconst true_ids = [249503190, 326830581];\n\nconst query = $input.first().json;\n\nlet from_id = 0;\nif (query.message) {\n  from_id = query.message.from.id;\n} else {\n  from_id = query.callback_query.from.id;\n}\n\nif (true_ids.includes(from_id)) {\n  return query;\n}\n\nreturn [{ json: {} }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -560,
          1008
        ],
        "id": "a70bfb34-6f2c-43ac-91fb-ba4c88c5ba5e",
        "name": "Авторизация"
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Авторизация",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Маршрутизатор": {
        "main": [
          [
            {
              "node": "start",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Вывод кнопок",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Определение действия": {
        "main": [
          []
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Выполнение сценария",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Действие с устройством",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Авторизация py": {
        "main": [
          []
        ]
      },
      "Авторизация": {
        "main": [
          [
            {
              "node": "Маршрутизатор",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "avdivo Алексей",
    "name": "Version 3e4da736",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "3e4da736-1827-4c8c-9efd-14e9254b8ba2",
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Авторизация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Маршрутизатор": {
      "main": [
        [
          {
            "node": "start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Вывод кнопок",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Определение действия": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Выполнение сценария",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Действие с устройством",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Авторизация py": {
      "main": [
        []
      ]
    },
    "Авторизация": {
      "main": [
        [
          {
            "node": "Маршрутизатор",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-23T20:20:28.377Z",
  "id": "Xv74VXyZbI92ayn2",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Умный дом Telegram bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {
          "chatIds": ""
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -784,
        832
      ],
      "id": "1684eee6-16b4-4d08-b757-2ddf8960cd36",
      "name": "Telegram Trigger",
      "webhookId": "0f55084e-c453-4149-8627-94a97313c8b8",
      "credentials": {
        "telegramApi": {
          "id": "kc5OeK071IbNuD4O",
          "name": "Умный дом"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "Нажмите кнопку чтобы отобразить панель управления",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🔼 Показать кнопки 🔼",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -112,
        640
      ],
      "id": "a65c52ed-568d-473f-aef9-146218d01e38",
      "name": "start",
      "webhookId": "9f534039-81ba-4071-8ae9-5ccc323cdd0c",
      "credentials": {
        "telegramApi": {
          "id": "kc5OeK071IbNuD4O",
          "name": "Умный дом"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "Все действия",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Спальня   🟢  ",
                    "additionalFields": {
                      "callback_data": "Спальня_on"
                    }
                  },
                  {
                    "text": "Спальня   🔴  ",
                    "additionalFields": {
                      "callback_data": "Спальня_off"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Зал             🟢  ",
                    "additionalFields": {
                      "callback_data": "Зал_on"
                    }
                  },
                  {
                    "text": "Зал             🔴  ",
                    "additionalFields": {
                      "callback_data": "Зал_off"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Коридор   🟢  ",
                    "additionalFields": {
                      "callback_data": "Коридор_on"
                    }
                  },
                  {
                    "text": "Коридор   🔴  ",
                    "additionalFields": {
                      "callback_data": "Коридор_off"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Ванная        🟢  ",
                    "additionalFields": {
                      "callback_data": "Ванная_on"
                    }
                  },
                  {
                    "text": "Ванная        🔴  ",
                    "additionalFields": {
                      "callback_data": "Ванная_off"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Кухня         🟢  ",
                    "additionalFields": {
                      "callback_data": "Кухня_on"
                    }
                  },
                  {
                    "text": "Кухня         🔴  ",
                    "additionalFields": {
                      "callback_data": "Кухня_off"
                    }
                  }
                ]
              }
            },
            {},
            {
              "row": {
                "buttons": [
                  {
                    "text": "Шторы      🟢  ",
                    "additionalFields": {
                      "callback_data": "Шторы_on"
                    }
                  },
                  {
                    "text": "Шторы      🔴  ",
                    "additionalFields": {
                      "callback_data": "Шторы_off"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Пылесос   🟢  ",
                    "additionalFields": {
                      "callback_data": "Пылесос_on"
                    }
                  },
                  {
                    "text": "Пылесос   🔴  ",
                    "additionalFields": {
                      "callback_data": "Пылесос_off"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Выключить свет везде       🔴  ",
                    "additionalFields": {
                      "callback_data": "Свет_off"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Домофон   🏠  ",
                    "additionalFields": {
                      "callback_data": "Домофон_scenario"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -112,
        832
      ],
      "id": "adc64393-f26b-4edc-a098-1747d1a51cc6",
      "name": "Вывод кнопок",
      "webhookId": "6b2d1573-159e-4030-8ee6-40ac53afaf30",
      "credentials": {
        "telegramApi": {
          "id": "kc5OeK071IbNuD4O",
          "name": "Умный дом"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1a83bb80-1b44-4aff-be80-a966e097b3a6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "58ef493f-c698-47ec-90df-f9fe09ee73c4",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "🔼 Показать кнопки 🔼",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -336,
        816
      ],
      "id": "f1ed94e2-09b9-419b-b77b-3b87ace2399b",
      "name": "Маршрутизатор"
    },
    {
      "parameters": {
        "content": "## Телеграмм бот для управления устройствами умного дома\nВыводит в телеграмм список кнопок для включения и выключения отдельных устройств и кнопку выключения всего верхнего света",
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        576
      ],
      "typeVersion": 1,
      "id": "7ef4c5f3-2492-4c5e-8c52-8047b64ff803",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Выясняем кто что сделал и готовим данные для выполнения действия\n\n# Получаем данные из сообщения\nmessage = _items[0][\"json\"][\"callback_query\"]\n\n# Устройства\ndevices_id = {\n  \"Ванная\": \"2f9f9cc8-ada2-4bde-bd85-b9885ae28f36\",\n  \"Коридор\": \"65bcfad0-4759-4cb7-8654-7584b2fc96d0\",\n  \"Кухня\": \"a56d4cb7-621e-44ba-b825-4e9606a7acb4\",\n  \"Зал\": \"b0adbe30-5b28-40d1-9bf2-ba15aadd70bb\",\n  \"Спальня\": \"f6826740-39db-484e-9e3e-2b2a7ed2f5ee\",\n  \"Лента\": \"\",\n  \"Пылесос\": \"2d5b0ab8-7880-4d79-a368-6120be845bfc\",\n  \"Шторы\": \"0197d9e0-ca35-4ea2-a31a-51516c63cdfe\", \n  \"Домофон\": \"90632374-cc25-4911-81a7-5792fa888a16\"\n}\n\n# Только верхний свет\nlight_up = [\n  \"2f9f9cc8-ada2-4bde-bd85-b9885ae28f36\",  # Ванная\n  \"65bcfad0-4759-4cb7-8654-7584b2fc96d0\",  # Коридор\n  \"a56d4cb7-621e-44ba-b825-4e9606a7acb4\",  # Кухня\n  \"b0adbe30-5b28-40d1-9bf2-ba15aadd70bb\",  # Зал\n  \"f6826740-39db-484e-9e3e-2b2a7ed2f5ee\"   # Спальня\n]\n\nkey = message.get(\"data\")  # Пришло сообщение от кнопки\ndevice_action = key.split(\"_\")  # Устройство и действие\n\ndata = {}  # Ответ\nif len(device_action) == 2:\n  # Скорее всего нажата кнопка\n  action = None  # Действие\n  type = \"action\"\n  if device_action[0] in devices_id:\n    # Считаем что нажата кнопка\n    device_id = devices_id[device_action[0]]  # Название устройства\n    \n    if device_action[1] == \"off\":\n      # Выключение\n      action = False\n    elif device_action[1] == \"on\":\n      # Включение\n      action = True\n    elif device_action[1] == \"scenario\":\n      # Выполнение сценария\n      type = \"scenario\"\n      action = \"scenario\"\n      \n  else:\n    # Устройства нет в списке. Возможно это общая команда\n    if device_action[0] == \"Свет\":\n      # Общая команда для выключения света\n      data = []\n      for device_id in light_up:\n        cmd = {\n          \"type\": type,\n          \"action\": False,\n          \"device_id\": device_id,\n        }\n        data.append({\"json\": {\"data\": cmd}})\n      return data\n\n# Проверяем и формируем ответ\nif action is not None:\n  data = {\n    \"type\": type,\n    \"action\": action,\n    \"device_id\": device_id,\n  }\n\nreturn [{\"json\": {\"data\": data}}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        1024
      ],
      "id": "faa2fe4d-ff29-4aa4-8b45-f5ec60966799",
      "name": "Определение действия",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://api.iot.yandex.net/v1.0/user/info",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "OAuth y0__xCz9dpKGIv0OyDi3uOzFR-JFhcGUUpU-lK-xYzT8FIkJVEQ"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -800,
        304
      ],
      "id": "820a2b3e-02f9-44cb-824c-3157424eb65a",
      "name": "Информация об умном доме"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.iot.yandex.net/v1.0/devices/actions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "OAuth y0__xCz9dpKGIv0OyDi3uOzFR-JFhcGUUpU-lK-xYzT8FIkJVEQ"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"devices\": [\n        {\n            \"id\": \"9af46f0f-c0b5-4604-9240-476eea453f8f\",\n            \"actions\": [\n                {\n                    \"type\": \"devices.capabilities.on_off\",\n                    \"state\": {\n                        \"instance\": \"on\",\n                        \"value\": true\n                    }\n                }\n            ]\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -528,
        304
      ],
      "id": "66779012-0e0f-4ad1-afdb-15c69dd1dd04",
      "name": "Проба управления"
    },
    {
      "parameters": {
        "content": "## Управление \nДля выключения и включения менять true/false\n``` json\n\"state\": {\n    \"instance\": \"on\",\n    \"value\": true\n }\n```",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        64
      ],
      "typeVersion": 1,
      "id": "aaaa6db1-97e0-4726-a658-7a6a584e24c8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Яндекс\n\n### API Умный дом\nhttps://yandex.ru/dev/dialogs/smart-home/doc/ru/concepts/platform-protocol\n\n### Создание приложения\nhttps://oauth.yandex.ru/client/new/api\n\n### Статья про отладку токена (Debug Token): \nhttps://yandex.ru/dev/id/doc/ru/tokens/debug-token\n\n1. Зайти в аккаунт\n2. Перейти к созданию приложения\n3. Название - любое\n4. Доступ к данным\n    - iot: view - список устройств\n    - iot: control -  управление устройствами\n5. В поле Redirect URI введите значение\nhttps://oauth.yandex.ru/verification_code \n6. Создать приложение\n7. На новой странице копируем Client ID\n8. Переход по ссылке вида:\nhttps://oauth.yandex.ru/authorize?response_type=token&client_id=<идентификатор приложения>\n9. Копируем полученный токен, его используем для создания строки авторизации.\n",
        "height": 768,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1488,
        64
      ],
      "typeVersion": 1,
      "id": "6ed1ddf2-d908-4da1-8d7f-519ff9ad05ac",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.iot.yandex.net/v1.0/scenarios/90632374-cc25-4911-81a7-5792fa888a16/actions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "OAuth y0__xCz9dpKGIv0OyDi3uOzFR-JFhcGUUpU-lK-xYzT8FIkJVEQ"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        96,
        304
      ],
      "id": "e9e6716c-26ee-4702-8a34-fcda55cf654a",
      "name": "Проба управления1"
    },
    {
      "parameters": {
        "content": "## Выполнение сценария\nhttps://yandex.ru/dev/dialogs/smart-home/doc/ru/concepts/platform-scenario\n\nАдрес для запуска сценария: `https://api.iot.yandex.net/v1.0/scenarios/{scenario_id}/actions`\n\nPOST запрос без тела. Пример (для домофона): \n\nhttps://api.iot.yandex.net/v1.0/scenarios/90632374-cc25-4911-81a7-5792fa888a16/actions",
        "height": 272,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "ea3a05db-2a1f-47d4-9f12-1f8138c872d5",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "923f3c47-f0e8-4582-a293-ce320e67a5a7",
              "leftValue": "={{ $json.data.type }}",
              "rightValue": "scenario",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "eb4f00c7-84ad-4763-8e38-ee401014bad5",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        1024
      ],
      "id": "5bb4d8aa-790c-4286-ad8d-3e376417166a",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.iot.yandex.net/v1.0/devices/actions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "OAuth y0__xCz9dpKGIv0OyDi3uOzFR-JFhcGUUpU-lK-xYzT8FIkJVEQ"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"devices\": [\n        {\n            \"id\": \"{{ $json.data.device_id }}\",\n            \"actions\": [\n                {\n                    \"type\": \"devices.capabilities.on_off\",\n                    \"state\": {\n                        \"instance\": \"on\",\n                        \"value\": {{ $json.data.action }}\n                    }\n                }\n            ]\n        }\n    ]\n}",
        "options": {
          "timeout": 500
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        320,
        1120
      ],
      "id": "9e27e790-0101-4e7e-9b63-ba1e0f5ff941",
      "name": "Действие с устройством",
      "retryOnFail": true,
      "waitBetweenTries": 200,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.iot.yandex.net/v1.0/scenarios/{{ $json.data.device_id }}/actions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "OAuth y0__xCz9dpKGIv0OyDi3uOzFR-JFhcGUUpU-lK-xYzT8FIkJVEQ"
            }
          ]
        },
        "options": {
          "timeout": 500
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        320,
        928
      ],
      "id": "ee10a38c-283d-4180-836d-7631c5f346da",
      "name": "Выполнение сценария",
      "retryOnFail": true,
      "waitBetweenTries": 200
    },
    {
      "parameters": {
        "jsCode": "// Выясняем кто что сделал и готовим данные для выполнения действия\n\n// Получаем данные из сообщения (предполагая, что _items определено в вашем окружении)\nconst message = $input.first().json.callback_query;\n\n// Устройства\nconst devicesId = {\n  \"Ванная\": \"2f9f9cc8-ada2-4bde-bd85-b9885ae28f36\",\n  \"Коридор\": \"65bcfad0-4759-4cb7-8654-7584b2fc96d0\",\n  \"Кухня\": \"a56d4cb7-621e-44ba-b825-4e9606a7acb4\",\n  \"Зал\": \"b0adbe30-5b28-40d1-9bf2-ba15aadd70bb\",\n  \"Спальня\": \"9af46f0f-c0b5-4604-9240-476eea453f8f\",\n  \"Лента\": \"\",\n  \"Пылесос\": \"2d5b0ab8-7880-4d79-a368-6120be845bfc\",\n  \"Шторы\": \"0197d9e0-ca35-4ea2-a31a-51516c63cdfe\",\n  \"Домофон\": \"90632374-cc25-4911-81a7-5792fa888a16\"\n};\n\n// Только верхний свет\nconst lightUp = [\n  \"2f9f9cc8-ada2-4bde-bd85-b9885ae28f36\",  // Ванная\n  \"65bcfad0-4759-4cb7-8654-7584b2fc96d0\",  // Коридор\n  \"a56d4cb7-621e-44ba-b825-4e9606a7acb4\",  // Кухня\n  \"b0adbe30-5b28-40d1-9bf2-ba15aadd70bb\",  // Зал\n  \"f6826740-39db-484e-9e3e-2b2a7ed2f5ee\"   // Спальня\n];\n\nconst key = message.data; // Пришло сообщение от кнопки\nconst deviceAction = key.split(\"_\"); // Устройство и действие\n\nlet data = {}; // Ответ (по умолчанию объект)\n\nif (deviceAction.length === 2) {\n  let action = null;\n  let type = \"action\";\n  let deviceId;\n  const [deviceName, actionType] = deviceAction; // Деструктуризация для читаемости\n\n  if (deviceName in devicesId) {\n    deviceId = devicesId[deviceName];\n\n    if (actionType === \"off\") {\n      action = false;\n    } else if (actionType === \"on\") {\n      action = true;\n    } else if (actionType === \"scenario\") {\n      type = \"scenario\";\n      action = \"scenario\";\n    }\n\n  } else {\n    // Устройства нет в списке. Возможно это общая команда\n    if (deviceName === \"Свет\") {\n      // Общая команда для выключения света\n      const responseDataList = [];\n      for (const id of lightUp) {\n        const cmd = {\n          \"type\": type,\n          \"action\": false,\n          \"device_id\": id,\n        };\n        responseDataList.push({\"json\": {\"data\": cmd}});\n      }\n      // Внимание: Здесь мы имитируем \"return data\" из Python, \n      // сразу возвращая массив и завершая выполнение скрипта.\n      return responseDataList;\n      // data = responseDataList; // Заменяем объект на массив\n    }\n  }\n\n  // Проверяем и формируем ответ для одиночного действия\n  if (action !== null && deviceId) {\n    data = {\n      \"type\": type,\n      \"action\": action,\n      \"device_id\": deviceId,\n    };\n  }\n}\n\nreturn [{\"json\": {\"data\": data}}]; // Итоговый возврат данных, если data не массив\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        1184
      ],
      "id": "b8448730-76c3-480e-be59-ad791c95af2a",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Кто может управлять\ntrue_ids = [249503190, 326830581]\n\nquery = _items[0][\"json\"]\n\nfrom_id = 0\nif query.get(\"message\"):\n  from_id = query[\"message\"][\"from\"][\"id\"]\nelse:\n  from_id = query[\"callback_query\"][\"from\"][\"id\"]\n\nif from_id in true_ids:\n  return query\nreturn [{\"json\": {}}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        832
      ],
      "id": "e6100e4c-4547-4b86-b359-cd4921a65426",
      "name": "Авторизация py"
    },
    {
      "parameters": {
        "jsCode": "// Кто может управлять\nconst true_ids = [249503190, 326830581];\n\nconst query = $input.first().json;\n\nlet from_id = 0;\nif (query.message) {\n  from_id = query.message.from.id;\n} else {\n  from_id = query.callback_query.from.id;\n}\n\nif (true_ids.includes(from_id)) {\n  return query;\n}\n\nreturn [{ json: {} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        1008
      ],
      "id": "a70bfb34-6f2c-43ac-91fb-ba4c88c5ba5e",
      "name": "Авторизация"
    }
  ],
  "pinData": {},
  "repo_name": "N8N",
  "repo_owner": "avdivo",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "Europe/Minsk"
  },
  "shared": [
    {
      "updatedAt": "2025-12-23T20:20:28.377Z",
      "createdAt": "2025-12-23T20:20:28.377Z",
      "role": "workflow:owner",
      "workflowId": "Xv74VXyZbI92ayn2",
      "projectId": "GcF8pQl3OQ6WizlQ"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-13T14:03:52.486Z",
  "versionId": "3e4da736-1827-4c8c-9efd-14e9254b8ba2"
}